<template>
  <b-container fluid="fluid">
    <page-header title="FAQ" hide-search />

    <white-panel :title="$t('faq_categories')" :subtitle="$t('manage_faq_categories')">
      <template #actions>
        <div class="d-flex flex-wrap align-items-start">
          <nuxt-link class="btn btn-secondary mr-3 mb-3" :to="$localePath('pages-faq-create')">
            {{ $t("add_faq") }}
          </nuxt-link>

          <b-button variant="primary" v-b-modal.faq-category>
            <i class="icon-plus"></i>
            {{ $t('add') }}
          </b-button>
        </div>
      </template>

      <template #default>
        <div class="faq-categories">
          <div class="faq-categories__item d-flex align-items-center" v-for="faq in faq_categories" :key="faq.id">
            <p class="faq-categories__title">{{ faq.name[$i18n.locale] }}</p>
            <div class="table-actions">
              <button @click="selectFaqCategory(faq)">
                <i class="icon-edit"></i>
              </button>
              <button @click="confirmDetele(faq.id)">
                <i class="icon-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </template>
    </white-panel>
    <!-- white panel -->

    <b-modal centered hide-footer size="sm" id="faq-category" @hidden="resetForm">
      <template #modal-header>
        <h2 class="block-title">{{ edit_mode ? $t('faq_category_update') : $t('faq_category_creation') }}</h2>
      </template>

      <template #default>
        <b-form @submit.prevent="handleSubmit">
          <form-field :label="$t('lang_az')" v-model="form.name.az" :is-invalid="$v.form.name.az.$error">
            <b-form-invalid-feedback v-if="!$v.form.name.az.required">
              {{ $t("required") }}
            </b-form-invalid-feedback>
          </form-field>

          <form-field :label="$t('lang_ru')" v-model="form.name.ru" :is-invalid="$v.form.name.ru.$error">
            <b-form-invalid-feedback v-if="!$v.form.name.ru.required">
              {{ $t("required") }}
            </b-form-invalid-feedback>
          </form-field>

          <form-field :label="$t('lang_en')" v-model="form.name.en" :is-invalid="$v.form.name.en.$error">
            <b-form-invalid-feedback v-if="!$v.form.name.en.required">
              {{ $t("required") }}
            </b-form-invalid-feedback>
          </form-field>

          <div class="d-flex justify-content-end">
            <b-button variant="primary" type="submit">
              {{ $t("save") }}
            </b-button>
            <b-button class="ml-3" variant="danger" type="button" @click="$bvModal.hide('faq-category')">
              {{ $t("close") }}
            </b-button>
          </div>
        </b-form>
      </template>
    </b-modal>
    <!-- modal -->
  </b-container>
</template>

<script>
import { mapGetters } from "vuex";
import { required } from "vuelidate/lib/validators";
import deletable from "@/mixins/deletable";

export default {
  name: "FaqCategories",
  mixins: [deletable],
  data() {
    return {
      pending: false,
      edit_mode: false,
      form: {
        id: null,
        name: {
          az: "",
          ru: "",
          en: "",
        }
      }
    }
  },
  validations: {
    form: {
      name: {
        az: { required },
        ru: { required },
        en: { required }
      }
    }
  },
  computed: {
    ...mapGetters({
      faq_categories: "faqCategories/getFaqCategories"
    })
  },
  methods: {
    selectFaqCategory(data) {
      this.$bvModal.show("faq-category");
      this.edit_mode = true;
      this.form = {
        ...this.form,
        id: data.id,
        name: { ...data.name }
      }
    },

    handleSubmit() {
      if (this.edit_mode) {
        this.updateFaqCategory();
      } else {
        this.createFaqCategory();
      }

      this.$bvModal.hide("faq-category");
    },

    async createFaqCategory() {
      if (this.validForm()) {
        try {
          this.pending = true;
          await this.$store.dispatch("faqCategories/create", this.form);
          this.$toast.success(this.$t("successfull_operation"));
        } catch (e) {
          this.pending = false;
          this.$toast.error(this.$t("error_occurred"));
        }
      }
    },

    async updateFaqCategory() {
      if (this.validForm()) {
        try {
          this.pending = true;
          await this.$store.dispatch("faqCategories/update", this.form);
          this.$toast.success(this.$t("successfull_operation"));
        } catch (e) {
          this.pending = false;
          this.$toast.error(this.$t("error_occurred"));
        }
      }
    },

    validForm() {
      this.$v.form.$touch();
      if (this.$v.$invalid) {
        this.$toast.error(this.$t("invalid_credentials"));
        return false;
      }
      return true;
    },

    resetForm() {
      this.edit_mode = false;
      this.form.id = "";
      this.form.name = {
        az: "",
        ru: "",
        en: "",
      }
      this.$v.$reset();
    },

    confirmDetele(faq_id) {
      this.deletable(() => {
        this.$store.dispatch("faqCategories/delete", faq_id);
      })
    },
  },
  async asyncData({ store }) {
    await store.dispatch("faqCategories/fetchAll");
  }
}
</script>
