<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.pages')" hide-search />

    <white-panel :title="$t('menu.pages')" :subtitle="$t('page_update')">
      <create-page-form :pending="pending" :initial-data="page" @form-submit="handleSubmit" />
    </white-panel>
  </b-container>
</template>

<script>
import { mapGetters } from "vuex";
import CreatePageForm from "@/components/static/CreatePageForm";

export default {
  name: "UpdatePage",
  components: {
    CreatePageForm
  },
  data() {
    return {
      pending: false
    }
  },
  computed: {
    ...mapGetters({
      page: "static/getPage"
    })
  },
  methods: {
    async handleSubmit({ id, form_data }) {
      try {
        this.pending = true;
        await this.$store.dispatch("static/update", { id, form_data });
        await this.$router.push(this.localeRoute("pages"));
        this.$toast.success(this.$t("successfull_operation"));
      } catch (e) {
        this.pending = false;
        this.$toast.success(this.$t("invalid_credentials"));
      }
    }
  },
  async asyncData({ params, store }) {
    await store.dispatch("static/fetchOne", params.id);
  }
}
</script>
