<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.about_us')" hide-search />

    <white-panel :loading="loading" :title="$t('menu.about_us')" :subtitle="$t('company_information')">
      <b-form class="w-75 w-xs-100" @submit.prevent="handleSubmit">
        <b-row>
          <b-col md="6">
            <b-form-group :label="`${$t('image')} 1`">
              <image-uploader
                ref="file1"
                :height="200"
                :uploaded_image="form.image_1"
                @image-updated="image1Updated"
                @delete-image="deleteImage1"
                :class="{ 'is-invalid': $v.form.image_1.file.$error }"
              />
              <b-form-invalid-feedback v-if="$v.form.image_1.file.$error">
                {{ $t("required") }}
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>

          <b-col md="6">
            <b-form-group :label="`${$t('image')} 2`">
              <image-uploader
                ref="file2"
                :height="200"
                :uploaded_image="form.image_2"
                @image-updated="image2Updated"
                @delete-image="deleteImage2"
                :class="{ 'is-invalid': $v.form.image_2.file.$error }"
              />
              <b-form-invalid-feedback v-if="$v.form.image_2.file.$error">
                {{ $t("required") }}
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>

          <b-col cols="12">
            <b-tabs v-model="active_tab" pills>
              <b-tab title="AZ" :title-item-class="{ invalid: az_invalid }">
                <client-only>
                  <b-form-group :label="`${$t('information')} 1`">
                    <vue-editor
                      v-model="form.description_1.az"
                      :editorToolbar="toolbar_options"
                      :class="{ 'is-invalid' : $v.form.description_1.az.$error }"
                    />
                    <b-form-invalid-feedback v-if="$v.form.description_1.az.$error">
                      {{ $t("required") }}
                    </b-form-invalid-feedback>
                  </b-form-group>

                  <b-form-group :label="`${$t('information')} 2`">
                    <vue-editor
                      v-model="form.description_2.az"
                      :editorToolbar="toolbar_options"
                      :class="{ 'is-invalid' : $v.form.description_2.az.$error }"
                    />
                    <b-form-invalid-feedback v-if="$v.form.description_2.az.$error">
                      {{ $t("required") }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </client-only>
              </b-tab>
              <!-- tab -->

              <b-tab title="RU" :title-item-class="{ invalid: ru_invalid }">
                <client-only>
                  <b-form-group :label="`${$t('information')} 1`">
                    <vue-editor
                      v-model="form.description_1.ru"
                      :editorToolbar="toolbar_options"
                      :class="{ 'is-invalid' : $v.form.description_1.ru.$error }"
                    />
                    <b-form-invalid-feedback v-if="$v.form.description_1.ru.$error">
                      {{ $t("required") }}
                    </b-form-invalid-feedback>
                  </b-form-group>

                  <b-form-group :label="`${$t('information')} 2`">
                    <vue-editor
                      v-model="form.description_2.ru"
                      :editorToolbar="toolbar_options"
                      :class="{ 'is-invalid' : $v.form.description_2.ru.$error }"
                    />
                    <b-form-invalid-feedback v-if="$v.form.description_2.ru.$error">
                      {{ $t("required") }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </client-only>
              </b-tab>
              <!-- tab -->

              <b-tab title="EN" :title-item-class="{ invalid: en_invalid }">
                <client-only>
                  <b-form-group :label="`${$t('information')} 1`">
                    <vue-editor
                      v-model="form.description_1.en"
                      :editorToolbar="toolbar_options"
                      :class="{ 'is-invalid' : $v.form.description_1.en.$error }"
                    />
                    <b-form-invalid-feedback v-if="$v.form.description_1.en.$error">
                      {{ $t("required") }}
                    </b-form-invalid-feedback>
                  </b-form-group>

                  <b-form-group :label="`${$t('information')} 2`">
                    <vue-editor
                      v-model="form.description_2.en"
                      :editorToolbar="toolbar_options"
                      :class="{ 'is-invalid' : $v.form.description_2.en.$error }"
                    />
                    <b-form-invalid-feedback v-if="$v.form.description_2.en.$error">
                      {{ $t("required") }}
                    </b-form-invalid-feedback>
                  </b-form-group>
                </client-only>
              </b-tab>
              <!-- tab -->
            </b-tabs>
            <!-- tabs -->

            <b-button type="submit" variant="primary" block>{{ $t("save") }}</b-button>
          </b-col>
        </b-row>
      </b-form>
    </white-panel>
  </b-container>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import { required } from "vuelidate/lib/validators";
import ImageUploader from "@/components/elements/ImageUploader";

export default {
  name: "PagesAbout",
  components: {
    ImageUploader
  },
  data() {
    return {
      pending: false,
      active_tab: 0,
      deleted_images: [],
      toolbar_options: [
        [{ header: [1, 2, 3, 4, 5, 6, false] }],
        ["bold", "italic", "underline", "link"],
        [{ list: "ordered" }, { list: "bullet" }],
        [{ align: "" }, { align: "center" }, { align: "right" }, { align: "justify" }],
      ],
      form: {
        image_1: { id: "", file: "" },
        image_2: { id: "", file: "" },
        description_1: {
          az: "",
          ru: "",
          en: ""
        },
        description_2: {
          az: "",
          ru: "",
          en: ""
        },
      }
    }
  },
  validations: {
    form: {
      image_1: {
        file: { required }
      },
      image_2: {
        file: { required }
      },
      description_1: {
        az: { required },
        ru: { required },
        en: { required }
      },
      description_2: {
        az: { required },
        ru: { required },
        en: { required }
      }
    }
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading
    }),
    ...mapGetters({
      page_data: "about/getPageData"
    }),
    az_invalid() {
      return (this.$v.form.description_1.az.$error || this.$v.form.description_2.az.$error);
    },
    ru_invalid() {
      return (this.$v.form.description_1.ru.$error || this.$v.form.description_2.ru.$error);
    },
    en_invalid() {
      return (this.$v.form.description_1.en.$error || this.$v.form.description_2.en.$error);
    }
  },
  methods: {
    async handleSubmit() {
      this.$v.form.$touch();

      if (this.$v.$invalid) {
        this.$toast.error(this.$t("invalid_credentials"));
        return;
      }

      if (!this.pending) {
        try {
          this.pending = true;
          const form_data = this.prepareFormData();
          await this.$store.dispatch("about/updatePageData", form_data);
          this.$toast.success(this.$t("successfull_operation"));
          this.pending = false;
        } catch (e) {
          this.pending = false;
          this.$toast.error(this.$t("error_occurred"));
        }
      }
    },

    prepareFormData() {
      const form_data = new FormData();
      const file1 = this.$refs.file1.image.file;
      const file2 = this.$refs.file2.image.file;

      this.deleted_images.map((key) => {
        form_data.append("deleted_images[]", key);
      });

      file1 && form_data.append("image_1", file1);
      file2 && form_data.append("image_2", file2);
      form_data.append("description_1[az]", this.form.description_1.az);
      form_data.append("description_1[ru]", this.form.description_1.ru);
      form_data.append("description_1[en]", this.form.description_1.en);
      form_data.append("description_2[az]", this.form.description_2.az);
      form_data.append("description_2[ru]", this.form.description_2.ru);
      form_data.append("description_2[en]", this.form.description_2.en);

      return form_data;
    },

    image1Updated(image) {
      this.form.image_1 = image;
    },

    image2Updated(image) {
      this.form.image_2 = image;
    },

    deleteImage1(id) {
      this.form.image_1 = { id: "", file: "" };
      this.deleted_images.push(id);
    },

    deleteImage2(id) {
      this.form.image_2 = { id: "", file: "" };
      this.deleted_images.push(id);
    },
  },
  created() {
    this.form = {
      ...this.page_data,
      description_1: { ...this.page_data.description_1 },
      description_2: { ...this.page_data.description_2 }
    }
  },
  async asyncData({ store }) {
    await store.dispatch("about/fetchPageData");
  }
}
</script>
