<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.pages')" hide-search />

    <white-panel :title="$t('menu.pages')" :subtitle="$t('page_creation')">
      <create-page-form :pending="pending" @form-submit="handleSubmit" />
    </white-panel>
  </b-container>
</template>

<script>
import CreatePageForm from "@/components/static/CreatePageForm";

export default {
  name: "CreatePage",
  components: {
    CreatePageForm
  },
  data() {
    return {
      pending: false
    }
  },
  methods: {
    async handleSubmit({ form_data }) {
      try {
        this.pending = true;
        await this.$store.dispatch("static/create", form_data);
        await this.$router.push(this.localeRoute("pages"));
        this.$toast.success(this.$t("successfull_operation"));
      } catch (e) {
        this.pending = false;
        this.$toast.success(this.$t("invalid_credentials"));
      }
    }
  }
}
</script>
