<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.pages')" hide-search />

    <white-panel :loading="loading" :title="$t('menu.pages')" :subtitle="$t('manage_pages')">
      <template #actions>
        <div class="d-flex flex-wrap align-items-start">
          <div class="w-xs-100 mr-3 mb-3">
            <v-select
              class="sm"
              :clearable="false"
              v-model="data_filters.active"
              :options="filter_options"
              :reduce="data => data.value"
              :placeholder="$t('type')"
              @input="handleChange"
            >
              <template #selected-option="{ label }">{{ $t(label) }}</template>
              <template #option="{ label }">{{ $t(label) }}</template>
            </v-select>
          </div>

          <nuxt-link class="btn btn-primary" :to="$localePath('pages-create')">
            <i class="icon-plus"></i>
            {{ $t("add") }}
          </nuxt-link>
        </div>
      </template>
      <!-- actions -->

      <template #default>
        <data-table :fields="pages.fields">
          <draggable tag="tbody" v-model="pages_list" @end="handlePagesSort">
            <tr v-for="page in pages_list" :key="page.id">
              <td>{{ page.id }}</td>
              <td>{{ page.slug }}</td>
              <td>{{ page.title }}</td>
              <td>
                <div class="table-actions">
                  <b-form-checkbox
                    switch
                    :checked="page.active === 1"
                    @change="(e) => handleTogggleActive(e, page.id)"
                  >
                    &nbsp;
                  </b-form-checkbox>
                  <nuxt-link :to="$localePath('pages-id', { id: page.id })">
                    <i class="icon-edit"></i>
                  </nuxt-link>
                </div>
              </td>
            </tr>
          </draggable>
        </data-table>
      </template>
      <!-- default -->
    </white-panel>
  </b-container>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import deletable from "@/mixins/deletable";

export default {
  name: "PagesIndex",
  data() {
    return {
      data_filters: {
        active: ""
      },
      filter_options: [
        { label: "active", value: true },
        { label: "inactive", value: false }
      ]
    }
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading
    }),
    ...mapGetters({
      pages: "static/getPages"
    }),
    pages_list: {
      get() {
        return this.pages.items;
      },
      set(value) {
        this.$store.commit("SET_ITEMS", { module: "static", items: value });
      }
    }
  },
  watch: {
    "$route.query"(query) {
      this.$store.dispatch("static/fetchAll", query);
    },
  },
  methods: {
    handleChange() {
      this.$router.push({
        query: {
          active: this.data_filters.active
        }
      });
    },

    async handlePagesSort() {
      try {
        await this.$store.dispatch("static/sort", this.pages_list);
        this.$toast.success(this.$t("successfull_operation"));
      } catch(error) {
        this.$toast.error(this.$t("error_occurred"));
      }
    },

    async handleTogggleActive(e, page_id) {
      try {
        await this.$store.dispatch("static/toggle", { id: page_id, active: e });
        this.$toast.success(this.$t("successfull_operation"));
      } catch(error) {
        this.$toast.error(this.$t("error_occurred"));
      }
    },

    // confirmDetele(page_id) {
    //   this.deletable(() => {
    //     this.$store.dispatch("static/delete", page_id);
    //   })
    // },
  },
  async asyncData({ query, store }) {
    await store.dispatch("static/fetchAll", query);
  }
}
</script>
