<template>
  <b-form class="w-75 w-xs-100" @submit.prevent="handleSubmit">
    <div v-show="is_static_template">
      <b-form-group :label="$t('template')">
        <v-select :clearable="false" v-model="form.template" :options="page_templates" :reduce="data => data.value" />
      </b-form-group>

      <b-form-group :label="$t('image')">
        <image-uploader
          ref="file"
          :height="249"
          :uploaded_image="form.cover"
          @image-updated="imageUpdated"
          @delete-image="deleteImage"
        />
      </b-form-group>

      <form-field :label="$t('external_url')" v-model="form.external_url" />
    </div>

    <b-tabs v-model="active_tab" pills>
      <b-tab title="AZ" :title-item-class="{ invalid: az_invalid }">
        <form-field :label="$t('title')" v-model="form.title.az" :is-invalid="$v.form.title.az.$error">
          <b-form-invalid-feedback v-if="!$v.form.title.az.$error">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>

        <template v-if="is_static_template">
          <client-only>
            <b-form-group :label="$t('information')">
              <vue-editor
                v-model="form.content.az"
                :editorToolbar="toolbar_options"
                :class="{ 'is-invalid': $v.form.content.az.$error }"
              />
              <b-form-invalid-feedback v-if="$v.form.content.az.$error">
                {{ $t("required") }}
              </b-form-invalid-feedback>
            </b-form-group>
          </client-only>
        </template>
      </b-tab>
      <!-- tab -->

      <b-tab title="RU" :title-item-class="{ invalid: ru_invalid }">
        <form-field :label="$t('title')" v-model="form.title.ru" :is-invalid="$v.form.title.ru.$error">
          <b-form-invalid-feedback v-if="!$v.form.title.ru.$error">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>

        <template v-if="is_static_template">
          <client-only>
            <b-form-group :label="$t('information')">
              <vue-editor
                v-model="form.content.ru"
                :editorToolbar="toolbar_options"
                :class="{ 'is-invalid' : $v.form.content.ru.$error }"
              />
              <b-form-invalid-feedback v-if="$v.form.content.ru.$error">
                {{ $t("required") }}
              </b-form-invalid-feedback>
            </b-form-group>
          </client-only>
        </template>
      </b-tab>
      <!-- tab -->

      <b-tab title="EN" :title-item-class="{ invalid: en_invalid }">
        <form-field :label="$t('title')" v-model="form.title.en" :is-invalid="$v.form.title.en.$error">
          <b-form-invalid-feedback v-if="!$v.form.title.en.$error">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>

        <template v-if="is_static_template">
          <client-only>
            <b-form-group :label="$t('information')">
              <vue-editor
                v-model="form.content.en"
                :editorToolbar="toolbar_options"
                :class="{ 'is-invalid' : $v.form.content.en.$error }"
              />
              <b-form-invalid-feedback v-if="$v.form.content.en.$error">
                {{ $t("required") }}
              </b-form-invalid-feedback>
            </b-form-group>
          </client-only>
        </template>
      </b-tab>
      <!-- tab -->
    </b-tabs>
    <!-- tabs -->

    <div class="d-flex flex-wrap">
      <b-form-group>
        <b-form-checkbox v-model="form.active" :value="1" :unchecked-value="0" class="mr-3">
          {{ $t("display") }}
        </b-form-checkbox>
      </b-form-group>
      <b-form-group>
        <b-form-checkbox v-model="form.top_menu" :value="1" :unchecked-value="0" class="mr-3">
          {{ $t("upper_menu") }}
        </b-form-checkbox>
      </b-form-group>
      <b-form-group>
        <b-form-checkbox v-model="form.bottom_menu" :value="1" :unchecked-value="0">
          {{ $t("lower_menu") }}
        </b-form-checkbox>
      </b-form-group>
    </div>

    <div class="d-flex">
      <b-button class="mr-3" variant="primary" type="submit">
        <i class="icon-check"></i>
        {{ $t('submit') }}
      </b-button>
      <b-button variant="danger" type="button" @click="$router.go(-1)">
        <i class="icon-cancel"></i>
        {{ $t('reject') }}
      </b-button>
    </div>
  </b-form>
</template>

<script>
import { mapGetters} from "vuex";
import { required, requiredIf } from "vuelidate/lib/validators";
import ImageUploader from "@/components/elements/ImageUploader";

export default {
  name: "CreatePageForm",
  components: {
    ImageUploader
  },
  props: {
    pending: {
      type: Boolean,
      default: false
    },
    initialData: {
      type: Object,
      default: () => ({
        template: "plain-text",
        cover: { id: "", file: "" },
        active: 0,
        top_menu: 0,
        bottom_menu: 0,
        external_url: "",
        title: {
          az: "",
          ru: "",
          en: ""
        },
        content: {
          az: "",
          ru: "",
          en: ""
        }
      })
    }
  },
  data() {
    return {
      active_tab: 0,
      deleted_images: [],
      toolbar_options: [
        [{ header: [1, 2, 3, 4, 5, 6, false] }],
        ["bold", "italic", "underline", "link"],
        [{ list: "ordered" }, { list: "bullet" }],
        [{ align: "" }, { align: "center" }, { align: "right" }, { align: "justify" }],
      ],
      form: {
        ...this.initialData,
        title: { ...this.initialData.title },
        content: { ...this.initialData.content }
      }
    }
  },
  validations: {
    form: {
      title: {
        az: { required },
        ru: { required },
        en: { required },
      },
      content: {
        az: {
          required: requiredIf(function () {
            return this.is_static_template;
          })
        },
        ru: {
          required: requiredIf(function () {
            return this.is_static_template;
          })
        },
        en: {
          required: requiredIf(function () {
            return this.is_static_template;
          })
        },
      }
    }
  },
  computed: {
    ...mapGetters({
      page_templates: "static/getPageTemplates"
    }),
    is_static_template() {
      return this.form.template === "plain-text" || this.form.template === "campaign";
    },
    az_invalid() {
      return (this.$v.form.title.az.$error || this.$v.form.content.az.$error);
    },
    ru_invalid() {
      return (this.$v.form.title.ru.$error || this.$v.form.content.ru.$error);
    },
    en_invalid() {
      return (this.$v.form.title.en.$error || this.$v.form.content.en.$error);
    }
  },
  methods: {
    handleSubmit() {
      this.$v.form.$touch();

      if (this.$v.$invalid) {
        this.$toast.error(this.$t("invalid_credentials"));
        return;
      }

      const form_data = this.prepareFormData();
      !this.pending && this.$emit("form-submit", { id: this.form.id, form_data });
    },

    prepareFormData() {
      const form_data = new FormData();
      const file = this.$refs.file.image.file;

      this.deleted_images.map((key) => {
        form_data.append("deleted_images[]", key);
      });

      file && form_data.append("cover", file);
      form_data.append("template", this.form.template);
      form_data.append("title[az]", this.form.title.az);
      form_data.append("title[ru]", this.form.title.ru);
      form_data.append("title[en]", this.form.title.en);
      form_data.append("content[az]", this.form.content.az);
      form_data.append("content[ru]", this.form.content.ru);
      form_data.append("content[en]", this.form.content.en);
      form_data.append("active", this.form.active);
      form_data.append("top_menu", this.form.top_menu);
      form_data.append("bottom_menu", this.form.bottom_menu);
      this.form.external_url
        ? form_data.append("external_url", this.form.external_url)
        : form_data.append("external_url", "");

      return form_data;
    },

    imageUpdated(image) {
      this.form.cover = image;
    },

    deleteImage(id) {
      this.form.cover = { id: "", file: "" };
      this.deleted_images.push(id);
    }
  }
}
</script>
