<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.complaints')" />

    <white-panel :title="$t('menu.complaints')" :subtitle="$t('check_out_complaints')">
      <template #default>
        <data-table :fields="complaints.fields">
          <tbody>
            <tr v-for="complaint in complaints.items" :key="complaint.id">
              <td>{{ complaint.id }}</td>
              <td>{{ complaint.first_name }}</td>
              <td>{{ complaint.last_name }}</td>
              <td>{{ complaint.email }}</td>
              <td class="min-w-200">{{ complaint.subject }}</td>
              <td class="min-w-200">{{ complaint.message | truncate(50) }}</td>
              <td>{{ complaint.status ? $t('seen') : $t('pending') }}</td>
              <td>
                <div class="table-actions">
                  <button @click="selectComplaint(complaint)">
                    <i class="icon-eye"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </data-table>
      </template>

      <template #footer>
        <b-pagination
          v-if="complaints.items.length"
          first-number
          last-number
          align="center"
          v-model="current_page"
          :total-rows="pagination.total_count"
          :per-page="pagination.per_page"
          @change="handleChange"
        />
      </template>
    </white-panel>
    <!-- white panel -->

    <b-modal centered hide-footer id="show-complaign">
      <template #modal-header>
        <h2 class="block-title">{{ $t('check_out_complaints') }}</h2>
      </template>

      <template #default>
        <b-form-group :label="$t('status')">
          <v-select
            :clearable="false"
            v-model="selected_complaint.status"
            :options="watched_statuses"
            :reduce="data => data.value"
            @input="handleStatusChange"
          >
            <template #selected-option="{ label }">{{ $t(label) }}</template>
            <template #option="{ label }">{{ $t(label) }}</template>
          </v-select>
        </b-form-group>

        <form-field
          :label="$t('fullname')"
          :value="`${selected_complaint.first_name} ${selected_complaint.last_name}`"
          disabled
        />
        <form-field :label="$t('email')" :value="selected_complaint.email" disabled />
        <form-field :label="$t('subject')" :value="selected_complaint.subject" disabled />
        <b-form-group :label="$t('message')">
          <b-textarea :rows="4" :value="selected_complaint.message" disabled />
        </b-form-group>

        <div class="d-flex justify-content-end">
          <a class="btn btn-primary" :href="`mailto:${selected_complaint.email}`">
            {{ $t("answer") }}
          </a>
          <b-button class="ml-3" variant="danger" type="button" @click="$bvModal.hide('show-complaign')">
            {{ $t("close") }}
          </b-button>
        </div>
      </template>
    </b-modal>
    <!-- modal -->
  </b-container>
</template>

<script>
import { mapState, mapGetters } from "vuex";

export default {
  name: "CamplaintsIndex",
  data() {
    return {
      data_filters: {
        search_query: "",
      },
      selected_complaint: {
        first_name: "",
        last_name: "",
        email: "",
        subject: "",
        message: "",
        status: false
      },
      watched_statuses: [
        { label: "pending", value: false },
        { label: "seen", value: true }
      ]
    }
  },
  computed: {
    ...mapState({
      pagination: ({ complaints }) => complaints.pagination
    }),
    ...mapGetters({
      complaints: "complaints/getComplaints"
    }),
    current_page: {
      get() {
        return this.pagination.current_page;
      },
      set(value) {
        this.$store.commit("SET_PAGINATION_PAGE", { module: "complaints", page: value });
      }
    }
  },
  watch: {
    "$route.query"(query) {
      this.$store
        .dispatch("complaints/fetchAll", query)
        .then(() => this.$root.$emit("filters-applied"));
    },
  },
  methods: {
    handleSearch(query) {
      this.data_filters.search_query = query;
      this.handleChange();
    },

    selectComplaint(complaint) {
      this.selected_complaint = { ...complaint };
      this.$bvModal.show('show-complaign')
    },

    handleStatusChange() {
      this.$store.dispatch("complaints/updateStatus", {
        complaint_id: this.selected_complaint.id,
        status: this.selected_complaint.status
      })
    },

    handleChange() {
      this.$nextTick(() => {
        this.$router.push({
          query: {
            page: this.current_page,
            ...this.$mapObjectToQuery(this.data_filters)
          }
        });
      });
    },
  },
  created() {
    this.$root.$on("search", this.handleSearch);
  },
  beforeDestroy() {
    this.$root.$off("search", this.handleSearch);
  },
  async asyncData({ query, store }) {
    await store.dispatch("complaints/fetchAll", query);
  }
}
</script>
