<template>
  <b-form @submit.prevent="handleSubmit">
    <b-row>
      <b-col lg="3" md="6">
        <form-field
          disabled
          :label="$t('key')"
          v-model="form.key"
          :is-invalid="$v.form.key.$error"
        >
          <b-form-invalid-feedback v-if="!$v.form.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>
      </b-col>

      <b-col lg="3" md="6">
        <b-form-group :label="$t('lang_az')">
          <b-form-textarea v-model="form.values.az" :class="{ 'is-invalid': $v.form.values.az.$error }" :rows="5" />
          <b-form-invalid-feedback v-if="!$v.form.values.az.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </b-form-group>
      </b-col>

      <b-col lg="3" md="6">
        <b-form-group :label="$t('lang_ru')">
          <b-form-textarea v-model="form.values.ru" :class="{ 'is-invalid': $v.form.values.ru.$error }" :rows="5" />
          <b-form-invalid-feedback v-if="!$v.form.values.ru.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </b-form-group>
      </b-col>

      <b-col lg="3" md="6">
        <b-form-group :label="$t('lang_en')">
          <b-form-textarea v-model="form.values.en" :class="{ 'is-invalid': $v.form.values.en.$error }" :rows="5" />
          <b-form-invalid-feedback v-if="!$v.form.values.en.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </b-form-group>
      </b-col>

      <b-col cols="12">
        <div class="d-flex">
          <b-button class="mr-3" variant="primary" type="submit">
            <i class="icon-check"></i>
            {{ $t('submit') }}
          </b-button>
          <b-button variant="danger" type="button" @click="$router.go(-1)">
            <i class="icon-cancel"></i>
            {{ $t('reject') }}
          </b-button>
        </div>
      </b-col>
    </b-row>
  </b-form>
</template>

<script>
import { required } from "vuelidate/lib/validators";

export default {
  name: "CreateTranslationForm",
  props: {
    pending: {
      type: Boolean,
      default: false
    },
    initialData: {
      type: Object,
      default: () => ({
        key: "",
        values: {
          az: "",
          ru: "",
          en: "",
        }
      })
    }
  },
  data() {
    return {
      form: {
        ...this.initialData,
        values: { ...this.initialData.values }
      }
    }
  },
  validations: {
    form: {
      key: { required },
      values: {
        az: { required },
        ru: { required },
        en: { required },
      }
    }
  },
  methods: {
    handleSubmit() {
      this.$v.form.$touch();

      if (this.$v.$invalid) {
        this.$toast.error(this.$t("invalid_credentials"));
        return;
      }

      !this.pending && this.$emit("form-submit", this.form);
    }
  }
}
</script>
