<template>
  <b-container fluid="fluid">
    <page-header :title="$t('moderators')" hide-search />

    <white-panel :title="$t('moderators')" :subtitle="$t('manage_moderators')">
      <template #actions>
        <b-button variant="primary" v-b-modal.create-moderator>
          <i class="icon-plus"></i>
          {{ $t('add') }}
        </b-button>
      </template>

      <template #default>
        <data-table :fields="moderators.fields">
          <tbody>
          <tr v-for="moderator in moderators.items" :key="moderator.id">
            <td>{{ moderator.id }}</td>
            <td>{{ moderator.name }}</td>
            <td>{{ moderator.email }}</td>
            <td>{{ moderator.phone }}</td>
            <td>
              <div class="table-actions">
                <nuxt-link :to="$localePath('moderators-id', { id: moderator.id })">
                  <i class="icon-edit"></i>
                </nuxt-link>
                <button @click="confirmDetele(moderator.id)">
                  <i class="icon-trash"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </data-table>
      </template>
    </white-panel>
    <!-- white panel -->

    <b-modal centered hide-footer size="sm" id="create-moderator" @hidden="resetForm">
      <template #modal-header>
        <h2 class="block-title">{{ $t('moderator_creation') }}</h2>
      </template>

      <template #default>
        <b-form @submit.prevent="handleCreateModerator">
          <form-field :label="$t('fullname')" v-model="form.name" :is-invalid="$v.form.name.$error">
            <b-form-invalid-feedback v-if="!$v.form.name.required">
              {{ $t("required") }}
            </b-form-invalid-feedback>
          </form-field>

          <form-field :label="$t('email')" v-model="form.email" :is-invalid="$v.form.email.$error">
            <b-form-invalid-feedback v-if="!$v.form.email.required">
              {{ $t("required") }}
            </b-form-invalid-feedback>
            <b-form-invalid-feedback v-if="!$v.form.email.isEmail">
              {{ $t("not_email") }}
            </b-form-invalid-feedback>
          </form-field>

          <number-field
            :label="$t('contact_number')"
            v-model="form.phone"
            :is-invalid="$v.form.phone.$error"
            placeholder="+994 (XX) XXX XX XX"
          >
            <b-form-invalid-feedback v-if="!$v.form.phone.required">
              {{ $t("required") }}
            </b-form-invalid-feedback>
          </number-field>

          <div class="d-flex justify-content-end">
            <b-button variant="primary" type="submit">
              {{ $t("save") }}
            </b-button>
            <b-button class="ml-3" variant="danger" type="button" @click="$bvModal.hide('create-moderator')">
              {{ $t("close") }}
            </b-button>
          </div>
        </b-form>
      </template>
    </b-modal>
    <!-- modal -->
  </b-container>
</template>

<script>
import { mapGetters } from "vuex";
import { required, email, minLength } from "vuelidate/lib/validators";
import deletable from "@/mixins/deletable";

export default {
  name: "ModeratorsIndex",
  middleware: ["isAdmin"],
  mixins: [deletable],
  data() {
    return {
      pending: false,
      form: {
        name: "",
        email: "",
        phone: ""
      }
    }
  },
  validations: {
    form: {
      name: {
        required
      },
      email: {
        required,
        isEmail: email
      },
      phone: {
        required,
        minLength: minLength(12)
      }
    }
  },
  computed: {
    ...mapGetters({
      moderators: "moderators/getModerators"
    })
  },
  methods: {
    async handleCreateModerator() {
      this.$v.form.$touch();

      if (this.$v.$invalid) {
        this.$toast.error(this.$t("invalid_credentials"));
        return;
      }

      if (!this.pending) {
        try {
          this.pending = true;
          await this.$store.dispatch("moderators/create", this.form);
          this.$bvModal.hide('create-moderator');
          this.$toast.success(this.$t("successfull_operation"));
        } catch (e) {
          const { errors } = e.response.data;
          this.pending = false;

          if (errors.email) {
            this.$toast.error(errors.email);
          } else {
            this.$toast.error(this.$t("invalid_credentials"));
          }
        }
      }
    },

    resetForm() {
      this.pending = false;
      this.form.name = "";
      this.form.email = "";
      this.form.phone = "";
      this.$v.$reset();
    },

    confirmDetele(moderator_id) {
      this.deletable(() => {
        this.$store.dispatch("moderators/delete", moderator_id);
      })
    },
  },
  async asyncData({ store }) {
    await store.dispatch("moderators/fetchAll");
  }
}
</script>
