<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.orders')" hide-search />

    <div class="print-only">
      <div class="print-header d-flex justify-content-between align-items-center">
        <div class="print-header__logo">
          <img src="~/assets/images/logo.svg" alt="Logo">
        </div>
        <p>{{ $t("contact_number") }}: 012 498 18 98</p>
      </div>
    </div>
    <!-- print header -->

    <white-panel :title="$t('order_details')" :subtitle="$t('details')">
      <template #actions>
        <div class="d-flex flex-wrap align-items-start">
          <div class="w-xs-100 mr-3 mb-3">
            <v-select
              class="sm"
              :clearable="false"
              v-model="delivery_status"
              :options="filters.delivery_statuses"
              :reduce="data => data.value"
              :placeholder="$t('delivery_status')"
            />
          </div>

          <b-button class="mb-3" variant="success" @click="printPage">
            <i class="icon-print"></i>
            {{ $t('print') }}
          </b-button>
        </div>
      </template>

      <template #default>
        <div class="user-order-status d-flex align-items-center">
          <data-user :firstname="order.user.firstname" :lastname="order.user.lastname"/>
          <p class="status">{{ order.delivery.status }}</p>
        </div>

        <div class="order-table table-responsive">
          <table class="table table-borderless">
            <tbody>
            <tr>
              <td>{{ $t("order_number") }}:</td>
              <td>{{ order.id }}</td>
            </tr>
            <tr class="no-print">
              <td>{{ $t("order_date") }}:</td>
              <td>{{ order.date_time.date }} {{ order.date_time.time }}</td>
            </tr>
            <tr>
              <td>{{ $t("firstname_lastname") }}:</td>
              <td>{{ order.user.firstname }} {{ order.user.lastname }}</td>
            </tr>
            <tr>
              <td>{{ $t("email") }}:</td>
              <td>{{ order.user.email }}</td>
            </tr>
            <tr>
              <td>{{ $t("contact_number") }}:</td>
              <td>{{ order.user.phone || "-" }}</td>
            </tr>
            <tr>
              <td>{{ $t("address") }}:</td>
              <td>{{ order.user.address || "-" }}</td>
            </tr>
            <tr>
              <td>{{ $t("postcode") }}:</td>
              <td>{{ order.postcode || "-" }}</td>
            </tr>
            <tr class="no-print">
              <td>{{ $t("company") }}:</td>
              <td>{{ order.company || "-" }}</td>
            </tr>
            <tr>
              <td>{{ $t("payment_type") }}:</td>
              <td>{{ order.payment.type }}</td>
            </tr>
            <tr class="no-print">
              <td>{{ $t("payment_status") }}:</td>
              <td>{{ order.payment.status ? $t("paid") : $t("not_paid") }}</td>
            </tr>
            <tr class="no-print">
              <td>{{ $t("delivery") }}:</td>
              <td>{{ order.should_deliver ? $t('yes') : $t('no') }}</td>
            </tr>
            <tr>
              <td>{{ $t("product") }}:</td>
              <td>
                <template v-if="order.products">
                  <p v-for="product in order.products">{{ product }}[{{order.part_number}}]</p>
                </template>
              </td>
            </tr>
            <!-- <tr class="no-print">
              <td>{{ $t("part_number") }}:</td>
              <td>{{ order.part_number || "-" }}</td>
            </tr> -->
            <tr>
              <td>{{ $t("count") }}:</td>
              <td>{{ order.products.length }}</td>
            </tr>
            <tr>
              <td>{{ $t("comment") }}:</td>
              <td>
                <p>{{ order.comment || "-" }}</p>
              </td>
            </tr>
            <tr>
              <td>{{ $t("subtotal") }}:</td>
              <td>{{ order.sub_total }} AZN</td>
            </tr>
            <tr>
              <td>{{ $t("gifts") }}:</td>
              <td>{{ order.gifts }} AZN</td>
            </tr>
            <tr>
              <td>{{ $t("delivery_price") }}:</td>
              <td>{{ order.delivery_price }} AZN</td>
            </tr>
            <tr>
              <td>{{ $t("total") }}:</td>
              <td>{{ order.total }} AZN</td>
            </tr>
            </tbody>
          </table>
        </div>
      </template>

      <template #footer>
        <div class="d-flex">
          <b-button class="mr-3" variant="outline-dark" @click="$router.go(-1)">
            {{ $t("go_back") }}
          </b-button>
          <b-button variant="primary" :disabled="!delivery_status" @click="updateDeliveryStatus">
            {{ $t("save") }}
          </b-button>
        </div>
      </template>
    </white-panel>
    <!-- white panel -->

    <div class="print-only order-details">
      <p>Məhsulu yoxladım, heç bir narazılığım yoxdur.</p>

      <div class="d-flex" style="margin: 50px 0;">
        <div style="width: 50%;">
          <p>Təhvil aldım:</p>
        </div>

        <div style="width: 50%;">
          <p>Təhvil aldım:</p>
        </div>
      </div>

      <p>Qeyd:</p>
    </div>
    <!-- order details -->
  </b-container>
</template>

<script>
import { mapGetters } from "vuex";
import DataUser from "@/components/tables/DataUser";

export default {
  name: "OrdersDetails",
  components: {
    DataUser
  },
  data() {
    return {
      delivery_status: null,
    }
  },
  computed: {
    ...mapGetters({
      order: "orders/getOrder",
      filters: "orders/getFilters"
    })
  },
  methods: {
    updateDeliveryStatus() {
      this.$store
        .dispatch("orders/update", {
          id: this.order.id,
          delivery_status_id: this.delivery_status
        })
        .then(() => {
          this.$store.dispatch("orders/fetchOne", this.$route.params.id);
          this.$toast.success(this.$t("successfull_operation"));
        })
        .catch(() => {
          this.$toast.error(this.$t("error_occurred"));
        })
    },

    printPage() {
      window.print();
    }
  },
  async asyncData({ params, store }) {
    await store.dispatch("orders/fetchOne", params.id);
  }
}
</script>
