<template>
  <b-form class="w-75 w-xs-100" @submit.prevent="handleSubmit">
    <b-form-group :label="$t('category')">
      <v-select
        :clearable="false"
        v-model="form.category_id"
        :options="faq_categories"
        :reduce="data => data.value"
        :class="{ 'is-invalid': $v.form.category_id.$error }"
      />
      <b-form-invalid-feedback v-if="!$v.form.category_id.required">
        {{ $t("required") }}
      </b-form-invalid-feedback>
    </b-form-group>

    <b-tabs v-model="active_tab" pills>
      <b-tab title="AZ" :title-item-class="{ invalid: az_invalid }">
        <form-field :label="$t('title')" v-model="form.title.az" :is-invalid="$v.form.title.az.$error">
          <b-form-invalid-feedback v-if="!$v.form.title.az.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>

        <b-form-group :label="$t('information')">
          <b-form-textarea :rows="10" v-model="form.content.az" :class="{ 'is-invalid': $v.form.content.az.$error }" />
          <b-form-invalid-feedback v-if="!$v.form.content.az.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </b-form-group>
      </b-tab>
      <!-- tab -->

      <b-tab title="RU" :title-item-class="{ invalid: ru_invalid }">
        <form-field :label="$t('title')" v-model="form.title.ru" :is-invalid="$v.form.title.ru.$error">
          <b-form-invalid-feedback v-if="!$v.form.title.ru.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>

        <b-form-group :label="$t('information')">
          <b-form-textarea :rows="10" v-model="form.content.ru" :class="{ 'is-invalid': $v.form.content.ru.$error }" />
          <b-form-invalid-feedback v-if="!$v.form.content.ru.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </b-form-group>
      </b-tab>
      <!-- tab -->

      <b-tab title="EN" :title-item-class="{ invalid: en_invalid }">
        <form-field :label="$t('title')" v-model="form.title.en" :is-invalid="$v.form.title.en.$error">
          <b-form-invalid-feedback v-if="!$v.form.title.en.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>

        <b-form-group :label="$t('information')">
          <b-form-textarea :rows="10" v-model="form.content.en" :class="{ 'is-invalid': $v.form.content.en.$error }" />
          <b-form-invalid-feedback v-if="!$v.form.content.en.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </b-form-group>
      </b-tab>
      <!-- tab -->
    </b-tabs>
    <!-- tabs -->

    <div class="d-flex">
      <b-button class="mr-3" variant="primary" type="submit">
        <i class="icon-check"></i>
        {{ $t('submit') }}
      </b-button>
      <b-button variant="danger" type="button" @click="$router.go(-1)">
        <i class="icon-cancel"></i>
        {{ $t('reject') }}
      </b-button>
    </div>
  </b-form>
</template>

<script>
import { mapGetters } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
  name: "CreateAttributeForm",
  props: {
    pending: {
      type: Boolean,
      default: false
    },
    initialData: {
      type: Object,
      default: () => ({
        category_id: null,
        title: {
          az: "",
          ru: "",
          en: ""
        },
        content: {
          az: "",
          ru: "",
          en: ""
        },
        active: true
      })
    }
  },
  data() {
    return {
      active_tab: 0,
      form: {
        ...this.initialData,
        title: { ...this.initialData.title },
        content: { ...this.initialData.content },
      }
    }
  },
  validations: {
    form: {
      category_id: { required },
      title: {
        az: { required },
        ru: { required },
        en: { required }
      },
      content: {
        az: { required },
        ru: { required },
        en: { required }
      }
    }
  },
  computed: {
    ...mapGetters({
      faq_categories: "faqCategories/getAsOptions"
    }),
    az_invalid() {
      return (this.$v.form.title.az.$error || this.$v.form.content.az.$error);
    },
    ru_invalid() {
      return (this.$v.form.title.ru.$error || this.$v.form.content.ru.$error);
    },
    en_invalid() {
      return (this.$v.form.title.en.$error || this.$v.form.content.en.$error);
    }
  },
  methods: {
    handleSubmit() {
      this.$v.form.$touch();

      if (this.$v.$invalid) {
        this.$toast.error(this.$t("invalid_credentials"));
        return;
      }

      !this.pending && this.$emit("form-submit", this.form);
    }
  }
}
</script>
