<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.cheaper')" />

    <white-panel :title="$t('menu.cheaper')" :subtitle="$t('check_out_cheaper_products')">
      <template #default>
        <data-table :fields="cheaper.fields">
          <tbody>
          <tr v-for="c in cheaper.items" :key="c.id">
            <td>{{ c.date }}</td>
            <td class="text-nowrap">{{ c.name }}</td>
            <td>{{ c.email }}</td>
<!--            <td class="text-nowrap">{{ c.url | truncate(30) }}</td>-->
            <td class="text-nowrap">{{ c.product_name | truncate(30) }}</td>
            <td>{{ c.status ? $t("seen") : $t("pending") }}</td>
            <td>
              <div class="table-actions">
                <button @click="selectCheaper(c)">
                  <i class="icon-eye"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </data-table>
      </template>

      <template #footer>
        <b-pagination
          v-if="cheaper.items.length"
          first-number
          last-number
          align="center"
          v-model="current_page"
          :total-rows="pagination.total_count"
          :per-page="pagination.per_page"
          @change="handleChange"
        />
      </template>
    </white-panel>
    <!-- white panel -->

    <b-modal centered hide-footer id="show-cheaper">
      <template #modal-header>
        <h2 class="block-title">{{ $t('check_out_cheaper_product') }}</h2>
      </template>

      <template #default>
        <b-form-group :label="$t('status')">
          <v-select
            :clearable="false"
            v-model="selected_cheaper.status"
            :options="watched_statuses"
            :reduce="data => data.value"
            @input="handleStatusChange"
          >
            <template #selected-option="{ label }">{{ $t(label) }}</template>
            <template #option="{ label }">{{ $t(label) }}</template>
          </v-select>
        </b-form-group>

        <form-field :label="$t('fullname')" :value="selected_cheaper.name" disabled />
        <form-field :label="$t('email')" :value="selected_cheaper.email" disabled />

<!--        <b-form-group :label="$t('link')">-->
<!--          <a class="form-control" :href="selected_cheaper.url" target="_blank">{{ selected_cheaper.url }}</a>-->
<!--        </b-form-group>-->

        <b-form-group :label="$t('product')">
          <a class="form-control" :href="selected_cheaper.product_url" target="_blank">{{ selected_cheaper.product_name }}</a>
        </b-form-group>

        <b-form-group :label="$t('message')">
          <b-textarea :rows="4" :value="selected_cheaper.message" disabled />
        </b-form-group>

        <div class="d-flex justify-content-end">
          <b-button variant="danger" type="button" @click="$bvModal.hide('show-cheaper')">
            {{ $t("close") }}
          </b-button>
        </div>
      </template>
    </b-modal>
    <!-- modal -->
  </b-container>
</template>

<script>
import { mapState, mapGetters } from "vuex";

export default {
  name: "CheaperIndex",
  data() {
    return {
      data_filters: {
        search_query: ""
      },
      selected_cheaper: {
        date: "",
        name: "",
        email: "",
        product_name: "",
        product_url: "",
        message: "",
        status: false
      },
      watched_statuses: [
        { label: "pending", value: false },
        { label: "seen", value: true }
      ]
    }
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading,
      pagination: ({ cheaper }) => cheaper.pagination
    }),
    ...mapGetters({
      cheaper: "cheaper/getCheapers"
    }),
    current_page: {
      get() {
        return this.pagination.current_page;
      },
      set(value) {
        this.$store.commit("SET_PAGINATION_PAGE", { module: "cheaper", page: value });
      }
    }
  },
  watch: {
    "$route.query"(query) {
      this.$store
        .dispatch("cheaper/fetchAll", query)
        .then(() => this.$root.$emit("filters-applied"));
    },
  },
  methods: {
    handleSearch(query) {
      this.data_filters.search_query = query;
      this.handleChange();
    },

    selectCheaper(cheaper) {
      this.selected_cheaper = { ...cheaper };
      this.$bvModal.show('show-cheaper');
    },

    handleStatusChange() {
      this.$store.dispatch("cheaper/updateStatus", {
        id: this.selected_cheaper.id,
        status: this.selected_cheaper.status
      })
    },

    handleChange() {
      this.$nextTick(() => {
        this.$router.push({
          query: {
            page: this.current_page,
            ...this.$mapObjectToQuery(this.data_filters)
          }
        });
      });
    }
  },
  created() {
    this.$root.$on("search", this.handleSearch);
  },
  beforeDestroy() {
    this.$root.$off("search", this.handleSearch);
  },
  async asyncData({ query, store }) {
    await store.dispatch("cheaper/fetchAll", query);
  }
}
</script>
