<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.excel')" />

    <white-panel :loading="loading" :title="$t('menu.excel')" :subtitle="$t('edit_or_add')">
      <template #actions>
        <div class="d-flex flex-column">
          <div class="d-flex flex-wrap align-items-start">
            <input
              hidden
              ref="file"
              type="file"
              @change="handleExcelUpload"
              accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            >
            <b-button variant="primary" class="mr-2 mb-2" @click="triggerExcelUpload">
              <i class="icon-plus"></i>
              {{ $t("add") }}
            </b-button>
            <b-button variant="secondary" class="mr-2 mb-2" @click="readExcel">
              {{ $t("read_excel") }}
            </b-button>
            <b-button variant="primary" class="mr-2 mb-2" @click="filterExcelBy('not_in_excel')">
              {{ $t("not_in_excel") }}
            </b-button>
            <b-button variant="primary" class="mr-2 mb-2" @click="filterExcelBy('not_in_db')">
              {{ $t("not_in_db") }}
            </b-button>
            <b-button variant="danger" @click="importExcel">
              <i class="icon-export"></i>
              {{ $t("import") }}
            </b-button>
          </div>

          <div class="d-flex justify-content-end my-2">
            <p>{{ $t("last_export_date") }}: <span>{{ latest_import_date }}</span></p>
          </div>
        </div>
      </template>
      <!-- actions -->

      <template #default>
        <div class="option-filters d-flex flex-wrap">
          <div class="option-filters__item">
            <v-select
              class="sm"
              :clearable="false"
              v-model="data_filters.result_type"
              :options="filters.result_type"
              :reduce="data => data.value"
              @input="handleChange"
            >
              <template #selected-option="{ label }">{{ $t(label) }}</template>
              <template #option="{ label }">{{ $t(label) }}</template>
            </v-select>
          </div>

          <div class="option-filters__item">
            <v-select
              class="sm"
              :clearable="false"
              v-model="data_filters.count_type"
              :options="filters.count_type"
              :reduce="data => data.value"
              @input="handleChange"
            >
              <template #selected-option="{ label }">{{ $t(label) }}</template>
              <template #option="{ label }">{{ $t(label) }}</template>
            </v-select>
          </div>

          <div class="option-filters__item">
            <v-select
              class="sm"
              :clearable="false"
              v-model="data_filters.importable"
              :options="filters.importable"
              :reduce="data => data.value"
              @input="handleChange"
            >
              <template #selected-option="{ label }">{{ $t(label) }}</template>
              <template #option="{ label }">{{ $t(label) }}</template>
            </v-select>
          </div>

          <div class="option-filters__item">
            <v-select
              class="sm"
              :clearable="false"
              v-model="data_filters.on_sale"
              :options="filters.on_sale"
              :reduce="data => data.value"
              @input="handleChange"
            >
              <template #selected-option="{ label }">{{ $t(label) }}</template>
              <template #option="{ label }">{{ $t(label) }}</template>
            </v-select>
          </div>
        </div>
        <!-- option filters -->

        <excel-table ref="excel_table" :fields="excel.fields" @toggle-rows-check="toggleRowsCheck">
          <tbody>
            <tr v-for="e in excel.items" :key="e.id" :class="{ highlight: e.highlight }">
              <td>
                <b-form-checkbox v-model="selected_ids" :value="e.id" :disabled="!e.importable">
                  {{ e.id }}
                </b-form-checkbox>
              </td>
              <td>{{ e.importable ? "true" : "false" }}</td>
              <td>{{ e.price_result ? e.price_result : "-" }}</td>
              <td>{{ e.count_result ? e.count_result : "-" }}</td>
              <td>{{ e.excel_stock_id ? e.excel_stock_id : "-" }}</td>
              <td>{{ e.sheet_name ? e.sheet_name : "-" }}</td>
              <td>{{ e.database_quantity ? e.database_quantity : "-" }}</td>
              <td>{{ e.excel_quantity ? e.excel_quantity : "-" }}</td>
              <td>{{ e.database_price ? e.database_price : "-" }}</td>
              <td>{{ e.excel_price ? e.excel_price : "-" }}</td>
              <td v-if="e.url">
                <div class="table-actions">
                  <a :href="e.url" target="_blank">
                    <i class="icon-eye"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </excel-table>
      </template>
      <!-- default -->
    </white-panel>
    <!-- white panel -->
  </b-container>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import ExcelTable from "@/components/tables/ExcelTable";

export default {
  name: "ExcelIndex",
  components: {
    ExcelTable
  },
  data() {
    return {
      selected_ids: [],
      data_filters: {
        search_query: "",
        result_type: "",
        count_type: "",
        importable: "",
        on_sale: ""
      }
    }
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading
    }),
    ...mapGetters({
      filters: "excel/getFilters",
      excel: "excel/getExcel",
      latest_import_date: "excel/getLatestImportDate"
    })
  },
  watch: {
    "$route.query"(query) {
      this.$store
        .dispatch("excel/fetchAll", query)
        .then(() => this.$root.$emit("filters-applied"));
    },
  },
  methods: {
    handleSearch(query) {
      this.data_filters.search_query = query;
      this.handleChange();
    },

    handleChange() {
      this.$router.push({
        query: this.$mapObjectToQuery(this.data_filters)
      });
    },

    triggerExcelUpload() {
      this.$refs.file.click();
    },

    handleExcelUpload() {
      const form_data = new FormData;
      const file = this.$refs.file.files[0];
      form_data.append("file", file);

      this.$store.dispatch("excel/upload", form_data)
        .then(() => {
          this.$refs.file.value = "";
          this.$toast.success(this.$t("successfull_operation"));
        })
        .catch(() => {
          this.$toast.error(this.$t("error_occurred"));
        })
    },

    readExcel() {
      this.$store.dispatch("excel/read")
        .catch(() => {
          this.$toast.error(this.$t("error_occurred"));
        })
    },

    filterExcelBy(value) {
      this.$store.dispatch("excel/filterBy", value)
        .catch(() => {
          this.$toast.error(this.$t("error_occurred"));
        })
    },

    importExcel() {
      const data = [];

      this.selected_ids.map(id => {
        const index = this.excel.items.findIndex(e => e.id === id);
        data.push(this.excel.items[index]);
      });

      data.length && this.$store.dispatch("excel/import", data)
        .then(() => {
          this.$toast.success(this.$t("successfull_operation"));
          this.$nuxt.refresh();
          this.unselectRows();
        })
        .catch(() => {
          this.$toast.error(this.$t("error_occurred"));
        });
    },

    toggleRowsCheck(shoud_check) {
      if (shoud_check) {
        this.selectRows();
      } else {
        this.unselectRows();
      }
    },

    selectRows() {
      for (let i = 0, j = this.excel.items.length; i < j; i++) {
        if (!this.excel.items[i].importable) continue;
        this.selected_ids.push(this.excel.items[i].id);
      }
    },

    unselectRows() {
      this.selected_ids = [];
      this.$refs.excel_table.select_rows = false;
    }
  },
  created() {
    this.$root.$on("search", this.handleSearch);
  },
  mounted() {
    this.$store.dispatch("excel/fetchAll", this.$route.query);
  },
  beforeDestroy() {
    this.$store.commit("SET_ITEMS", { module: "excel", items: [] })
    this.$root.$off("search", this.handleSearch);
  }
}
</script>
