.product-attachments {
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: var(--main-bg);

  .form-control {
    background-color: var(--white);
  }

  &__label {
    font-size: 16px;
    margin-bottom: 20px;
  }

  &__items {
    padding: 15px;
    background-color: var(--white);
    border-radius: 10px;
  }
}

.product-attachments__list {
  flex-direction: column;

  li:not(:last-child) {
    margin-bottom: 10px;
  }
}

.btn-group {
  .btn-dark {
    font-size: 14px;
    margin: 0 10px;
    border-radius: 0.25rem !important;

    &.active {
      color: #171a1d !important;
      background-color: transparent !important;
    }
  }
}

@media (max-width: 1200px) {
  .product-attachments {
    &__items-wrapper {
      [class*="col"]:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
