.inline-product {
  &__image {
    width: 40px;
    height: 40px;
    border: 1px solid #EFF0F9;
    border-radius: 10px;

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  &__name {
    font-size: 13px;
    line-height: 19px;
    width: calc(100% - 40px);
    padding-left: 10px;
  }
}
