<template>
  <header class="header d-xl-none">
    <b-container fluid="fluid">
      <b-row class="align-items-center justify-content-between">
        <b-col>
          <button class="trigger-sidebar" @click="showSidebar">
            <i class="icon-bars"></i>
          </button>

          <nuxt-link class="logo" :to="$localePath('index')">
            <img src="~/assets/images/logo.svg" alt="Bestel.az">
          </nuxt-link>
        </b-col>
      </b-row>
    </b-container>
  </header>
</template>

<script>
export default {
  data() {
    return {
      searchVisible: false
    }
  },
  methods: {
    showSidebar() {
      this.$root.$emit("show-sidebar");
      document.body.style.overflow = "hidden";
    }
  }
}
</script>
