<template>
  <div class="sidebar-wrapper" :class="{ 'sidebar-visible': sidebarVisible }">
    <div class="content-overlay d-xl-none" @click.self="closeSidebar"></div>

    <div class="sidebar">
      <div class="sidebar-scroller d-flex flex-column">

        <div class="sidebar-header d-none d-xl-block">
          <nuxt-link class="logo" :to="$localePath('index')">
            <img src="~/assets/images/logo.svg" alt="Bestel.az">
          </nuxt-link>
        </div>

        <div class="sidebar-body">
          <div class="mb-2 d-xl-none">
            <user-dropdown />
          </div>
          <menu-tree />
        </div>

        <div class="sidebar-footer">
          <langs-switcher />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UserDropdown from "@/components/elements/UserDropdown";
import MenuTree from "~/components/elements/MenuTree";
import LangsSwitcher from "@/components/elements/LangsSwitcher";

export default {
  components: {
    UserDropdown,
    MenuTree,
    LangsSwitcher
  },
  watch: {
    $route() {
      this.closeSidebar();
    },
  },
  data() {
    return {
      sidebarVisible: false
    }
  },
  methods: {
    closeSidebar() {
      this.sidebarVisible = false;
      document.body.style.overflow = "auto";
    }
  },
  created() {
    this.$root.$on("show-sidebar", () => {
      this.sidebarVisible = true;
    });
  }
}
</script>
