<template>
  <div class="multiple-text-field-wrapper">
    <div
      class="multiple-text-field d-flex align-items-center"
      :class="{ 'is-invalid': isInvalid }"
      v-for="(item, index) in fields"
    >
      <span class="field-index" v-if="!hideCount">{{ index + 1 }}.</span>

      <b-form-group>
        <template v-if="phoneNumber">
          <client-only>
            <the-mask
              class="form-control"
              :value="item.value"
              @input="handleInput($event, index)"
              mask="+### (##) ### ## ##"
            />
          </client-only>
        </template>
        <template v-else>
          <b-form-input :value="item.value" @input="handleInput($event, index)" autocomplete="off" />
        </template>

        <button class="add-field" type="button" @click="addField">
          <i class="icon-plus"></i>
        </button>
      </b-form-group>
      <button class="remove-field" type="button" @click="removeField(index)">
        <i class="icon-trash"></i>
      </button>
    </div>
    <div class="invalid-feedback">{{ $t('required') }}</div>
  </div>
</template>

<script>
export default {
  name: "MultipleTextField",
  props: {
    fields: {
      type: Array,
      required: true
    },
    hideCount: {
      type: Boolean,
      default: false
    },
    isInvalid: {
      type: Boolean,
      default: false
    },
    phoneNumber: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    last_field() {
      // return this.fields[this.fields.length - 1];
      return this.fields.slice(-1)[0];
    },
    has_fields() {
      return this.fields.length > 0;
    },
    has_last_field_value() {
      return this.last_field.value !== "";
    },
    can_add_field() {
      return !this.has_fields || this.has_last_field_value;
    },
    can_remove_field() {
      return this.fields.length > 1;
    }
  },
  methods: {
    handleInput(value, index) {
      this.$emit("field-update", { value, index });
    },

    addField() {
      this.can_add_field && this.$emit("add-field");
    },

    removeField(index) {
      this.can_remove_field && this.$emit("remove-field", index);
    }
  },
}
</script>
