<template>
  <div class="multiple-fields-row">
    <b-row v-for="(item, index) in fields" :key="index">
      <b-col lg="4" sm="6">
        <form-field
          :label="$t('lang_az')"
          :value="item.value.az"
          @input="handleInput($event, { index, lang: 'az' })"
        />
      </b-col>
      <b-col lg="4" sm="6">
        <form-field
          :label="$t('lang_ru')"
          :value="item.value.ru"
          @input="handleInput($event, { index, lang: 'ru' })"
        />
      </b-col>
      <b-col lg="4" sm="6" class="d-flex align-items-center">
        <form-field
          :label="$t('lang_en')"
          :value="item.value.en"
          @input="handleInput($event, { index, lang: 'en' })"
        />
        <div class="multiple-fields-row__actions">
          <button class="add-field" type="button" @click="addField">
            <i class="icon-plus"></i>
          </button>
          <button class="remove-field" type="button" @click="removeField(index)">
            <i class="icon-trash"></i>
          </button>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: "MultipleTextFields",
  props: {
    fields: {
      type: Array,
      required: true
    }
  },
  computed: {
    last_field() {
      return this.fields.slice(-1)[0];
    },
    has_fields() {
      return this.fields.length > 0;
    },
    has_last_field_values() {
      return (
        this.last_field.value["az"] &&
        this.last_field.value["ru"] &&
        this.last_field.value["en"]
      ) !== ""
    },
    can_add_field() {
      return !this.has_fields || this.has_last_field_values;
    },
    can_remove_field() {
      return this.fields.length > 1;
    }
  },
  methods: {
    handleInput(value, { index, lang }) {
      this.$emit("update-field", { index, lang, value });
    },

    addField() {
      this.can_add_field && this.$emit("add-field");
    },

    removeField(index) {
      this.can_remove_field && this.$emit("remove-field", index);
    }
  },
}
</script>
