<template>
  <b-form @submit.prevent="handleSubmit">
    <b-row>
      <b-col lg="4" sm="6">
        <form-field
          :label="$t('lang_az')"
          v-model="form.name.az"
          :is-invalid="$v.form.name.az.$error"
        >
          <b-form-invalid-feedback v-if="!$v.form.name.az.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>
      </b-col>

      <b-col lg="4" sm="6">
        <form-field
          :label="$t('lang_ru')"
          v-model="form.name.ru"
          :is-invalid="$v.form.name.ru.$error"
        >
          <b-form-invalid-feedback v-if="!$v.form.name.ru.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>
      </b-col>

      <b-col lg="4" sm="6">
        <form-field
          :label="$t('lang_en')"
          :is-invalid="$v.form.name.en.$error"
          v-model="form.name.en"
        >
          <b-form-invalid-feedback v-if="!$v.form.name.en.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>
      </b-col>

      <b-col lg="4" sm="6">
        <b-form-group :label="$t('category')">
          <v-select
            multiple
            :closeOnSelect="false"
            v-model="form.category_ids"
            :options="categories"
            :reduce="data => data.value"
            :clearable="false"
            :class="{ 'is-invalid': $v.form.category_ids.$error }"
          >
            <template #option="{ parent_id, label }">
              <span v-if="parent_id">&nbsp;&nbsp; {{ label }}</span>
              <span v-else>{{ label }}</span>
            </template>
          </v-select>
          <b-form-invalid-feedback v-if="!$v.form.category_ids.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </b-form-group>
      </b-col>

      <b-col lg="4" sm="6">
        <form-field
          :label="$t('unit_of_measure')"
          v-model="form.unit_of_measurement"
        />
      </b-col>

      <b-col lg="4" sm="6">
        <b-form-group :label="$t('type')">
          <v-select
            :clearable="false"
            v-model="form.type"
            :options="type_options"
            :reduce="data => data.value"
          />
        </b-form-group>
      </b-col>

      <b-col cols="12">
        <div class="d-flex">
          <b-form-group class="mr-3">
            <b-form-checkbox v-model="form.filterable">
              {{ $t("filterable") }}
            </b-form-checkbox>
          </b-form-group>
          <b-form-group>
            <b-form-checkbox v-model="form.active">
              {{ $t("display") }}
            </b-form-checkbox>
          </b-form-group>
        </div>
      </b-col>

      <b-col cols="12" v-if="is_select_type">
        <multiple-fields-row
          :fields="form.options"
          @add-field="handleAddField"
          @remove-field="handleRemoveField"
          @update-field="handleUpdateField"
        />
      </b-col>

      <b-col cols="12">
        <div class="d-flex">
          <b-button class="mr-3" variant="primary" type="submit">
            <i class="icon-check"></i>
            {{ $t('submit') }}
          </b-button>
          <b-button variant="danger" type="button" @click="$router.go(-1)">
            <i class="icon-cancel"></i>
            {{ $t('reject') }}
          </b-button>
        </div>
      </b-col>

    </b-row>
  </b-form>
</template>

<script>
import { mapGetters } from "vuex";
import { required } from "vuelidate/lib/validators";
import MultipleFieldsRow from "@/components/form/MultipleFieldsRow";

export default {
  name: "CreateAttributeForm",
  components: {
    MultipleFieldsRow
  },
  props: {
    pending: {
      type: Boolean,
      default: false
    },
    initialData: {
      type: Object,
      default: () => ({
        name: {
          az: "",
          ru: "",
          en: "",
        },
        category_ids: null,
        unit_of_measurement: "",
        type: "string",
        filterable: false,
        active: false,
        options: []
      })
    }
  },
  data() {
    return {
      type_options: [
        { label: "String", value: "string" },
        { label: "Boolean", value: "bool" },
        { label: "Select", value: "select" },
      ],
      form: {
        ...this.initialData,
        name: { ...this.initialData.name },
        options: this.initialData.options.length
          ? [ ...this.initialData.options ]
          : [{ value: { az: "", ru: "", en: "" } }]
      }
    }
  },
  validations: {
    form: {
      name: {
        az: { required },
        ru: { required },
        en: { required }
      },
      category_ids: { required }
    }
  },
  computed: {
    ...mapGetters({
      categories: "categories/getChildOptions"
    }),
    is_select_type() {
      return this.form.type === "select";
    }
  },
  methods: {
    handleAddField() {
      this.form.options = [...this.form.options, { value: { az: "", ru: "", en: "" } }];
    },

    handleRemoveField(index) {
      this.form.options.splice(index, 1);
    },

    handleUpdateField({ index, lang, value }) {
      this.form.options[index] = {
        ...this.form.options[index],
        value: {
          ...this.form.options[index].value,
          [lang]: value
        }
      };
      this.form.options = [...this.form.options];
    },

    handleSubmit() {
      this.$v.form.$touch();

      if (this.$v.$invalid) {
        this.$toast.error(this.$t("invalid_credentials"));
        return;
      }

      !this.pending && this.$emit("form-submit", this.form);
    }
  }
}
</script>
