<template>
  <div class="file-input-preview d-flex align-items-center">
    <template v-if="link">
      <a class="file-input-preview__label" :href="link" target="_blank">{{ name }}</a>
    </template>
    <template v-else>
      <div class="file-input-preview__label">{{ name }}</div>
    </template>
    <button class="file-input-preview__btn" type="button" @click="$emit('delete-file')">
      {{ $t("remove_file") }}
    </button>
  </div>
</template>

<script>
export default {
  name: "FileInputPreview",
  props: {
    name: {
      type: String,
      default: ""
    },
    link: {
      type: String,
      default: ""
    }
  }
}
</script>
