<template>
  <b-form-group :label="label">
    <client-only>
      <the-mask
        class="form-control"
        v-model="fieldValue"
        mask="+### (##) ### ## ##"
        :placeholder="placeholder"
        :class="{ 'is-invalid': isInvalid }"
      />
    </client-only>
    <slot></slot>
  </b-form-group>
</template>

<script>
export default {
  name: "FormField",
  props: {
    label: {
      type: String
    },
    type: {
      type: String,
      default: "text"
    },
    value: {
      type: String
    },
    placeholder: {
      type: String
    },
    isInvalid: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    fieldValue: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      }
    }
  }
}
</script>
