<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.branches')" hide-search />

    <white-panel :title="$t('menu.branches')" :subtitle="$t('branch_update')">
      <create-branch-form :pending="pending" :initial-data="branch" @form-submit="handleSubmit" />
    </white-panel>
  </b-container>
</template>

<script>
import { mapGetters } from "vuex";
import CreateBranchForm from "@/components/branches/CreateBranchForm";

export default {
  name: "UpdateBranch",
  components: {
    CreateBranchForm
  },
  data() {
    return {
      pending: false
    }
  },
  computed: {
    ...mapGetters({
      branch: "branches/getBranch"
    })
  },
  methods: {
    async handleSubmit(form_data) {
      try {
        this.pending = true;
        await this.$store.dispatch("branches/update", form_data);
        await this.$router.push(this.localeRoute("pages-store"));
        this.$toast.success(this.$t("successfull_operation"));
      } catch (e) {
        this.pending = false;
        this.$toast.error(this.$t("invalid_credentials"));
      }
    }
  },
  async asyncData({ params, store }) {
    await store.dispatch("branches/fetchOne", params.id);
  }
}
</script>
