<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.branches')" hide-search />

    <white-panel :title="$t('menu.branches')" :subtitle="$t('branch_creation')">
      <create-branch-form :pending="pending" @form-submit="handleSubmit" />
    </white-panel>
  </b-container>
</template>

<script>
import CreateBranchForm from "@/components/branches/CreateBranchForm";

export default {
  name: "CreateBranch",
  components: {
    CreateBranchForm
  },
  data() {
    return {
      pending: false
    }
  },
  methods: {
    async handleSubmit(form_data) {
      try {
        this.pending = true;
        await this.$store.dispatch("branches/create", form_data);
        await this.$router.push(this.localeRoute("pages-store"));
        this.$toast.success(this.$t("successfull_operation"));
      } catch (e) {
        this.pending = false;
        this.$toast.error(this.$t("invalid_credentials"));
      }
    }
  }
}
</script>
