<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.branches')" hide-search />

    <white-panel :title="$t('menu.branches')" :subtitle="$t('manage_branches')">
      <template #actions>
        <nuxt-link class="btn btn-primary" :to="$localePath('pages-store-create')">
          <i class="icon-plus"></i>
          {{ $t("add") }}
        </nuxt-link>
      </template>
      <!-- actions -->

      <template #default>
        <data-table :fields="branches.fields">
          <tbody>
            <tr v-for="branch in branches.items">
              <td>
                <p class="min-w-200">{{ branch.name }}</p>
              </td>
              <td>
                <p class="min-w-200">{{ branch.address }}</p>
              </td>
              <td>
                <p class="min-w-200">{{ branch.map_link | truncate(50) }}</p>
              </td>
              <td>
                <div class="table-actions">
                  <b-form-checkbox
                    switch
                    :checked="branch.active"
                    @change="(e) => handleTogggleActive(e, branch.id)"
                  >
                    &nbsp;
                  </b-form-checkbox>
                  <nuxt-link :to="$localePath('pages-store-id', { id: branch.id })">
                    <i class="icon-edit"></i>
                  </nuxt-link>
                  <button @click="confirmDetele(branch.id)">
                    <i class="icon-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </data-table>
      </template>
      <!-- default -->
    </white-panel>
    <!-- white panel -->
  </b-container>
</template>

<script>
import { mapGetters } from "vuex";
import deletable from "@/mixins/deletable";

export default {
  name: "BranchesIndex",
  mixins: [deletable],
  computed: {
    ...mapGetters({
      branches: "branches/getBranches"
    })
  },
  methods: {
    async handleTogggleActive(e, branch_id) {
      try {
        await this.$store.dispatch("branches/toggle", { id: branch_id, active: e });
        this.$toast.success(this.$t("successfull_operation"));
      } catch(error) {
        this.$toast.error(this.$t("error_occurred"));
      }
    },

    confirmDetele(branch_id) {
      this.deletable(() => {
        this.$store.dispatch("branches/delete", branch_id);
      })
    },
  },
  async asyncData({ store }) {
    await store.dispatch("branches/fetchAll");
  }
}
</script>
