<template>
  <b-form>
    <b-row>
      <b-col lg="8">
        <b-row>
          <b-col md="6">
            <b-form-group :label="$t('category')" @submit="handleSubmit(false)">
              <v-select
                :clearable="false"
                v-model="form.category_id"
                :options="categories"
                :reduce="data => data.value"
                :class="{ 'is-invalid': $v.form.category_id.$error }"
                @input="handleCategoryChange"
              >
                <template #option="{ parent_id, label }">
                  <span v-if="parent_id">&nbsp;{{ label }}</span>
                  <span v-else>{{ label }}</span>
                </template>
              </v-select>
              <b-form-invalid-feedback v-if="!$v.form.category_id.required">
                {{ $t("required") }}
              </b-form-invalid-feedback>
            </b-form-group>


            <b-form-group :label="$t('brand')">
              <v-select
                :clearable="false"
                v-model="form.brand_id"
                :options="brands"
                :reduce="data => data.value"
                :class="{ 'is-invalid': $v.form.brand_id.$error }"
              />
              <b-form-invalid-feedback v-if="!$v.form.brand_id.required">
                {{ $t("required") }}
              </b-form-invalid-feedback>
            </b-form-group>
             <form-field
              type="number"
              :label="$t('stock_id')"
              v-model="form.stock_id_1"
              :is-invalid="$v.form.stock_id_1.$error"
              :has-success="$v.form.stock_id_1.required && is_unique_stock_id_1"
              :has-error="$v.form.stock_id_1.required && !is_unique_stock_id_1"
              @input="validateField($event, 'stock_id_1')"
            >
              <b-form-invalid-feedback v-if="!$v.form.stock_id_1.required">
                {{ $t("required") }}
              </b-form-invalid-feedback>
            </form-field>

            <form-field
              :label="$t('part_number')"
              v-model="form.part_number"
              :is-invalid="$v.form.part_number.$error"
              :has-success="$v.form.part_number.required && is_unique_part_number"
              :has-error="$v.form.part_number.required && !is_unique_part_number"
              @input="validateField($event, 'part_number')"
            >
              <b-form-invalid-feedback v-if="!$v.form.part_number.required">
                {{ $t("required") }}
              </b-form-invalid-feedback>
            </form-field>

            <form-field :label="$t('product_name')" v-model="form.name" :is-invalid="$v.form.name.$error">
              <b-form-invalid-feedback v-if="!$v.form.name.required">
                {{ $t("required") }}
              </b-form-invalid-feedback>
            </form-field>

            <form-field type="number" :label="$t('count')" v-model="form.quantity">
              <b-form-invalid-feedback>
                {{ $t("required") }}
              </b-form-invalid-feedback>
            </form-field>
<form-field
              type="number"
              class="price-field"
              :label="$t('price')"
              v-model="form.price"
              @input="form.coming_soon = 0"
            >
              <b-form-invalid-feedback>
                {{ $t("required") }}
              </b-form-invalid-feedback>
            </form-field>
 
           
           

            <b-form-group :label="$t('campaign')">
              <v-select
                :clearable="true"
                :closeOnSelect="true"
                v-model="campaignSelect"
                :options="selectsWithLocales"
                :reduce="data => data.value"
              />
            </b-form-group>
            
             <template v-if="form.campaign_ids.length">
              <form-field
                type="number"
                class="price-field"
                :label="$t('sale_price')"
                v-model="form.low_price"
              >
                <b-form-invalid-feedback >
                  {{ $t("required") }}
                </b-form-invalid-feedback>
              </form-field>
            </template>

            

            <b-form-group>
              <b-form-checkbox v-model="form.coming_soon" :value="1" :unchecked-value="0" >
                {{ $t("coming_soon") }}
              </b-form-checkbox>
            </b-form-group>

            <b-form-group>
              <b-form-checkbox v-model="form.is_new.status" :value="1" :unchecked-value="0">
                {{ $t("new_product") }}
              </b-form-checkbox>
            </b-form-group>

            <b-row v-if="form.is_new.status">
              <b-col>
                <b-form-group :label="$t('start_date')">
                  <b-form-datepicker
                    dropup
                    hide-header
                    v-model="form.is_new.start_date"
                    :min="new Date()"
                    :max="form.is_new.end_date"
                    :placeholder="$t('choose_date')"
                    :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                  />
                </b-form-group>
              </b-col>

              <b-col>
                <b-form-group :label="$t('end_date')">
                  <b-form-datepicker
                    dropup
                    hide-header
                    v-model="form.is_new.end_date"
                    :min="form.is_new.start_date || new Date()"
                    :placeholder="$t('choose_date')"
                    :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                  />
                </b-form-group>
              </b-col>
            </b-row>
          </b-col>
          <!-- col (inner) -->

          <b-col md="6">
            <b-form-group :label="$t('images')">
              <multiple-images-uploader
                ref="files"
                :height="249"
                :uploaded-images="form.images"
                @delete-image="deleteImage"
                @images-updated="handleImagesUpdated"
              />
              <b-form-invalid-feedback>
                {{ $t("required") }}
              </b-form-invalid-feedback>
            </b-form-group>

            <b-form-group :label="$t('information')">
              <client-only>
                <vue-editor v-model="form.description" :editorToolbar="toolbar_options" />
              </client-only>
            </b-form-group>

            <b-form-group>
              <div class="add-attachments">
                <button class="btn btn-dark btn-block" type="button" @click="toggleAttachments">
                  {{ $t('consumables_and_accessories') }}
                </button>
              </div>
            </b-form-group>
          </b-col>
          <!-- col (inner) -->

          <b-col cols="12">
            <product-attachments
              v-if="show_attachments"
              :attachments="form.attachments"
              @submit-attachment="handleSubmitAttachment"
              @delete-attachment="handleDeleteAttachment"
            />

            <div class="d-none d-lg-block">
              <div class="d-flex">
                <b-button class="mr-3" variant="primary" type="submit" v-if="this.$route.query.type !== 'copy'" @click.prevent="handleSubmit(false)">
                  <i class="icon-check"></i>
                  {{ $t('save') }}
                </b-button>

                 <b-button class="mr-3" variant="success" type="button" v-if="this.$route.query.type !== 'copy'" @click.prevent="handleSubmit(true)">
                  <i class="icon-check"></i>
                  {{ $t('save_and_exit') }}
                </b-button>

                <b-button class="mr-3" variant="primary" type="button" v-else @click.prevent="handleSubmit(false)">
                  <i class="icon-check"></i>
                  {{ $t('product_copy_btn') }}
                </b-button>

                <b-button variant="danger" type="button" @click="$router.go(-1)">
                  <i class="icon-cancel"></i>
                  {{ $t('reject') }}
                </b-button>
              </div>
            </div>
          </b-col>
          <!-- col (inner) -->
        </b-row>
      </b-col>
      <!-- col (outer) -->

      <b-col lg="4">
        <template v-if="form.attributes.length">
          <div v-for="(attribute, index) in form.attributes" :key="index">
            <b-form-group v-if="attribute.type === 'select'" :label="attribute.name">
              <v-select
                :value="attribute.value"
                :options="attribute.options"
                :reduce="data => data.value"
                @input="handleAttributeChange($event, { index, id: attribute.id })"
              />
            </b-form-group>
            <b-form-group v-else-if="attribute.type === 'string'" :label="attribute.name">
              <b-form-input :value="attribute.value" @change="handleAttributeChange($event, { index, id: attribute.id })" />
            </b-form-group>
            <b-form-group v-else>
              <b-form-checkbox
                :checked="attribute.value === 1"
                :unchecked-value="0"
                @change="handleAttributeChange($event, { index, id: attribute.id })"
              >
                {{ attribute.name }}
              </b-form-checkbox>
            </b-form-group>
          </div>

          <b-form-group :label="$t('link')">
<!--            <template v-if="!form.document_link">-->
<!--              <template v-if="!form.document">-->
<!--                <b-form-file v-model="form.document" :lang="$i18n.locale" accept="application/pdf" />-->
<!--              </template>-->
<!--              <template v-else>-->
<!--                <file-input-preview :name="form.document.name" @delete-file="deleteDocument" />-->
<!--              </template>-->
<!--            </template>-->
<!--            <template v-else>-->
              <b-form-input v-model="form.link" :name="form.link" />
<!--            </template>-->
          </b-form-group>
        </template>

        <div class="d-lg-none">
          <div class="d-flex">
              <b-button class="mr-3" variant="primary" type="button" @click.prevent="handleSubmit(false)">
                  <i class="icon-check"></i>
                  {{ $t('save') }}
                </b-button>

                 <b-button class="mr-3" variant="success" type="button" v-if="this.$route.query.type !== 'copy'" @click.prevent="handleSubmit(true)">
                  <i class="icon-check"></i>
                  {{ $t('save_and_exit') }}
                </b-button>
                
            <b-button variant="danger" type="button" @click="$router.go(-1)">
              <i class="icon-cancel"></i>
              {{ $t('reject') }}
            </b-button>
          </div>
        </div>
      </b-col>
      <!-- col (outer) -->
    </b-row>
    <!-- row -->
  </b-form>
</template>

<script>
import { mapGetters } from "vuex";
import { required, requiredIf, minLength } from "vuelidate/lib/validators";
import { debounce } from "debounce";

import MultipleImagesUploader from "@/components/elements/MultipleImagesUploader";
import ProductAttachments from "@/components/products/ProductAttachments";

export default {
  name: "CreateProductForm",
  components: {
    MultipleImagesUploader,
    ProductAttachments
  },
  props: {
    pending: false,
    initialData: {
      type: Object,
      default: () => ({
        coming_soon: 0,
        category_id: "",
        brand_id: "",
        part_number: "",
        name: "",
        quantity: "",
        stock_id_1: "",
        price: "",
        low_price: "",
        is_new: {
          status: 0,
          start_date: new Date().toISOString().slice(0, 10),
          end_date: ""
        },
        images: [],
        uploaded_images: [],
        description: "",
        link: null,
        campaign_ids: [],
        attributes: [],
        document: null,
        attachments: {
          consumable: [],
          accessory: [],
          gift: []
        }
      })
    }
  },
  data() {
    return {
      options: [ {"id":"1","label":"car", "price":"xyz", "desc":"sth sth sth"},
{"id":"2","label":"bike", "price":"aa", "desc":"blah blah blah"}
],
      show_attachments: false,
      deleted_images: [],
      is_unique_part_number: true,
      is_unique_stock_id_1: true,
      toolbar_options: [
        ["bold", "italic", "underline"],
        [{ list: "ordered" }, { list: "bullet" }],
        [{ align: "" }, { align: "center" }, { align: "right" }, { align: "justify" }],
      ],
      campaignSelect: this.initialData.campaign_ids.length ? [ ...this.initialData.campaign_ids ] : [],
      form: {
        ...this.initialData,
        uploaded_images: [...this.initialData.images],
        campaign_ids: this.initialData.campaign_ids.length ? [ ...this.initialData.campaign_ids ] : [],
        is_new: { ...this.initialData.is_new },
        attachments: {
          ...this.initialData.attachments,
          consumable: [...this.initialData.attachments.consumable],
          accessory: [...this.initialData.attachments.accessory],
          gift: [...this.initialData.attachments.gift],
        }
      }
    }
  },
  validations: {
    form: {
      category_id: { required },
      brand_id: { required },
      part_number: { required },
      name: { required },
      // quantity: {
      //   required: requiredIf(function (model) {
      //     return model.coming_soon !== 1
      //   })
      // },
      stock_id_1: {
        required: requiredIf(function (model) {
          return model.coming_soon !== 1
        })
      },
      // price: {
      //   required: requiredIf(function (model) {
      //     return model.coming_soon !== 1
      //   })
      // },
      // low_price: {
      //   required: requiredIf(function (model) {
      //     return model.campaign_ids.length;
      //   })
      // },
      // uploaded_images: { required, minLength: minLength(1) },
    }
  },
  computed: {
    form_is_valid() {
      return !this.$v.$invalid && this.is_unique_part_number && this.is_unique_stock_id_1;
    },
    ...mapGetters({
      categories: "categories/getChildOptions",
      brands: "brands/getOptions",
      campaigns: "campaigns/getOptions",
      category_attributes: "attributes/getCategoryAttributes"
    }),
    selectsWithLocales(){
      return this.campaigns.map(campaign => {
        return {
          id: campaign.id,
          value: campaign.value,
          label: campaign.label[this.$i18n.locale]
        }
    })
    }
  },
  watch: {
    'form.coming_soon'(val){
      if(val){
        console.log(this.form.price)
        this.form.price = null
      }
    },
    category_attributes() {
      this.form.attributes = [...this.category_attributes];
    },
    'campaignSelect'(){
      if(this.campaignSelect){
        this.form.campaign_ids = []
        this.form.campaign_ids.push(this.campaignSelect)
      }else{
        this.form.campaign_ids = []
      }
      
    }
  },
  methods: {
    async handleCategoryChange(category_id) {
      this.$nuxt.$loading.start();
      await this.$store.dispatch("attributes/fetchByCategory", category_id);
    },
    validateField: debounce(async function(value, field) {
      if (value) {
        switch (field) {
          case "stock_id_1":
            this.$store.dispatch("products/validateField", { stock_id_1: value })
              .then(data => this.is_unique_stock_id_1 = data)
              .catch(() => this.is_unique_stock_id_1 = false);
            break;
          default:
            this.$store.dispatch("products/validateField", { part_number: value })
              .then(data => this.is_unique_part_number = data)
              .catch(() => this.is_unique_part_number = false);
        }
      }
    }, 250),

    handleImagesUpdated(images) {
      this.form.uploaded_images = [...images];
    },

    toggleAttachments() {
      this.show_attachments = !this.show_attachments;
    },

    handleAttributeChange(value, { index, id }) {
      this.$store.commit("attributes/CHANGE_ATTRIBUTE_VALUE", { id, value });
    },

    handleSubmitAttachment(data) {
      const { product, types } = data;
      types.map(type => {
        this.form.attachments[type].push(product);
      });
    },

    handleDeleteAttachment(data) {
      const { type, index } = data;
      this.form.attachments[type].splice(index, 1);
    },

    deleteDocument() {
      console.log(123)

      this.form.document = null
      if (this.form.document_link) {
        this.$store
          .dispatch("products/deleteDocument", this.form.id)
          .then(() => this.form.document_link = "")
      }
    },

   async handleSubmit(exit = false) {
      this.$v.form.$touch();

      if (!this.form_is_valid) {
        this.$toast.error(this.$t("invalid_credentials"));
        return;
      }

      const form_data = this.prepareFormData();
      !this.pending && this.$emit("form-submit", { exit, id: this.form.id, form_data });
    },

    prepareFormData() {
      const form_data = new FormData();
      const images = this.$refs.files.images;

      form_data.append("coming_soon", this.form.coming_soon);
      form_data.append("category_id", this.form.category_id);
      form_data.append("brand_id", this.form.brand_id);
      form_data.append("part_number", this.form.part_number);
      form_data.append("name", this.form.name);
      form_data.append("quantity", this.form.quantity || null);
      form_data.append("stock_id_1", this.form.stock_id_1);
      form_data.append("price", this.form.price || null);
      form_data.append("description", this.form.description || "");
      form_data.append("is_new[status]", this.form.is_new.status);
      form_data.append('link', this.form.link || "")
      
      if(this.form.campaign_ids.length) {
        form_data.append("campaign_ids[]", this.form.campaign_ids);
        form_data.append("low_price", this.form.low_price || null)
      } 

      if (this.form.is_new.status) {
        form_data.append("is_new[start_date]", this.form.is_new.start_date || "");
        form_data.append("is_new[end_date]", this.form.is_new.end_date || "");
      }

      // if (this.form.campaign_ids.length) {
      //   form_data.append("low_price", this.form.low_price)
      //   // form_data.append("campaign_ids[]", this.form.campaign_ids);
        
      // }
  
      // this.form.campaign_ids.forEach((id) => {
      //   form_data.append("campaign_ids[]", id);
      // });

      images.forEach(image => {
        form_data.append("images[]", image.file);
      });

      this.deleted_images.forEach((image_id) => {
        form_data.append("deletedImages[]", image_id);
      });

      this.form.attributes.forEach((attr, index) => {
        switch(attr.type) {
          case "select":
            form_data.append(`attributes[${index}][attribute_id]`, attr.id);
            form_data.append(`attributes[${index}][option_id]`, attr.value);
            break;
          case "bool":
            form_data.append(`attributes[${index}][attribute_id]`, attr.id);
            form_data.append(`attributes[${index}][value]`, attr.value === true ? 1 : attr.value);
            break;
          default:
            form_data.append(`attributes[${index}][attribute_id]`, attr.id);
            attr.value
              ? form_data.append(`attributes[${index}][value]`, attr.value)
              : form_data.append(`attributes[${index}][value]`, "")
        }
      });


      this.form.document && form_data.append("document", this.form.document);

      this.form.attachments["consumable"].forEach(attachment => {
        form_data.append("attachments[consumable][]", attachment.id);
      });

      this.form.attachments["accessory"].forEach(attachment => {
        form_data.append("attachments[accessory][]", attachment.id);
      });

      this.form.attachments["gift"].forEach(attachment => {
        form_data.append("attachments[gift][]", attachment.id);
      });

      return form_data;
    },

    deleteImage(id) {
      this.deleted_images.push(id);
    }
  },
  
  beforeDestroy() {
    this.form.uploaded_images = [];
    this.form.images = [];
    // this.$store.commit("attributes/SET_CATEGORY_ATTRIBUTES", []);
  }
}
</script>
