<template>
  <div class="inline-product d-flex flex-wrap align-items-center">
    <div class="inline-product__image">
      <img :src="product.image" :alt="product.name">
    </div>
    <div class="inline-product__name">
      <p>{{ product.name }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "InlineProduct",
  props: {
    product: {
      type: Object,
      default: () => ({
        id: 0,
        name: "",
        image: ""
      })
    }
  }
}
</script>
