<template>
  <div>
    <div class="product-attachments">
      <div class="dynamic-search">
        <b-form-group class="search-field">
          <b-form-input v-model="search_query" :placeholder="$t('search')" @keydown="handleSearchChange" />
        </b-form-group>

        <div class="dynamic-search__results" v-if="show_results && search_query.trim().length">
          <div v-if="!product_attachments.length">
            <p class="text-center">{{ $t('no_data') }}</p>
          </div>
          <div v-else class="search-results d-flex flex-wrap">
            <div
              class="search-results__item"
              v-for="product in product_attachments"
              :key="product.id"
              @click="selectProduct(product)"
            >
              <inline-product :product="product" />
            </div>
          </div>
        </div>
      </div>
      <!-- dynamic search -->

      <div class="product-attachments__items-wrapper">
        <b-row>
          <b-col xl="4" md="6" v-for="(value, key) in attachments" :key="key">
            <p class="product-attachments__label">{{ $t(key) }}</p>
            <div class="product-attachments__items d-flex flex-column justify-content-center">
              <template v-if="!value.length">
                <p class="text-center">{{ $t('no_data') }}</p>
              </template>
              <template v-else>
                <ul class="product-attachments__list">
                  <li v-for="(product, index) in value" :key="index">
                    <inline-product :product="product" />
                    <div class="d-flex justify-content-end">
                      <a :href="product.url" class="text-info mr-2" target="_blank">
                        {{ $t("watch") }}
                      </a>
                      <a href="#" class="text-info" @click.prevent="deleteAttachment(key, index)">
                        {{ $t("delete") }}
                      </a>
                    </div>
                  </li>
                </ul>
              </template>
            </div>
          </b-col>
        </b-row>
      </div>
      <!-- attachments items wrapper -->
    </div>
    <!-- product attachments -->

    <b-modal centered hide-footer id="select-product" @hidden="resetData">
      <template #modal-header>
        <h2 class="block-title w-100 text-center">{{ $t('please_make_choise') }}</h2>
      </template>

      <b-form-group class="d-flex justify-content-center">
        <b-form-checkbox-group
          v-model="selected_attachment_types"
          :options="attachment_options[$i18n.locale]"
          button-variant="dark"
          buttons
        />
      </b-form-group>
      <div class="d-flex justify-content-center">
        <b-button variant="primary" @click="submitProductSelection">
          {{ $t("submit") }}
        </b-button>
      </div>
    </b-modal>
    <!-- modal -->
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { required } from "vuelidate/lib/validators";
import { debounce } from "debounce";
import InlineProduct from "@/components/products/InlineProduct";

export default {
  name: "ProductAttachments",
  props: {
    attachments: {
      type: Object,
      default: () => ({
        consumable: [],
        accessory: [],
        gift: []
      })
    }
  },
  components: {
    InlineProduct
  },
  data() {
    return {
      pending: false,
      show_results: false,
      search_query: "",
      selected_product: {},
      selected_attachment_types: [],
      attachment_options: {
        az: [
          { text: "Sərfiyyat hissələri", value: "consumable" },
          { text: "Aksesuarlar", value: "accessory" },
          { text: "Hədiyyələr", value: "gift" }
        ],
        ru: [
          { text: "Расходные материалы", value: "consumable" },
          { text: "Аксесуары", value: "accessory" },
          { text: "Подарки", value: "gift" }
        ],
        en: [
          { text: "Consumables", value: "consumable" },
          { text: "Accessories", value: "accessory" },
          { text: "Gifts", value: "gift" }
        ]
      }
    }
  },
  validations: {
    search_query: { required }
  },
  computed: {
    ...mapGetters({
      product_attachments: "products/getAttachments"
    })
  },
  methods: {
    handleSearchChange: debounce(function() {
      this.$v.$touch();
      if (this.$v.$invalid || this.pending) return;

      this.pending = true;
      this.$nuxt.$loading.start();
      this.$store
        .dispatch("products/searchAsAttachments", { q: this.search_query })
        .then(() => {
          this.pending = false;
          this.show_results = true;
        })
    }, 250),

    selectProduct(product) {
      this.selected_product = product;
      this.$bvModal.show("select-product");
    },

    submitProductSelection() {
      this.$emit("submit-attachment", {
        product: this.selected_product,
        types: this.selected_attachment_types
      });
      this.$bvModal.hide("select-product");
    },

    deleteAttachment(type, index) {
      this.$emit("delete-attachment", { type, index });
    },

    resetData() {
      this.show_results = false;
      this.search_query = "";
      this.selected_product = {};
      this.selected_attachment_types = [];
    }
  }
}
</script>
