<template>
  <div class="banner-thumb">
    <img :src="thumb" alt="Banner thumbnail">
  </div>
</template>

<script>
export default {
  name: "ProductThumb",
  props: {
    thumb: {
      type: String
    }
  }
}
</script>
