<template>
  <div class="user-info d-flex align-items-center">
    <div class="user-info__thumb d-flex justify-content-center align-items-center">
      <span class="text-uppercase">{{ firstname | first_letter }}</span>
    </div>
    <div class="user-info__info">
      <p class="user-info__name">{{ firstname }} {{ lastname }}</p>
      <p class="user-info__email">{{ email }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "TableUser",
  props: {
    image: { type: String },
    firstname: { type: String },
    lastname: { type: String },
    email: { type: String },
  },
}
</script>
