<template>
  <div class="excel-table table-responsive">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>
            <b-form-checkbox
              v-model="select_rows"
              @change="handleChange"
            >№</b-form-checkbox>
          </th>
          <th v-for="field in fields.slice(1)" :key="field">
            {{ field }}
          </th>
        </tr>
      </thead>
      <slot></slot>
    </table>
  </div>
</template>

<script>
export default {
  name: "ExcelTable",
  props: {
    fields: {
      type: Array,
      default: () => ([])
    }
  },
  data() {
    return {
      select_rows: false
    }
  },
  methods: {
    handleChange() {
      this.$emit("toggle-rows-check", this.select_rows);
    }
  }
}
</script>
