<template>
  <div class="product-thumb" :class="{ empty: !thumb }">
    <img v-if="thumb" :src="thumb" :alt="name">
  </div>
</template>

<script>
export default {
  name: "ProductThumb",
  props: {
    thumb: {
      type: String
    },
    name: {
      type: String
    }
  }
}
</script>
