<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.brands')" hide-search />

    <white-panel :title="$t('menu.brands')" :subtitle="$t('manage_brands')">
      <b-row>
        <b-col md="6">
          <b-form-group :label="$t('menu.brands')" class="search-field">
            <b-form-input v-model="search" />
          </b-form-group>

          <template v-if="filtered_brands.length">
            <draggable tag="ul" class="options-list mb-4" v-model="filtered_brands" @end="handleBrandsSort">
              <li
                class="options-list__item"
                :class="{ active: b.id === brand.id }"
                v-for="b in filtered_brands"
                :key="b.id"
                @click="selectBrand(b.id)"
              >
                {{ b.name }}
              </li>
            </draggable>
          </template>
          <template v-else>
            <ul class="options-list mb-4">
              <li class="options-list__item">{{ $t('no_data') }}</li>
            </ul>
          </template>
        </b-col>
        <!-- col -->

        <b-col md="6">
          <b-row>
            <b-col lg="8">
              <form-field
                :label="$t('firstname')"
                v-model="form.name"
                :is-invalid="$v.form.name.$error"
              >
                <b-form-invalid-feedback v-if="!$v.form.required">
                  {{ $t("required") }}
                </b-form-invalid-feedback>
              </form-field>

              <b-form-group>
                <b-form-checkbox v-model="form.partner" :value="1" :unchecked-value="0">
                  {{ $t('partner') }}
                </b-form-checkbox>
              </b-form-group>

              <b-form-group>
                <image-uploader
                  ref="file"
                  :height="200"
                  :key="form.id"
                  :uploaded_image="form.logo"
                  @delete-image="deleteLogo"
                />
              </b-form-group>

              <template v-if="brand.name">
                <b-button variant="primary" block @click="updateBrand">
                  {{ $t("save") }}
                </b-button>
                <b-button variant="secondary" block @click="reset">
                  {{ $t("reject") }}
                </b-button>
                <b-button variant="danger" block @click="deleteBrand(brand.id)">
                  {{ $t("delete") }}
                </b-button>
              </template>
              <template v-else>
                <b-button variant="primary" block @click="createBrand">
                  {{ $t("add") }}
                </b-button>
              </template>
            </b-col>
          </b-row>
        </b-col>
        <!-- col -->
      </b-row>
    </white-panel>
    <!-- white panel -->
  </b-container>
</template>

<script>
import { mapGetters } from "vuex";
import { required } from "vuelidate/lib/validators";
import ImageUploader from "@/components/elements/ImageUploader";

export default {
  name: "BrandsIndex",
  components: {
    ImageUploader
  },
  data() {
    return {
      search: "",
      pending: false,
      deleted_images: [],
      form: {
        id: "",
        name: "",
        logo: { file: "" },
        partner: 0,
      }
    }
  },
  validations: {
    form: {
      name: { required }
    }
  },
  computed: {
    ...mapGetters({
      brands: "brands/getBrands",
      brand: "brands/getBrand"
    }),
    filtered_brands: {
      get() {
        if (this.search !== "") {
          return this.brands.filter((brand) => {
            return brand.name.toLowerCase().startsWith(this.search.toLowerCase());
          })
        } else {
          return this.brands;
        }
      },
      set(value) {
        this.$store.commit("brands/SET_BRANDS", value);
      }
    }
  },
  methods: {
    selectBrand(id) {
      const index = this.brands.findIndex((brand) => brand.id === id);
      this.form = { ...this.brands[index] };
      this.$store.commit("SET_ITEM", { module: "brands", item: this.brands[index] });
    },

    async createBrand() {
      this.$v.form.$touch();
      if (this.$v.$invalid) return;
      const form_data = this.prepareFormData();

      if (!this.pending) {
        try {
          this.pending = true;
          await this.$store.dispatch("brands/create", form_data);
          this.reset();
          this.$toast.success(this.$t("successfull_operation"));
        } catch (e) {
          this.pending = false;
          this.$toast.error(this.$t("invalid_credentials"));
        }
      }
    },

    async updateBrand() {
      this.$v.form.$touch();
      if (this.$v.$invalid) return;
      const form_data = this.prepareFormData();

      if (!this.pending) {
        try {
          this.pending = true;
          await this.$store.dispatch("brands/update", { id: this.form.id, form_data });
          this.$toast.success(this.$t("successfull_operation"));
          this.reset();
        } catch (e) {
          this.pending = false;
          this.$toast.error(this.$t("invalid_credentials"));
        }
      }
    },

    async handleBrandsSort() {
      try {
        await this.$store.dispatch("brands/sort", this.filtered_brands);
        this.$toast.success(this.$t("successfull_operation"));
      } catch(error) {
        this.$toast.error(this.$t("error_occurred"));
      }
    },

    async deleteBrand(id) {
      if (!this.pending) {
        try {
          this.pending = true;
          await this.$store.dispatch("brands/delete", id);
          this.reset();
          this.$toast.success(this.$t("successfull_operation"));
        } catch (e) {
          this.pending = false;
          this.$toast.error(this.$t("invalid_credentials"));
        }
      }
    },

    prepareFormData() {
      const form_data = new FormData();
      const file = this.$refs.file.image.file;

      this.deleted_images.map((key) => {
        form_data.append("deleted_images[]", key);
      });

      form_data.append("name", this.form.name);
      form_data.append("partner", this.form.partner);
      if (file) form_data.append("logo", file);

      return form_data;
    },

    reset() {
      this.pending = false;
      this.form.id = 0;
      this.form.name = "";
      this.form.logo = { file: "" };
      this.form.partner = 0;
      this.deleted_images = [];
      this.$store.commit("SET_ITEM", { module: "brands", item: {}});
      this.$v.form.$reset();
    },

    deleteLogo(id) {
      this.deleted_images.push(id);
    },
  },
  beforeDestroy() {
    this.reset();
  },
  async asyncData({ store }) {
    await store.dispatch("brands/fetchAll");
  }
}
</script>
