@font-face {
  font-family: "Inter Regular";
  src: url("../fonts/Inter-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Inter Medium";
  src: url("../fonts/Inter-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Inter SemiBold";
  src: url("../fonts/Inter-SemiBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Inter Bold";
  src: url("../fonts/Inter-Bold.ttf");
  font-display: swap;
}
