.text-nowrap {
  white-space: nowrap;
}

.cover-center {
  background: no-repeat center center;
  background-size: cover;
}

.img-contained {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img-covered {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// titles
.block-header {
  margin-bottom: 20px;

  .block-title {
    margin-bottom: 5px;
  }

  .block-subtitle {
    color: var(--text-medium);
  }
}

.page-title {
  font-family: "Inter Bold", sans-serif;
  font-size: 22px;
  line-height: 28px;
}

.block-title {
  font-family: "Inter Bold", sans-serif;
  font-size: 19px;
  line-height: 26px;
}

// width
.min-w-200 {
  min-width: 200px;
}
