:root {
  --text-main: #3F4254;
  --text-medium: #626679;

  --main-bg: #EEF0F8;
  --input-bg: #EFF0F9;
  --input-disabled-bg: #F4F4F5;

  --white: #ffffff;
  --grey: #F6F5FA;
  --black: #000000;
  --blue: #459ED8;
  --green : #08A045;
  --green2 : #22A6AC;
  --red: #ED3237;
  --red2 : #F05179;
  --orange: #F89747;
}

$white: #ffffff;
$grey: #F6F5FA;
$black: #000000;
$blue: #459ED8;
$green : #08A045;
$green2 : #22A6AC;
$red: #ED3237;
$red2 : #F05179;
$orange: #F89747;


@import '~vuetify/src/styles/styles.sass';