<template>
  <div class="statistic-blocks">
    <div class="row">
      <b-col lg="3" sm="6">
        <div class="statistic-block d-flex flex-column" style="background-color: var(--blue)">
          <p class="statistic-block__label">{{ $t("sale_traffic") }}</p>
          <div class="statistic-block__bottom d-flex align-items-center justify-content-between">
            <p class="statistic-block__num">{{ statistics.sale_traffic }}</p>
            <p class="statistic-block__icon">
              <i class="icon-up-down"></i>
            </p>
          </div>
        </div>
      </b-col>
      <!-- col -->

      <b-col lg="3" sm="6">
        <div class="statistic-block d-flex flex-column" style="background-color: var(--green2)">
          <p class="statistic-block__label">{{ $t("registered_ones") }}</p>
          <div class="statistic-block__bottom d-flex align-items-center justify-content-between">
            <p class="statistic-block__num">{{ statistics.registered_customers }}</p>
            <p class="statistic-block__icon">
              <i class="icon-user"></i>
            </p>
          </div>
        </div>
      </b-col>
      <!-- col -->

      <b-col lg="3" sm="6">
        <div class="statistic-block d-flex flex-column" style="background-color: var(--red2)">
          <p class="statistic-block__label">{{ $t("all_categories_count") }}</p>
          <div class="statistic-block__bottom d-flex align-items-center justify-content-between">
            <p class="statistic-block__num">{{ statistics.categories }}</p>
            <p class="statistic-block__icon">
              <i class="icon-arrow-left-down"></i>
            </p>
          </div>
        </div>
      </b-col>
      <!-- col -->

      <b-col lg="3" sm="6">
        <div class="statistic-block d-flex flex-column" style="background-color: var(--orange)">
          <p class="statistic-block__label">{{ $t("all_products_count") }}</p>
          <div class="statistic-block__bottom d-flex align-items-center justify-content-between">
            <p class="statistic-block__num">{{ statistics.products }}</p>
            <p class="statistic-block__icon">
              <i class="icon-warning"></i>
            </p>
          </div>
        </div>
      </b-col>
      <!-- col -->
    </div>
  </div>
</template>

<script>
export default {
  name: "DashboardStatistics",
  props: {
    statistics: {
      type: Object,
      default: () => ({
        sale_traffic: 0,
        registered_customers: 0,
        cheaper: 0,
        mistakes: 0,
      })
    }
  }
}
</script>
