<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.banners')" hide-search />

    <white-panel :title="$t('banner_update')" :subtitle="$t('fill_information')">
      <create-banner-form :pending="pending" :initial-data="banner" @form-submit="handleSubmit" />
    </white-panel>
  </b-container>
</template>

<script>
import { mapGetters } from "vuex";
import CreateBannerForm from "@/components/banners/CreateBannerForm";

export default {
  name: "BannerUpdate",
  components: {
    CreateBannerForm
  },
  data() {
    return {
      pending: false
    }
  },
  computed: {
    ...mapGetters({
      banner: "banners/getBanner"
    })
  },
  methods: {
    async handleSubmit({ id, form_data }) {
      try {
        this.pending = true;
        await this.$store.dispatch("banners/update", { id, form_data });
        await this.$router.push(this.localeRoute("pages-banners"));
        this.$toast.success(this.$t("successfull_operation"));
      } catch (e) {
        this.pending = false;
        this.$toast.error(this.$t("invalid_credentials"));
      }
    }
  },
  async asyncData({ params, store }) {
    await store.dispatch("banners/fetchOne", params.id);
  }
}
</script>
