<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.banners')" hide-search />

    <white-panel :title="$t('banner_creation')" :subtitle="$t('fill_information')">
      <create-banner-form :pending="pending" @form-submit="handleSubmit" />
    </white-panel>
  </b-container>
</template>

<script>
import CreateBannerForm from "@/components/banners/CreateBannerForm";

export default {
  name: "BannerCreate",
  components: {
    CreateBannerForm
  },
  data() {
    return {
      pending: false
    }
  },
  methods: {
    async handleSubmit({ form_data }) {
      try {
        this.pending = true;
        await this.$store.dispatch("banners/create", form_data);
        await this.$router.push(this.localeRoute("pages-banners"));
        this.$toast.success(this.$t("successfull_operation"));
      } catch (e) {
        this.pending = false;
        this.$toast.success(this.$t("invalid_credentials"));
      }
    }
  }
}
</script>
