<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.banners')"/>

    <white-panel :loading="loading" :title="$t('menu.banners')" :subtitle="$t('manage_banners')">
      <template #actions>
        <div class="d-flex flex-wrap align-items-start">
          <div class="w-xs-100 mr-3 mb-3">
            <v-select
              class="sm"
              :clearable="false"
              v-model="data_filters.arg"
              :options="filters.type"
              :reduce="data => data.value"
              :placeholder="$t('type')"
              @input="handleChange"
            >
              <template #selected-option="{ label }">{{ $t(label) }}</template>
              <template #option="{ label }">{{ $t(label) }}</template>
            </v-select>
          </div>

          <nuxt-link class="btn btn-primary mb-1" :to="$localePath('pages-banners-create')">
            <i class="icon-plus"></i>
            {{ $t("add") }}
          </nuxt-link>
        </div>
      </template>

      <template #default>
        <b-tabs v-model="active_tab" @input="handleTabChange" pills>
          <b-tab :title="$t('main_banner')">
            <data-table :fields="banners.fields">
              <draggable tag="tbody" v-model="main_banners" @end="handleBannersSort(main_banners)">
                <tr v-for="banner in main_banners" :key="banner.id">
                  <td>{{ banner.id }}</td>
                  <td>
                    <banner-thumb :thumb="banner.image" />
                  </td>
                  <td>{{ banner.order }}</td>
                  <td class="text-nowrap">
                    <template v-if="banner.always">
                      {{ $t('always') }}
                    </template>
                    <template v-else>
                      {{ banner.start_date }} - {{ banner.end_date }}
                    </template>
                  </td>
                  <td>
                    <div class="table-actions">
                      <b-form-checkbox
                        switch
                        :checked="banner.display === 1"
                        @change="(e) => handleTogggleActive(e, banner.id)"
                      >
                        &nbsp;
                      </b-form-checkbox>
                      <nuxt-link :to="$localePath('pages-banners-id', { id: banner.id })">
                        <i class="icon-edit"></i>
                      </nuxt-link>
                      <button @click="confirmDetele({ position: banner.position, id: banner.id })">
                        <i class="icon-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </draggable>
            </data-table>
          </b-tab>
          <!-- tab -->

          <b-tab :title="$t('right_banner')">
            <data-table :fields="banners.fields">
              <draggable tag="tbody" v-model="right_banners" @end="handleBannersSort(right_banners)">
                <tr v-for="banner in right_banners" :key="banner.id">
                  <td>{{ banner.id }}</td>
                  <td>
                    <banner-thumb :thumb="banner.image" />
                  </td>
                  <td>{{ banner.order }}</td>
                  <td class="text-nowrap">
                    <template v-if="banner.always">
                      {{ $t('always') }}
                    </template>
                    <template v-else>
                      {{ banner.start_date }} - {{ banner.end_date }}
                    </template>
                  </td>
                  <td>
                    <div class="table-actions">
                      <b-form-checkbox
                        switch
                        :checked="banner.display === 1"
                        @change="(e) => handleTogggleActive(e, banner.id)"
                      >
                        &nbsp;
                      </b-form-checkbox>
                      <nuxt-link :to="$localePath('pages-banners-id', { id: banner.id })">
                        <i class="icon-edit"></i>
                      </nuxt-link>
                      <button @click="confirmDetele({ position: banner.position, id: banner.id })">
                        <i class="icon-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </draggable>
            </data-table>
          </b-tab>
          <!-- tab -->

          <b-tab :title="$t('page_banner')">
            <data-table :fields="banners.fields">
              <draggable tag="tbody" v-model="page_banners" @end="handleBannersSort(page_banners)">
                <tr v-for="banner in page_banners" :key="banner.id">
                  <td>{{ banner.id }}</td>
                  <td>
                    <banner-thumb :thumb="banner.image" />
                  </td>
                  <td>{{ banner.order }}</td>
                  <td class="text-nowrap">
                    <template v-if="banner.always">
                      {{ $t('always') }}
                    </template>
                    <template v-else>
                      {{ banner.start_date }} - {{ banner.end_date }}
                    </template>
                  </td>
                  <td>
                    <div class="table-actions">
                      <b-form-checkbox
                        switch
                        :checked="banner.display === 1"
                        @change="(e) => handleTogggleActive(e, banner.id)"
                      >
                        &nbsp;
                      </b-form-checkbox>
                      <nuxt-link :to="$localePath('pages-banners-id', { id: banner.id })">
                        <i class="icon-edit"></i>
                      </nuxt-link>
                      <button @click="confirmDetele({ position: banner.position, id: banner.id })">
                        <i class="icon-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </draggable>
            </data-table>
          </b-tab>
          <!-- tab -->

          <b-tab :title="$t('category_banner')">
            <data-table :fields="banners.fields">
              <draggable tag="tbody" v-model="category_banners" @end="handleBannersSort(category_banners)">
                <tr v-for="banner in category_banners" :key="banner.id">
                  <td>{{ banner.id }}</td>
                  <td>
                    <banner-thumb :thumb="banner.image" />
                  </td>
                  <td>{{ banner.order }}</td>
                  <td class="text-nowrap">
                    <template v-if="banner.always">
                      {{ $t('always') }}
                    </template>
                    <template v-else>
                      {{ banner.start_date }} - {{ banner.end_date }}
                    </template>
                  </td>
                  <td>
                    <div class="table-actions">
                      <b-form-checkbox
                        switch
                        :checked="banner.display === 1"
                        @change="(e) => handleTogggleActive(e, banner.id)"
                      >
                        &nbsp;
                      </b-form-checkbox>
                      <nuxt-link :to="$localePath('pages-banners-id', { id: banner.id })">
                        <i class="icon-edit"></i>
                      </nuxt-link>
                      <button @click="confirmDetele({ position: banner.position, id: banner.id })">
                        <i class="icon-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </draggable>
            </data-table>
          </b-tab>
          <!-- tab -->
        </b-tabs>
      </template>
    </white-panel>
    <!-- white panel -->
  </b-container>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import deletable from "@/mixins/deletable";
import BannerThumb from "@/components/tables/BannerThumb";

export default {
  name: "BannersIndex",
  mixins: [deletable],
  components: {
    BannerThumb
  },
  data() {
    return {
      active_tab: 0,
      data_filters: {
        search_query: "",
        arg: "all"
      }
    }
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading
    }),
    ...mapGetters({
      active_vuex_tab: "banners/getActiveTab",
      filters: "banners/getFilters",
      banners: "banners/getBanners"
    }),
    main_banners: {
      get() {
        return this.banners.items.main;
      },
      set(value) {
        this.$store.commit("banners/SET_BANNERS", { type: "main", items: value });
      }
    },
    right_banners: {
      get() {
        return this.banners.items.right;
      },
      set(value) {
        this.$store.commit("banners/SET_BANNERS", { type: "right", items: value });
      }
    },
    page_banners: {
      get() {
        return this.banners.items.page;
      },
      set(value) {
        this.$store.commit("banners/SET_BANNERS", { type: "page", items: value });
      }
    },
    category_banners: {
      get() {
        return this.banners.items.category;
      },
      set(value) {
        this.$store.commit("banners/SET_BANNERS", { type: "category", items: value });
      }
    }
  },
  watch: {
    "$route.query"(query) {
      this.$store
        .dispatch("banners/fetchAll", query)
        .then(() => this.$root.$emit("filters-applied"));
    },
  },
  methods: {
    handleSearch(query) {
      this.data_filters.search_query = query;
      this.handleChange();
    },

    handleChange() {
      this.$router.push({ query: this.$mapObjectToQuery(this.data_filters) });
    },

    handleTabChange(tab_index) {
      this.$store.commit("banners/SET_ACTIVE_TAB", tab_index);
    },

    async handleTogggleActive(e, banner_id) {
      try {
        await this.$store.dispatch("banners/toggle", { id: banner_id, display: e });
        this.$toast.success(this.$t("successfull_operation"));
      } catch(error) {
        this.$toast.error(this.$t("error_occurred"));
      }
    },

    async handleBannersSort(banners) {
      try {
        await this.$store.dispatch("banners/sort", banners);
        this.$toast.success(this.$t("successfull_operation"));
      } catch(error) {
        this.$toast.error(this.$t("error_occurred"));
      }
    },

    confirmDetele({ position, id }) {
      this.deletable(() => {
        this.$store.dispatch("banners/delete", { position, id });
      })
    },
  },
  created() {
    this.active_tab = this.active_vuex_tab;
    this.$root.$on("search", this.handleSearch);
  },
  beforeDestroy() {
    this.$root.$off("search", this.handleSearch);
  },
  async asyncData({ query, store }) {
    await store.dispatch("banners/fetchAll", query);
  }
}
</script>
