<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.categories')" hide-search />

    <white-panel class="mb-4" :title="$t('category_update')" :subtitle="$t('fill_information')">
      <create-category-form :pending="pending" :initial-data="category" @form-submit="handleSubmit" />
    </white-panel>

    <white-panel :title="$t('menu.attributes')" v-if="category.attributes.length">

      <data-table>
        <draggable tag="tbody" v-model="category_attributes" @end="handleAttributesSort">
          <tr v-for="attribute in category_attributes" :key="attribute.id">
            <!-- <td><pre>{{category_attributes}}</pre></td> -->
            <td>{{ attribute.id }}</td>
            <td>{{ attribute.name.az }}</td>
            <td>{{ attribute.name.ru }}</td>
            <td>{{ attribute.name.en }}</td>
            <td>{{ attribute.type }}</td>
            <td>
              <div class="table-actions">
                <nuxt-link :to="$localePath('products-attributes-id', { id: attribute.id })">
                  <i class="icon-edit"></i>
                </nuxt-link>
                <button @click="confirmDetele(attribute.id)">
                  <i class="icon-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </draggable>
      </data-table>
    </white-panel>
  </b-container>
</template>

<script>
import { mapGetters } from "vuex";
import CreateCategoryForm from "@/components/categories/CreateCategoryForm";
import deletable from "@/mixins/deletable";

export default {
  name: "CategoryUpdate",
  mixins: [deletable],
  components: {
    CreateCategoryForm
  },
  data() {
    return {
      pending: false
    }
  },
  computed: {
    ...mapGetters({
      category: "categories/getCategory"
    }),
    category_attributes: {
      get() {
        return this.category.attributes;
      },
      set(value) {
        this.$store.commit("categories/SET_CATEGORY_ATTRIBUTES", value);
      }
    }
  },
  methods: {
    async handleSubmit({ id, form_data }) {
      try {
        this.pending = true;
        await this.$store.dispatch("categories/update", { id, form_data });
        await this.$router.push(this.localeRoute("products-categories"));
        this.$toast.success(this.$t("successfull_operation"));
      } catch (e) {
        this.pending = false;
        this.$toast.error(this.$t("invalid_credentials"));
      }
    },

    async handleAttributesSort({ id }) {
      try {
        let arr = []
        this.category_attributes.forEach(i => {
          let obj = new Object();
          obj.id = i.id
          arr.push(obj)
        })
        await this.$store.dispatch("categories/sortAttributes", arr);
        this.$toast.success(this.$t("successfull_operation"));
      } catch(error) {
        this.$toast.error(this.$t("error_occurred"));
      }
    },

    confirmDetele(attribute_id) {
      this.deletable(() => {
        this.$store.dispatch("attributes/delete", attribute_id);
        this.$store.dispatch("categories/fetchAll");
        this.$store.dispatch("categories/fetchOne", this.$route.params.id)
      })
    },
  },
  async asyncData({ params, store }) {
    await Promise.all([
      store.dispatch("categories/fetchAll"),
      store.dispatch("categories/fetchOne", params.id)
    ])
  }
}
</script>
