<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.categories')" hide-search />

    <white-panel :title="$t('category_creation')" :subtitle="$t('fill_information')">
      <create-category-form :pending="pending" @form-submit="handleSubmit" />
    </white-panel>
  </b-container>
</template>

<script>
import CreateCategoryForm from "@/components/categories/CreateCategoryForm";

export default {
  name: "CategoryCreate",
  components: {
    CreateCategoryForm
  },
  data() {
    return {
      pending: false
    }
  },
  methods: {
    async handleSubmit({ form_data }) {
      try {
        this.pending = true;
        await this.$store.dispatch("categories/create", form_data);
        await this.$router.push(this.localeRoute("products-categories"));
        this.$toast.success(this.$t("successfull_operation"));
      } catch (e) {
        this.pending = false;
        this.$toast.error(this.$t("invalid_credentials"));
      }
    }
  },
  async asyncData({ store }) {
    await store.dispatch("categories/fetchAll")
  }
}
</script>
