<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.categories')" />

    <white-panel :loading="loading" :title="$t('menu.categories')" :subtitle="$t('in_3_langs')">
      <template #actions>
        <b-button class="mr-2" variant="secondary" v-b-modal.order-categories>
          <i class="icon-up-down"></i>
          {{ $t('change_order') }}
        </b-button>
        <nuxt-link class="btn btn-primary" :to="$localePath('products-categories-create')">
          <i class="icon-plus"></i>
          {{ $t('add') }}
        </nuxt-link>
      </template>
      <!-- actions -->

      <template #default>
        <data-table :fields="categories.fields">
          <tbody>
          <template v-for="category in categories.items">
            <tr :key="'category-' + category.id">
              <td>
                <i v-if="category.display" class="icon-check"></i>
                <i v-else class="icon-minus"></i>
              </td>
              <td>
                <i v-if="category.menu" class="icon-check"></i>
                <i v-else class="icon-minus"></i>
              </td>
              <td>
                <i v-if="category.compare" class="icon-check"></i>
                <i v-else class="icon-minus"></i>
              </td>
              <td class="text-nowrap">
                <strong>{{ category.name.az }}</strong>
              </td>
              <td class="text-nowrap">
                <strong>{{ category.name.ru }}</strong>
              </td>
              <td class="text-nowrap">
                <strong>{{ category.name.en }}</strong>
              </td>
              <td>
                <div class="table-actions">
                  <nuxt-link :to="$localePath('products-categories-id', { id: category.id })">
                    <i class="icon-edit"></i>
                  </nuxt-link>
                  <button @click="confirmDetele(category.id)">
                    <i class="icon-trash"></i>
                  </button>
                </div>
              </td>
            </tr>

            <template v-if="category.children">
              <tr v-for="subcategory in category.children" :key="subcategory.id">
                <td>
                  <i v-if="subcategory.display" class="icon-check"></i>
                  <i v-else class="icon-minus"></i>
                </td>
                <td>
                  <i v-if="subcategory.menu" class="icon-check"></i>
                  <i v-else class="icon-minus"></i>
                </td>
                <td>
                  <i v-if="subcategory.compare" class="icon-check"></i>
                  <i v-else class="icon-minus"></i>
                </td>
                <td class="text-nowrap">&nbsp;&nbsp;&nbsp;{{ subcategory.name.az }}</td>
                <td class="text-nowrap">&nbsp;&nbsp;&nbsp;{{ subcategory.name.ru }}</td>
                <td class="text-nowrap">&nbsp;&nbsp;&nbsp;{{ subcategory.name.en }}</td>
                <td>
                  <div class="table-actions">
                    <nuxt-link :to="$localePath('products-categories-id', { id: subcategory.id })">
                      <i class="icon-edit"></i>
                    </nuxt-link>
                    <button @click="confirmDetele(subcategory.id)">
                      <i class="icon-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </template>
          </template>
          </tbody>
        </data-table>
      </template>
    </white-panel>
    <!-- white panel -->

    <b-modal centered hide-footer size="sm" id="order-categories">
      <template #modal-header>
        <h2 class="block-title">{{ $t('order_categories') }}</h2>
      </template>

      <template #default>
        <client-only>
          <vue-nestable v-model="categories_list" :max-depth="3" @change="handleSort">
            <vue-nestable-handle slot-scope="{ item }" :item="item">
              {{ item.name[$i18n.locale] }}
            </vue-nestable-handle>
          </vue-nestable>
        </client-only>

        <div class="d-flex justify-content-end mt-3">
          <b-button variant="danger" type="button" block @click="$bvModal.hide('order-categories')">
            {{ $t("close") }}
          </b-button>
        </div>
      </template>
    </b-modal>
    <!-- modal -->
  </b-container>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import deletable from "@/mixins/deletable";

export default {
  name: "CategoriesIndex",
  mixins: [deletable],
  data() {
    return {
      filters: {
        search_query: ""
      }
    }
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading
    }),
    ...mapGetters({
      categories: "categories/getCategories"
    }),
    categories_list: {
      get() {
        return this.categories.items;
      },
      set(value) {
        this.$store.commit("SET_ITEMS", { module: "categories", items: value });
      }
    }
  },
  watch: {
    "$route.query"(query) {
      this.$store
        .dispatch("categories/fetchAll", query)
        .then(() => this.$root.$emit("filters-applied"));
    }
  },
  methods: {
    handleSearch(query) {
      this.filters.search_query = query;
      this.$router.push({ query: this.$mapObjectToQuery(this.filters) });
    },

    async handleSort() {
      await this.$store.dispatch("categories/sort", this.categories_list);
    },

    confirmDetele(category_id) {
      this.deletable(() => {
        this.$store.dispatch("categories/delete", category_id);
      })
    },
  },
  created() {
    this.$root.$on("search", this.handleSearch);
  },
  beforeDestroy() {
    this.$root.$off("search", this.handleSearch);
  },
  async asyncData({ query, store }) {
    await store.dispatch("categories/fetchAll", query);
  }
}
</script>
