<template>
  <div class="images-uploader single">
    <input accept="image/x-png,image/jpeg,image/jpg,image/svg+xml" @change="handleInputChange" type="file" ref="file" hidden>

    <template v-if="!image_preview.file">
      <div
        class="images-uploader__dropzone"
        :class="{ focus: highlight }"
        :style="{ height: height + 'px' }"
        @click="triggerInputClick"
        @dragenter.prevent.stop="highlightDropzone"
        @dragover.prevent.stop="highlightDropzone"
        @dragleave.prevent.stop="unhighlightDropzone"
        @drop.prevent.stop="handleImagesDrop"
      >
        <span>{{ $t('drop_or_browse') }}</span>
      </div>
    </template>

    <template v-else>
      <div class="images-uploader__preview" :style="{ height: height + 'px' }">
        <img :src="image_preview.file" alt="Main image">

        <button class="action-button remove-image d-flex" type="button" @click="deleteImage(image_preview.id)">
          <i class="icon-trash"></i>
        </button>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  name: "ImageUploader",
  props: {
    height: { type: Number },
    uploaded_image: { type: Object }
  },
  data() {
    return {
      highlight: false,
      image: {},
      image_preview: { ...this.uploaded_image }
    }
  },
  methods: {
    handleInputChange() {
      this.image.file = this.$refs.file.files[0];
      this.$emit("image-updated", this.image);
      this.readImage();
    },

    handleImagesDrop(e) {
      this.unhighlightDropzone();
      const dataTransfer = e.dataTransfer;
      this.image.file = dataTransfer.files[0];

      const file_type = dataTransfer.files[0].type;
      const accepted_formats = ["image/x-png", "image/jpeg", "image/jpg", "image/svg+xml"];
      if (accepted_formats.indexOf(file_type) === -1) {
        this.$toast.error("wrong_image_format");
        return;
      }

      this.$emit("image-updated", this.image);
      this.readImage();
    },

    readImage() {
      const reader = new FileReader;
      reader.onload = (e) => {
        this.image_preview.file = e.target.result;
      }
      reader.readAsDataURL(this.image.file);
    },

    deleteImage(id) {
      this.image = { id: "", file: "" };
      this.image_preview = { id: "", file: "" };
      this.$refs.file.value = "";
      if (id) this.$emit("delete-image", id);
    },

    triggerInputClick() {
      this.$refs.file.click();
    },

    highlightDropzone() {
      this.highlight = true;
    },

    unhighlightDropzone() {
      this.highlight = false;
    },

  }
}
</script>
