<template>
  <ul class="lang-switcher text-uppercase">
    <li class="lang-switcher__item" v-for="locale in locales" :key="locale.code">
      <nuxt-link
        class="lang-switcher__link"
        :class="{ active: locale.code === currentLocale }"
        :to="switchLocalePath(locale.code)"
      >
        {{ locale.code }}
      </nuxt-link>
    </li>
  </ul>
</template>

<script>
export default {
  name: "LangsSwitcher",
  computed: {
    locales() {
      return this.$i18n.locales;
    },
    currentLocale() {
      return this.$i18n.locale;
    }
  },
}
</script>
