<template>
  <nav>
    <ul class="menu-tree">
      <li
        class="menu-tree__node"
        v-for="menu in menuTree"
        :key="menu.name"
        :style="{ '--color': menu.color }"
      >
        <nuxt-link class="menu-tree__link" :to="$localePath(menu.path)">
          <span class="menu-tree__icon">
            <i :class="`icon-${menu.icon}`"></i>
          </span>
          {{ $t(menu.name) }}
        </nuxt-link>

        <ul class="menu-tree" v-if="menu.children.length">
          <li
            class="menu-tree__node"
            v-for="submenu in menu.children"
            :key="submenu.name"
          >
            <nuxt-link class="menu-tree__link" :to="$localePath(submenu.path)">
              <span class="menu-tree__icon">
                <i :class="`icon-${submenu.icon}`"></i>
              </span>
              {{ $t(submenu.name) }}
            </nuxt-link>
          </li>
        </ul>

      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      menuTree: [
        {
          name: "menu.home",
          path: "/index",
          icon: "dashboard",
          color: "#0C9DA4",
          children: []
        },
        {
          name: "menu.products",
          path: "products",
          icon: "bag",
          color: "#BB2026",
          children: [
            {
              name: "menu.categories",
              path: "products-categories",
              icon: "folder"
            },
            {
              name: "menu.attributes",
              path: "products-attributes",
              icon: "attributes"
            },
            {
              name: "menu.brands",
              path: "products-brands",
              icon: "brand"
            },
            {
              name: "menu.campaigns",
              path: "products-campaigns",
              icon: "calendar"
            },
          ]
        },
        {
          name: "menu.users",
          path: "users",
          icon: "user",
          color: "#7F2987",
          children: [
            {
              name: "menu.orders",
              path: "users-orders",
              icon: "basket"
            },
            {
              name: "menu.reviews",
              path: "users-reviews",
              icon: "chat"
            },
            {
              name: "menu.complaints",
              path: "users-complaints",
              icon: "warning"
            }
            // {
            //   name: "menu.company_mails",
            //   path: "users-company-mails",
            //   icon: "mail"
            // },
          ]
        },
        {
          name: "menu.pages",
          path: "pages",
          icon: "layers",
          color: "#CC9431",
          children: [
            {
              name: "menu.banners",
              path: "pages-banners",
              icon: "flag",
            },
            {
              name: "menu.faq",
              path: "pages-faq",
              icon: "faq"
            },
            {
              name: "menu.about_us",
              path: "pages-about-us",
              icon: "info-circled"
            },
            {
              name: "menu.branches",
              path: "pages-store",
              icon: "shop"
            }
          ]
        },
        {
          name: "menu.excel",
          path: "/excel",
          icon: "file-excel",
          color: "#20A5AB",
          children: []
        },
        // {
        //   name: "menu.word",
        //   path: "/word",
        //   icon: "file-word",
        //   color: "#4B8F8C",
        //   children: []
        // },
        {
          name: "menu.cheaper",
          path: "/cheaper",
          icon: "arrow-left-down",
          color: "#CB912B",
          children: []
        },
        {
          name: "menu.translations",
          path: "/translations",
          icon: "globe",
          color: "#459ED8",
          children: []
        },
        {
          name: "menu.notes",
          path: "/notes",
          icon: "notes",
          color: "#3F4254",
          children: []
        }
      ]
    }
  }
}
</script>
