<template>
  <div class="images-uploader">
    <input accept="image/x-png,image/jpeg,image/jpg" @change="handleInputChange" multiple="multiple" type="file" ref="files" hidden>

    <template v-if="!images.length">
      <div
        class="images-uploader__dropzone"
        :class="{ focus: highlight }"
        :style="{ height: height + 'px' }"
        @click="triggerInputClick"
        @dragenter.prevent.stop="highlightDropzone"
        @dragover.prevent.stop="highlightDropzone"
        @dragleave.prevent.stop="unhighlightDropzone"
        @drop.prevent.stop="handleImagesDrop"
      >
        <span>{{ $t('drop_or_browse') }}</span>
      </div>
    </template>

    <template v-else>
      <div class="images-uploader__preview">
        <img :src="first_image.file" alt="Main image">
      </div>

      <draggable v-model="images" class="images-uploader__thumbs d-flex flex-wrap">
        <div class="images-uploader__thumb-wrapper" v-for="(image, i) in images" :key="i">
          <div class="images-uploader__thumb">
            <img class="img-contained" :src="image.file" alt="Image thumb">
            <button type="button" class="action-button is-main" v-if="i === 0">
              <i class="icon-star"></i>
            </button>
            <button type="button" class="action-button remove-image" @click="deleteImage(image.id, i)">
              <i class="icon-trash"></i>
            </button>
          </div>
        </div>
      </draggable>

      <div class="images-uploader__add-new" v-if="images.length < 9">
        <div class="images-uploader__thumb" @click="triggerInputClick"></div>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  name: "MultipleImagesUploader",
  props: {
    height: {
      type: Number
    },
    uploadedImages: {
      type: Array,
      default: () => ([])
    }
  },
  data() {
    return {
      highlight: false,
      max_file_size: 1000000,
      images: [...this.uploadedImages]
    }
  },
  computed: {
    first_image() {
      return this.images[0];
    },
  },
  methods: {
    handleInputChange() {
      const uploadedFiles = this.$refs.files.files;

      for (let i = 0; i < uploadedFiles.length; i++) {
        // Size validation
        const file_size = uploadedFiles[i].size;
        if (file_size >= this.max_file_size) {
          this.$toast.error(this.$t("file_max_1mb"));
          continue;
        }

        const reader = new FileReader;
        reader.onload = (e) => {
          if (this.images.length >= 9) return;
          this.images.push({ id: "", file: e.target.result });
          this.$emit("images-updated", this.images);
        }
        reader.readAsDataURL(uploadedFiles[i]);
      }
    },

    handleImagesDrop(e) {
      this.unhighlightDropzone();
      const dataTransfer = e.dataTransfer;
      const files = dataTransfer.files;

      for (let i = 0; i < files.length; i++) {
        // Size validation
        const file_size = files[i].size;
        if (file_size >= this.max_file_size) {
          this.$toast.error(this.$t("file_max_1mb"));
          continue;
        }

        // Format validation
        const file_type = files[i].type;
        const accepted_formats = ["image/x-png", "image/jpeg", "image/jpg"];
        if (accepted_formats.indexOf(file_type) === -1) {
          this.$toast.error("wrong_image_format");
          continue;
        }

        const reader = new FileReader;
        reader.onload = (e) => {
          if (this.images.length >= 9) return;
          this.images.push({ id: "", file: e.target.result });
          this.$emit("images-updated", this.images);
        }
        reader.readAsDataURL(files[i]);
      }
    },

    deleteImage(id, index) {
      this.images.splice(index, 1);
      id && this.$emit("delete-image", id);
      this.$emit("images-updated", this.images);
    },

    triggerInputClick() {
      this.$refs.files.click();
    },

    highlightDropzone() {
      this.highlight = true;
    },

    unhighlightDropzone() {
      this.highlight = false;
    },
  }
}
</script>
