<template>
  <div class="notifications-dropdown">
    <button
      class="notifications-dropdown__icon d-flex"
      @click="toggle"
    >
      <span class="notifications-dropdown__count d-flex">{{ count > 9 ? "9+" : count }}</span>
      <i class="icon-bell"></i>
    </button>

    <div class="notifications-list" v-show="show_notifications">
      <template v-if="!notifications.length">
        <div class="notifications-list__item">
          <span>{{ $t("no_notifications") }}</span>
        </div>
      </template>
      <template>
        <div class="notifications-list__item" v-for="notification in notifications" :key="notification.id">
          <a :href="notification.url">{{ notification.title }}</a>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "NotificationBell",
  data() {
    return {
      show_notifications: false
    }
  },
  computed: {
    ...mapGetters({
      count: "notifications/getNotificationsCount",
      notifications: "notifications/getNotifications"
    })
  },
  methods: {
    toggle() {
      this.show_notifications = !this.show_notifications;

      if (this.show_notifications) {
        this.$store.dispatch("notifications/maskAsReaded");
      }
    },

    hide() {
      this.show_notifications = false;
    }
  }
}
</script>
