<template>
  <b-form class="search-form" @submit.prevent="handleSearch" @input="handleSearch">
    <form-field v-model="search_query" :placeholder="$t('search')" />
    <button class="search-form__submit" type="submit">
      <i class="icon-search"></i>
    </button>
  </b-form>
</template>

<script>
import { debounce } from "debounce";

export default {
  name: "SearchBlock",
  data() {
    return {
      pending: false,
      search_query: "",
    }
  },
  methods: {
    handleSearch: debounce(function() {
      if (this.pending) return;
      this.pending = true;
      this.$root.$emit("search", this.search_query);
    }, 300)
  },
  created() {
    this.$root.$on("filters-applied", () => this.pending = false);
  },
  // mounted() {
  //   this.search_query = this.$route.query.search_query ? this.$route.query.search_query : "";
  // },
  
}
</script>
