<template>
  <div class="user-dropdown">
    <b-dropdown right>
      <template #button-content>
        <strong class="user-dropdown__role">
          {{ is_admin ? $t("administrator") : $t("moderator") }}
        </strong>
        <p class="user-dropdown__name">{{ $auth.user.name }}</p>
      </template>
      <b-dropdown-item :to="$localePath('profile-id', { id: $auth.user.id })">
        <i class="icon-user"></i>
        {{ $t("personal_info") }}
      </b-dropdown-item>
      <template v-if="is_admin">
        <b-dropdown-item :to="$localePath('moderators')">
          <i class="icon-users"></i>
          {{ $t("moderators") }}
        </b-dropdown-item>
      </template>
      <b-dropdown-item @click="$auth.logout()">
        <i class="icon-logout"></i>
        {{ $t("logout") }}
      </b-dropdown-item>
    </b-dropdown>
  </div>
</template>

<script>
export default {
  name: "UserDropdown",
  computed: {
    is_admin() {
      return this.$auth.user.role === "admin";
    }
  }
}
</script>

