.sidebar-visible {
  .content-overlay {
    visibility: visible;
  }

  .sidebar {
    transform: translateX(0);
  }
}

.content-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 105%;
  background-color: rgba(#000, .6);
  z-index: 105;
  visibility: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 275px;
  height: 100vh;
  background-color: var(--white);
  z-index: 110;
  transform: translateX(-280px);
  transition: transform .2s ease-in-out;

  &-scroller {
    height: 100%;
    padding: 15px 0 15px 15px;
    overflow-y: auto;
  }

  &-header {
    margin-bottom: 40px;

    .logo {
      display: block;
      width: 164px;
    }
  }

  &-footer {
    padding-top: 50px;
    margin-top: auto;
  }
}

.sidebar {
  .user-dropdown {
    width: calc(100% - 15px);
    background-color: var(--main-bg);
  }

  .dropdown {
    width: 100%;
  }

  .dropdown-menu {
    background-color: var(--main-bg);
  }

  .dropdown-item {
    border-color: rgba($black, .1);
  }
}

.lang-switcher {
  &__item {
    margin-right: 30px;
  }

  &__link {
    color: var(--green2);

    &.active {
      font-family: "Inter Bold", sans-serif;
      color: var(--red);
    }
  }
}

@media (min-width: 1200px) {
  .sidebar {
    transform: none;

    &-scroller {
      padding: 35px 0 30px 30px;
    }
  }
}
