header.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background-color: var(--white);
  box-shadow: 0 4px 8px rgba(#000, .04);
  z-index: 100;

  .trigger-sidebar {
    font-size: 20px;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 120px;
  }
}
