@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?18050267');
  src: url('../font/fontello.eot?18050267#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?18050267') format('woff2'),
       url('../font/fontello.woff?18050267') format('woff'),
       url('../font/fontello.ttf?18050267') format('truetype'),
       url('../font/fontello.svg?18050267#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?18050267#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-bars:before { content: '\e800'; } /* '' */
.icon-dashboard:before { content: '\e801'; } /* '' */
.icon-file-word:before { content: '\e802'; } /* '' */
.icon-layers:before { content: '\e803'; } /* '' */
.icon-notes:before { content: '\e804'; } /* '' */
.icon-flag:before { content: '\e805'; } /* '' */
.icon-trash:before { content: '\e806'; } /* '' */
.icon-currency:before { content: '\e807'; } /* '' */
.icon-file-excel:before { content: '\e808'; } /* '' */
.icon-check:before { content: '\e809'; } /* '' */
.icon-bag:before { content: '\e80a'; } /* '' */
.icon-edit:before { content: '\e80b'; } /* '' */
.icon-plus:before { content: '\e80c'; } /* '' */
.icon-minus:before { content: '\e80d'; } /* '' */
.icon-etiquette:before { content: '\e80e'; } /* '' */
.icon-dots:before { content: '\e80f'; } /* '' */
.icon-search:before { content: '\e810'; } /* '' */
.icon-calendar:before { content: '\e811'; } /* '' */
.icon-mail:before { content: '\e812'; } /* '' */
.icon-globe:before { content: '\e813'; } /* '' */
.icon-up-down:before { content: '\e814'; } /* '' */
.icon-export:before { content: '\e815'; } /* '' */
.icon-warning:before { content: '\e816'; } /* '' */
.icon-eye:before { content: '\e817'; } /* '' */
.icon-star:before { content: '\e818'; } /* '' */
.icon-arrow-left-down:before { content: '\e819'; } /* '' */
.icon-cancel:before { content: '\e81a'; } /* '' */
.icon-print:before { content: '\e81b'; } /* '' */
.icon-attributes:before { content: '\e81c'; } /* '' */
.icon-brand:before { content: '\e81d'; } /* '' */
.icon-basket:before { content: '\e81e'; } /* '' */
.icon-chat:before { content: '\e81f'; } /* '' */
.icon-shop:before { content: '\e820'; } /* '' */
.icon-bell:before { content: '\e821'; } /* '' */
.icon-logout:before { content: '\e823'; } /* '' */
.icon-users:before { content: '\e826'; } /* '' */
.icon-user:before { content: '\e827'; } /* '' */
.icon-manat:before { content: '\e828'; } /* '' */
.icon-faq:before { content: '\e82c'; } /* '' */
.icon-info-circled:before { content: '\f086'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-folder:before { content: '\f115'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */