<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.campaigns')" hide-search />

    <white-panel :title="$t('campaign_update')" :subtitle="$t('fill_information')">
      <template #default>
        <create-campaign-form :initial-data="campaign" :pending="pending" @form-submit="handleSubmit" />
      </template>
    </white-panel>
  </b-container>
</template>

<script>
import { mapGetters } from "vuex";
import CreateCampaignForm from "@/components/campaigns/CreateCampaignForm";

export default {
  name: "CampaignUpdate",
  components: {
    CreateCampaignForm
  },
  data() {
    return {
      pending: false
    }
  },
  computed: {
    ...mapGetters({
      campaign: "campaigns/getCampaign",
    })
  },
  methods: {
    async handleSubmit({ id, form_data }) {
      try {
        this.pending = true;
        await this.$store.dispatch("campaigns/update", { id, form_data });
        await this.$router.push(this.localeRoute("products-campaigns"));
        this.$toast.success(this.$t("successfull_operation"));
      } catch (e) {
        this.pending = false;
        this.$toast.error(this.$t("invalid_credentials"));
      }
    }
  },
  async asyncData({ params, store }) {
    await store.dispatch("campaigns/fetchOne", params.id);
  }
}
</script>
