<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.campaigns')" hide-search />

    <white-panel :title="$t('campaign_creation')" :subtitle="$t('fill_information')">
      <template #default>
        <create-campaign-form :pending="pending" @form-submit="handleSubmit" />
      </template>
    </white-panel>
  </b-container>
</template>

<script>
import CreateCampaignForm from "@/components/campaigns/CreateCampaignForm";

export default {
  name: "CampaignsCreate",
  components: {
    CreateCampaignForm
  },
  data() {
    return {
      pending: false
    }
  },
  methods: {
    async handleSubmit({ form_data }) {
      try {
        this.pending = true;
        await this.$store.dispatch("campaigns/create", form_data);
        await this.$router.push(this.localeRoute("products-campaigns"));
        this.$toast.success(this.$t("successfull_operation"));
      } catch (e) {
        this.pending = false;
        this.$toast.success(this.$t("invalid_credentials"));
      }
    }
  }
}
</script>
