<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.campaigns')" />

    <white-panel :loading="loading" :title="$t('menu.campaigns')" :subtitle="$t('manage_campaigns')">
      <template #actions>
        <div class="d-flex flex-wrap align-items-start">
          <div class="w-xs-100 mr-3 mb-3">
            <v-select
              class="sm"
              :clearable="false"
              v-model="data_filters.arg"
              :options="filters.arg"
              :reduce="data => data.value"
              @input="handleChange"
            >
              <template #selected-option="{ label }">{{ $t(label) }}</template>
              <template #option="{ label }">{{ $t(label) }}</template>
            </v-select>
          </div>

          <nuxt-link class="btn btn-primary" :to="$localePath('products-campaigns-create')">
            <i class="icon-plus"></i>
            {{ $t('add') }}
          </nuxt-link>
        </div>
      </template>

      <template #default>
        <data-table :fields="campaigns.fields">
          <tbody>
          <tr v-for="campaign in campaigns.items">
            <td>{{ campaign.name[currentLang] }}</td>
            <td>{{ campaign.start_date }}</td>
            <td>{{ campaign.end_date }}</td>
            <td>{{ differenceInDays(campaign.start_date, campaign.end_date) }}</td>
            <td>
              <div class="table-actions">
                <b-form-checkbox
                  switch
                  :checked="campaign.active"
                  @change="(e) => handleTogggleActive(e, campaign.id)"
                >
                  &nbsp;
                </b-form-checkbox>
                <nuxt-link :to="$localePath('products-campaigns-id', { id: campaign.id })">
                  <i class="icon-edit"></i>
                </nuxt-link>
                <button @click="confirmDetele(campaign.id)">
                  <i class="icon-trash"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </data-table>
      </template>
    </white-panel>
    <!-- white panel -->
  </b-container>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import deletable from "@/mixins/deletable";

export default {
  name: "CampaignsIndex",
  mixins: [deletable],
  data() {
    return {
      data_filters: {
        arg: "all",
        search_query: ""
      },
      currentLang: this.$i18n.locale
    }
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading
    }),
    ...mapGetters({
      filters: "campaigns/getFilters",
      campaigns: "campaigns/getCampaigns"
    }),
  },
  watch: {
    "$route.query"(query) {
      this.$store
        .dispatch("campaigns/fetchAll", query)
        .then(() => this.$root.$emit("filters-applied"));
    },
  },
  methods: {
    handleSearch(query) {
      this.data_filters.search_query = query;
      this.handleChange();
    },

    handleChange() {
      this.$router.push({ query: this.$mapObjectToQuery(this.data_filters) });
    },

    async handleTogggleActive(e, campaign_id) {
      try {
        await this.$store.dispatch("campaigns/toggle", { id: campaign_id, active: e });
        this.$toast.success(this.$t("successfull_operation"));
      } catch(error) {
        this.$toast.error(this.$t("error_occurred"));
      }
    },

    confirmDetele(campaign_id) {
      this.deletable(() => {
        this.$store.dispatch("campaigns/delete", campaign_id);
      })
    },

    differenceInDays(left_date, right_date) {
      if (!left_date || !right_date) return 0;
      return (new Date(right_date) - new Date(left_date)) / (1000 * 60 * 60 * 24);
    }
  },
  created() {
    this.$root.$on("search", this.handleSearch);
  },
  beforeDestroy() {
    this.$root.$off("search", this.handleSearch);
  },
  async asyncData({ query, store }) {
    await store.dispatch("campaigns/fetchAll", query);
  }
}
</script>
