<template>
  <section class="auth-page">
    <b-container fluid="fluid">
      <div class="auth-form-container d-flex justify-content-center align-items-center">
        <div class="auth-form-wrapper">
          <div class="auth-logo">
            <img src="~/assets/images/logo.svg" alt="Logo">
          </div>

          <b-form @submit.prevent="handleForgotPassword" @keyup.enter="handleForgotPassword">
            <div class="form-header text-center">
              <h1 class="block-title">{{ $t('password_recovery') }}</h1>
              <p class="subtitle">{{ $t('fill_to_recover') }}</p>
            </div>
            <!-- form header -->

            <form-field
              type="email"
              :label="$t('email')"
              v-model="form.email"
              :is-invalid="$v.form.email.$error"
            >
              <b-form-invalid-feedback v-if="!$v.form.email.required">
                {{ $t("required") }}
              </b-form-invalid-feedback>
              <b-form-invalid-feedback v-if="!$v.form.email.isEmail">
                {{ $t("not_email") }}
              </b-form-invalid-feedback>
            </form-field>

            <div class="d-flex justify-content-between align-items-center">
              <b-button variant="default" type="button" @click="$router.go(-1)">{{ $t("go_back") }}</b-button>
              <b-button variant="primary" type="submit">{{ $t("send") }}</b-button>
            </div>
          </b-form>
          <!-- form -->

        </div>
      </div>
    </b-container>
  </section>
</template>

<script>
import { required, email } from "vuelidate/lib/validators";

export default {
  name: "ForgotPassword",
  layout: "auth",
  data() {
    return {
      pending: false,
      form: {
        email: "",
      }
    }
  },
  validations: {
    form: {
      email: {
        required,
        isEmail: email
      },
    }
  },
  methods: {
    async handleForgotPassword() {
      this.$v.form.$touch();

      if (this.$v.$invalid) {
        this.$toast.error(this.$t("invalid_credentials"));
        return;
      }

      if (!this.pending) {
        try {
          this.pending = true;
          await this.$store.dispatch("user/forgotPassword", this.form);
          this.$toast.success(this.$t("check_email"));
        } catch (e) {
          this.pending = false;
          this.$toast.error(this.$t("invalid_credentials"));
        }
      }
    }
  }
}
</script>
