<template>
  <section class="auth-page">
    <b-container fluid="fluid">
      <div class="auth-form-container d-flex justify-content-center align-items-center">
        <div class="auth-form-wrapper">
          <div class="auth-logo">
            <img src="~/assets/images/logo.svg" alt="Logo">
          </div>

          <b-form @submit.prevent="handleLogin" @keyup.enter="handleLogin">
            <div class="form-header text-center">
              <h1 class="block-title">{{ $t('welcome') }}</h1>
              <p class="subtitle">{{ $t('fill_to_login') }}</p>
            </div>
            <!-- form header -->

            <form-field
              type="email"
              :label="$t('email')"
              v-model="form.email"
              :is-invalid="$v.form.email.$error"
            >
              <b-form-invalid-feedback v-if="!$v.form.email.required">
                {{ $t("required") }}
              </b-form-invalid-feedback>
              <b-form-invalid-feedback v-if="!$v.form.email.isEmail">
                {{ $t("not_email") }}
              </b-form-invalid-feedback>
            </form-field>

            <form-field
              :label="$t('password')"
              type="password"
              v-model="$v.form.password.$model"
              :is-invalid="$v.form.password.$error"
            >
              <b-form-invalid-feedback v-if="$v.form.password.$error">
                {{ $t("min_length_8") }}
              </b-form-invalid-feedback>
            </form-field>

            <b-form-group>
              <nuxt-link class="forgot-password" :to="$localePath('auth-forgot-password')">
                {{ $t("forgot_password") }}
              </nuxt-link>
            </b-form-group>

            <b-button block variant="primary" type="submit">{{ $t("login") }}</b-button>
          </b-form>
          <!-- form -->

        </div>
      </div>
    </b-container>
  </section>
</template>

<script>
import { required, email, minLength } from "vuelidate/lib/validators";

export default {
  name: "Login",
  layout: "auth",
  data() {
    return {
      pending: false,
      form: {
        email: "",
        password: "",
      }
    }
  },
  validations: {
    form: {
      email: {
        required,
        isEmail: email
      },
      password: {
        required,
        minLength: minLength(8)
      }
    }
  },
  methods: {
    async handleLogin() {
      this.$v.form.$touch();

      if (this.$v.$invalid) {
        this.$toast.error(this.$t("invalid_credentials"));
        return;
      }

      if (!this.pending) {
        try {
          this.pending = true;
          await this.$store.dispatch("user/login", this.form);
        } catch (e) {
          this.pending = false;
          this.$toast.error(this.$t("login_failure"));
        }
      }
    }
  }
}
</script>
