<template>
  <section class="auth-page">
    <b-container fluid="fluid">
      <div class="auth-form-container d-flex justify-content-center align-items-center">
        <div class="auth-form-wrapper">
          <div class="auth-logo">
            <img src="~/assets/images/logo.svg" alt="Logo">
          </div>

          <b-form @submit.prevent="handleResetPassword" @keyup.enter="handleResetPassword">
            <div class="form-header text-center">
              <h1 class="block-title">{{ $t('password_set') }}</h1>
              <p class="subtitle">{{ $t('fill_passwords') }}</p>
            </div>
            <!-- form header -->

            <form-field
              type="password"
              :label="$t('password')"
              v-model="form.password"
              :is-invalid="$v.form.password.$error"
            >
              <b-form-invalid-feedback v-if="$v.form.password.$error">
                {{ $t("min_length_8") }}
              </b-form-invalid-feedback>
            </form-field>

            <form-field
              type="password"
              :label="$t('confirm_password')"
              v-model="form.password_confirmation"
              :is-invalid="$v.form.password_confirmation.$error"
            >
              <b-form-invalid-feedback v-if="!$v.form.password_confirmation.required">
                {{ $t("required") }}
              </b-form-invalid-feedback>
              <b-form-invalid-feedback v-if="!$v.form.password_confirmation.sameAs">
                {{ $t("passwords_not_match") }}
              </b-form-invalid-feedback>
            </form-field>

            <b-button block variant="primary" type="submit">{{ $t("submit") }}</b-button>
          </b-form>
          <!-- form -->

        </div>
      </div>
    </b-container>
  </section>
</template>

<script>
import { required, minLength, sameAs } from "vuelidate/lib/validators";

export default {
  name: "ResetPassword",
  layout: "auth",
  data() {
    return {
      pending: false,
      form: {
        token: "",
        password: "",
        password_confirmation: "",
      }
    }
  },
  validations: {
    form: {
      password: {
        required,
        minLength: minLength(8)
      },
      password_confirmation: {
        required,
        minLength: minLength(8),
        sameAs: sameAs("password")
      }
    }
  },
  methods: {
    async handleResetPassword() {
      this.$v.form.$touch();

      if (this.$v.$invalid) {
        this.$toast.error(this.$t("invalid_credentials"));
        return;
      }

      if (!this.$v.$invalid && !this.pending) {
        try {
          this.pending = true;
          await this.$store.dispatch("user/updatePassword", this.form);
          await this.$router.push(this.localeRoute("auth-login"));
          this.$toast.success(this.$t("successfull_operation"));
        } catch (e) {
          this.pending = false;
          this.$toast.error(this.$t("invalid_credentials"));
        }
      }
    }
  },
  mounted() {
    if (this.$route.query["reset-token"]) {
      this.form.token = this.$route.query["reset-token"];
    }
  }
}
</script>
