<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.products')" hide-search />

    <white-panel :loading="loading"
                 :title=" this.$route.query.type === 'copy' ? $t('product_copy') : $t('product_update')" :subtitle="$t('fill_information')">
      <template #actions>
        <div class="table-actions">
          <a :href="product.url" target="_blank">
            <i class="icon-eye"></i>
          </a>
          <b-form-checkbox
            switch
            :checked="product.display"
            @change="(e) => handleTogggleActive(e, product.id)"
          >
            &nbsp;
          </b-form-checkbox>
        </div>
      </template>

      <template #default>
        <create-product-form :pending="pending"
                             :initial-data="$route.query.type != 'copy' ? product : {...product, stock_id_1: '', part_number: ''}"
                             @form-submit="handleSubmit" />
      </template>
    </white-panel>
  </b-container>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import CreateProductForm from "@/components/products/CreateProductForm";
import login from "../auth/login";

export default {
  name: "ProductsUpdate",
  components: {
    CreateProductForm
  },
  data() {
    return {
      pending: false
    }
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading
    }),
    ...mapGetters({
      product: "products/getProduct"
    })
  },
  methods: {
    async handleTogggleActive(e, product_id) {
      try {
        await this.$store.dispatch("products/toggle", { id: product_id, display: e });
        this.$toast.success(this.$t("successfull_operation"));
        this.updated = true;
      } catch(error) {
        this.$toast.error(this.$t("error_occurred"));
      }
    },

    async handleSubmit({ exit, id, form_data }) {
      try {
        if (this.$route.query.type !== 'copy') {
          this.pending = true;
          await this.$store.dispatch("products/update", { id, form_data });
          if (exit) {
            this.$router.push(this.localeRoute({ name: "products" }), () => {
              this.pending = false;
              this.$toast.success(this.$t("successfull_operation"));
            });
          } else {
            this.pending = false;
            this.$toast.success(this.$t("successfull_operation"));
          }
          
        } else {
          this.pending = true;
          await this.$store.dispatch("products/updateCopy", { id, form_data });
          this.pending = false;
          this.$toast.success(this.$t("successfull_operation"));
          setTimeout(() => {
            this.$router.push(this.localeRoute("products")) 
          },1000)

        }

      } catch (e) {
        this.pending = false;
        this.$toast.error(this.$t("invalid_credentials"));
      }
    }
  },
  async asyncData({ query, params, store }) {
    if (process.client && query.type === 'copy') {
      await Promise.all([
        store.dispatch("products/fetchCopyOne", params.id),
        store.dispatch("categories/fetchAll"),
        store.dispatch("brands/fetchAll"),
        store.dispatch("campaigns/fetchAll")
      ])
    }  else {
      await Promise.all([
        store.dispatch("products/fetchOne", params.id),
        store.dispatch("categories/fetchAll"),
        store.dispatch("brands/fetchAll"),
        store.dispatch("campaigns/fetchAll")
      ])
    }

  }
}
</script>
