<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.products')" hide-search />

    <white-panel :loading="loading" :title="$t('product_creation')" :subtitle="$t('fill_information')">
      <create-product-form :pending="pending" @form-submit="handleSubmit" />
    </white-panel>
  </b-container>
</template>

<script>
import { mapState } from "vuex";
import CreateProductForm from "@/components/products/CreateProductForm";

export default {
  name: "ProductsCreate",
  components: {
    CreateProductForm
  },
  data() {
    return {
      pending: false
    }
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading
    })
  },
  methods: {
    async handleSubmit({ exit, form_data }) {
      try {
        this.pending = true;
        const product_id = await this.$store.dispatch("products/create", form_data);
        let path = exit ? { name: "products" } : { name: "products-id", params: { id: product_id } } 
        this.$router.push(this.localeRoute(path), () => {
          this.pending = false;
          this.$toast.success(this.$t("successfull_operation"));
        });
        
      } catch (e) {
        this.pending = false;
        this.$toast.error(this.$t("invalid_credentials"));
      }
    }
  },
  async asyncData({ store }) {
    await Promise.all([
      store.dispatch("categories/fetchAll"),
      store.dispatch("brands/fetchAll"),
      store.dispatch("campaigns/fetchAll")
    ])
  }
}
</script>
