<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.products')" />

    <b-form class="filters-group" @change="handleChange">
      <b-row class="align-items-center">
        <b-col lg="7" class="d-flex flex-wrap">
          <b-form-group class="mr-3">
            <v-select
              v-model="data_filters.link_type"
              :options="filters.link_type"
              :reduce="data => data.value"
              :placeholder="$t('type')"
              @input="handleChange"
            >
              <template #selected-option="{ label }">{{ $t(label) }}</template>
              <template #option="{ label }">{{ $t(label) }}</template>
            </v-select>
          </b-form-group>

          <b-form-group class="mr-3">
            <v-select
              v-model="data_filters.category"
              :options="categories"
              :reduce="data => data.value"
              :placeholder="$t('category')"
              @input="handleChange"
            >
              <template #option="{ parent_id, label }">
                <span v-if="parent_id">&nbsp;&nbsp; {{ label }}</span>
                <span v-else>{{ label }}</span>
              </template>
            </v-select>
          </b-form-group>

          <b-form-group>
            <v-select
              v-model="data_filters.campaign"
              :options="filters.campaign"
              :reduce="data => data.value"
              :placeholder="$t('campaign')"
              @input="handleChange"
            />
          </b-form-group>
        </b-col>

        <b-col lg="5" class="d-flex flex-wrap justify-content-end">
          <b-form-group>
            <b-form-checkbox v-model="data_filters.without_image" class="mr-3">
              {{ $t("without_image") }}
            </b-form-checkbox>
          </b-form-group>
          <b-form-group>
            <b-form-checkbox v-model="data_filters.zero_quantity" class="mr-3">
              {{ $t("not_in_stock") }}
            </b-form-checkbox>
          </b-form-group>
          <b-form-group>
            <b-form-checkbox v-model="data_filters.hidden">
              {{ $t("hidden") }}
            </b-form-checkbox>
          </b-form-group>
        </b-col>
      </b-row>
    </b-form>
    <!-- filters group -->

    <!-- white panel -->
    <white-panel
      :loading="loading"
      :title="$t('menu.products')"
      :subtitle="$t('products_count', { count: pagination.total_count })"
    >
      <template #actions>
        <input
          hidden
          ref="file"
          type="file"
          @change="handleExcelUpload"
          accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
        >
        <div class="d-flex flex-wrap align-items-start mb-2">
          <nuxt-link :to="$localePath('products-create')" class="btn btn-primary mr-2 mb-2">
            <i class="icon-plus"></i>
            {{ $t('add') }}
          </nuxt-link>
          <b-button variant="success" class="mr-2 mb-2" @click="exportProducts">
            <i class="icon-export"></i>
            {{ $t('export') }}
          </b-button>
          <b-button variant="secondary" @click="triggerExcelUpload">
            <i class="icon-file-excel"></i>
            {{ $t("import") }}
          </b-button>
        </div>

        <div class="d-flex flex-wrap justify-content-between align-items-start">
          <button class="umico-export mr-3 mb-2" @click="umicoShortExport">
            <i class="icon-export"></i>
            {{ $t("umico_short_export") }}
          </button>
          <button class="umico-export" @click="umicoFullExport">
            <i class="icon-export"></i>
            {{ $t("umico_full_export") }}
          </button>
        </div>
      </template>

      <template #default>
           <b-form-checkbox @change="handleSelectAll" v-model="selected_items" class="mr-2 mb-4">
                Select All
          </b-form-checkbox>
        <data-table :fields="products.fields">
          <tbody>
          <tr v-for="product in products.items" :key="product.id">
            <td>
              <b-form-checkbox @change="handleSelectOne(product.id)" v-model="selectItem" :value="product.id" class="mr-2">
                {{ product.id }}
              </b-form-checkbox>
            </td>
            <td>
              <product-thumb :thumb="product.image" :name="product.name" />
            </td>
            <td>{{ product.part_number }}</td>
            <td class="min-w-200">{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.stock_id }}</td>
            <td>
              <div class="table-actions">
                <b-form-checkbox
                  switch
                  :checked="product.display"
                  @change="(e) => handleTogggleActive(e, product.id)"
                >
                  &nbsp;
                </b-form-checkbox>
                <nuxt-link :to="$localePath('products-id', { id: product.id })">
                  <i class="icon-edit"></i>
                </nuxt-link>
                <nuxt-link class="btn"
                           :to="$localePath('products-id', { id: product.id }, {type: 'copy'})"
                           style="font-size: 12px">
                  <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.07709 3.07733C3.23337 2.92105 3.44533 2.83325 3.66634 2.83325H11.9163C12.1374 2.83325 12.3493 2.92105 12.5056 3.07733C12.6619 3.23361 12.7497 3.44557 12.7497 3.66659V4.58325C12.7497 5.13554 13.1974 5.58325 13.7497 5.58325C14.302 5.58325 14.7497 5.13554 14.7497 4.58325V3.66659C14.7497 2.91514 14.4512 2.19447 13.9198 1.66312C13.3885 1.13176 12.6678 0.833252 11.9163 0.833252H3.66634C2.91489 0.833252 2.19423 1.13176 1.66287 1.66312C1.13152 2.19447 0.833008 2.91514 0.833008 3.66659V11.9166C0.833008 12.668 1.13152 13.3887 1.66287 13.9201C2.19422 14.4514 2.91489 14.7499 3.66634 14.7499H4.58301C5.13529 14.7499 5.58301 14.3022 5.58301 13.7499C5.58301 13.1976 5.13529 12.7499 4.58301 12.7499H3.66634C3.44533 12.7499 3.23337 12.6621 3.07709 12.5058C2.92081 12.3496 2.83301 12.1376 2.83301 11.9166V3.66659C2.83301 3.44557 2.92081 3.23361 3.07709 3.07733ZM9.25 10.0833C9.25 9.6231 9.6231 9.25 10.0833 9.25H18.3333C18.7936 9.25 19.1667 9.6231 19.1667 10.0833V18.3333C19.1667 18.7936 18.7936 19.1667 18.3333 19.1667H10.0833C9.6231 19.1667 9.25 18.7936 9.25 18.3333V10.0833ZM10.0833 7.25C8.51853 7.25 7.25 8.51853 7.25 10.0833V18.3333C7.25 19.8981 8.51853 21.1667 10.0833 21.1667H18.3333C19.8981 21.1667 21.1667 19.8981 21.1667 18.3333V10.0833C21.1667 8.51853 19.8981 7.25 18.3333 7.25H10.0833Z" fill="#459ED8"/>
                  </svg>

                </nuxt-link>
                <a :href="product.url" target="_blank">
                  <i class="icon-eye"></i>
                </a>
              </div>
            </td>
          </tr>
          </tbody>
        </data-table>
      </template>

      <template #footer>
        <b-pagination
          v-if="products.items.length"
          first-number
          last-number
          align="center"
          v-model="current_page"
          :total-rows="pagination.total_count"
          :per-page="pagination.per_page"
          @change="handleChange"
        />
      </template>
    </white-panel>
    <!-- white panel -->
  </b-container>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import ProductThumb from "@/components/tables/ProductThumb";

export default {
  name: "ProductsIndex",
  components: {
    ProductThumb
  },
  data() {
    return {
      data_filters: {
        search_query: "",
        link_type: "",
        category: "",
        campaign: "",
        without_image: false,
        zero_quantity: false,
        hidden: false,
      },
      selected_ids: []
    }
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading,
      pagination: ({ products }) => products.pagination
    }),
    ...mapGetters({
      filters: "products/getFilters",
      categories: "categories/getOptions",
      products: "products/getProducts"
    }),
    current_page: {
      get() {
        return this.pagination.current_page;
      },
      set(value) {
        this.$store.commit("SET_PAGINATION_PAGE", { module: "products", page: value });
      }
    },
    selectItem: {
      get() {
         let product_ids = this.products.items.map(i => i.id);
        return this.selected_ids.filter(item => product_ids.includes(item));
      },
      set(value) {
        // if(value) {
        //   this.selected_ids.push(value);
        // }else
        //  this.selected_ids.splice(this.selected_ids.findIndex(item => item ==1288),1);
      }
    },
    
     selected_items: {
      get() {
        return this.products.items.filter(i => {
          return this.selected_ids.includes(i.id)}).length == this.products.items.length
      },
      set(value) {}
    },
    
  },
  watch: {
    "$route.query"(query) {
      this.$store
        .dispatch("products/fetchAll", query)
        .then(() => this.$root.$emit("filters-applied"));
    },
  },
  methods: {
    handleSearch(query) {
      this.data_filters.search_query = query;
      this.handleChange();
    },

    handleSelectAll(value) {
      let product_ids = this.products.items.map(i => i.id);
      if(value) {
          if(this.selected_ids.length)
          product_ids.map(item => !this.selected_ids.includes(item) ? this.selected_ids.push(item) : false)
          else this.selected_ids = product_ids
      }
      else
      this.selected_ids = this.selected_ids.filter(id => !product_ids.includes(id))
    },

    handleSelectOne(value) {
      let index = this.selected_ids.findIndex(item => item == value);
      
      if(index === -1) {
            this.selected_ids.push(value);
      }else
          this.selected_ids.splice(this.selected_ids.findIndex(item => item == value),1);
    },

    async exportProducts() {
      try {
        await this.$store.dispatch("products/export", this.selected_ids);
        this.$toast.success(this.$t("successfull_operation"));
        this.selected_ids = [];
      } catch (error) {
        this.$toast.error(this.$t("error_occurred"));
      }
    },

    triggerExcelUpload() {
      this.$refs.file.click();
    },

    handleExcelUpload() {
      const form_data = new FormData;
      const file = this.$refs.file.files[0];
      form_data.append("file", file);

      this.$store.dispatch("products/upload", form_data)
        .then(() => {
          this.$toast.success(this.$t("successfull_operation"));
          this.$store.dispatch("products/fetchAll");
          this.$refs.file.value = "";
        })
        .catch(() => {
          this.$toast.error(this.$t("error_occurred"));
        })
    },

    umicoShortExport() {
      const data = this.getSelectedStockIds();

      data.length && this.$store
        .dispatch("excel/umicoShortExport", data)
        .then(() => {
          this.selected_ids = [];
        });
    },

    umicoFullExport() {
      const data = this.getSelectedStockIds();

      data.length && this.$store
        .dispatch("excel/umicoFullExport", data)
        .then(() => {
          this.selected_ids = [];
        });
    },

    getSelectedStockIds() {
      const data = [];
      if (!this.selected_ids.length) return data;

      this.selected_ids.map(id => {
        const index = this.products.items.findIndex(e => e.id === id);
        data.push(this.products.items[index].stock_id);
      });

      return data;
    },

    async handleTogggleActive(e, product_id) {
      try {
        await this.$store.dispatch("products/toggle", { id: product_id, display: e });
        this.$toast.success(this.$t("successfull_operation"));
      } catch(error) {
        this.$toast.error(this.$t("error_occurred"));
      }
    },

    handleChange(data) {
      this.$nextTick(() => {
        this.$router.push({
          query: {
            ...this.$mapObjectToQuery(this.data_filters),
            page: this.current_page,
          }
        });
      });
    },
  },
  created() {
    this.$root.$on("search", this.handleSearch);
  },
  mounted() {
    this.data_filters = { ...this.data_filters, ...this.$route.query };
  },
  beforeDestroy() {
    this.$root.$off("search", this.handleSearch);
  },
  async asyncData({ query, store }) {
    await Promise.all([
      store.dispatch("categories/fetchAll"),
      store.dispatch("products/fetchAll", query)
    ])
  }
}
</script>
