<template>
  <b-form @submit.prevent="handleSubmit">
    <b-row>
      <b-col md="6">
        <form-field
          :label="$t('lang_az')"
          v-model="form.name.az"
          :is-invalid="$v.form.name.az.$error"
        >
          <b-form-invalid-feedback v-if="!$v.form.name.az.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>

        <form-field
          :label="$t('lang_ru')"
          v-model="form.name.ru"
          :is-invalid="$v.form.name.ru.$error"
        >
          <b-form-invalid-feedback v-if="!$v.form.name.ru.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>

        <form-field
          :label="$t('lang_en')"
          :is-invalid="$v.form.name.en.$error"
          v-model="form.name.en"
        >
          <b-form-invalid-feedback v-if="!$v.form.name.en.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>

        <b-form-group :label="$t('category')">
          <v-select
            v-model="form.parent_id"
            :options="filteredCategories"
            :reduce="data => data.value"
            :clearable="false"
          />
        </b-form-group>
      </b-col>

      <b-col lg="4" md="6">
        <b-form-group :label="$t('icon')">
          <image-uploader
            ref="file"
            class="icon-uploader"
            :height="150"
            :uploaded_image="form.icon"
            @delete-image="deleteIcon"
          />
        </b-form-group>

        <div class="d-flex flex-wrap">
          <b-form-group>
            <b-form-checkbox class="mr-3" v-model="form.display" :value="1" :unchecked-value="0">
              {{ $t("display") }}
            </b-form-checkbox>
          </b-form-group>
        </div>
      </b-col>

      <b-col cols="12">
        <div class="d-flex">
          <b-button class="mr-3" variant="primary" type="submit">
            <i class="icon-check"></i>
            {{ $t('submit') }}
          </b-button>
          <b-button variant="danger" type="button" @click="$router.go(-1)">
            <i class="icon-cancel"></i>
            {{ $t('reject') }}
          </b-button>
        </div>
      </b-col>
    </b-row>
  </b-form>
</template>

<script>
import { mapGetters } from "vuex";
import { required } from "vuelidate/lib/validators";
import ImageUploader from "@/components/elements/ImageUploader";

export default {
  name: "CreateCategoryForm",
  props: {
    pending: {
      type: Boolean,
      default: false
    },
    initialData: {
      type: Object,
      default: () => ({
        id: null,
        name: {
          az: "",
          ru: "",
          en: ""
        },
        parent_id: null,
        icon: { id: "", file: "" },
        display: 1
      })
    }
  },
  components: {
    ImageUploader
  },
  data() {
    return {
      form: {
        parent_id: null,
        ...this.initialData,
        name: { ...this.initialData.name }
      },
      deleted_images: [],
    }
  },
  validations: {
    form: {
      name: {
        az: { required },
        ru: { required },
        en: { required }
      }
    }
  },
  computed: {
    ...mapGetters({
      categories: "categories/getParentOptions"
    }),
    filteredCategories() {
      return this.categories.filter(c => c.id !== this.form.id)
    }
  },
  methods: {
    handleSubmit() {
      this.$v.form.$touch();
      if (this.$v.$invalid) return;

      const form_data = this.prepareFormData();
      !this.pending && this.$emit("form-submit", { id: this.form.id, form_data });
    },

    prepareFormData() {
      const form_data = new FormData();
      const file = this.$refs.file.image.file;

      this.deleted_images.map((key) => {
        form_data.append("deleted_images[]", key);
      });

      Object.keys(this.form.name).map((key) => {
        form_data.append(`name[${key}]`, this.form.name[key]);
      });

      form_data.append("display", this.form.display);
      form_data.append("menu", this.form.menu);
      form_data.append("compare", this.form.compare);
      if (file) form_data.append("icon", file);
      if (this.form.parent_id) form_data.append("parent_id", this.form.parent_id);

      return form_data;
    },

    deleteIcon(id) {
      this.deleted_images.push(id);
    }
  }
}
</script>
