.dynamic-search {
  position: relative;

  &__results {
    position: absolute;
    top: calc(100% + 15px);
    left: 0;
    width: 100%;
    padding: 15px 10px;
    background-color: var(--white);
    border-radius: 10px;
    z-index: 2;
    box-shadow: 0 4px 8px rgba($black, .15);
  }
}

.search-results {
  margin: -6px;

  &__item {
    width: 100%;
    padding: 6px;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .search-results {
    &__item {
      width: 50%;
    }
  }
}

@media (min-width: 1200px) {
  .search-results {
    &__item {
      width: 33.333333%;
    }
  }
}
