.filters-group {
  margin-bottom: 10px;

  [class*="col"] {
    &:first-child {
      .form-group {
        flex: 1;
      }
    }
  }

  .form-group {
    margin-bottom: 20px;
  }

  .v-select {
    .vs__dropdown-toggle {
      background-color: var(--white);
    }

    .vs__dropdown-menu {
      background-color: var(--white);
    }
  }
}

@media (min-width: 992px) {
  .filters-group {
    [class*="col"] {
      flex-wrap: nowrap !important;
    }
  }
}

@media (max-width: 575px) {
  .filters-group {
    [class*="col"] {
      &:first-child {
        .form-group {
          flex: auto !important;
          width: 100%;
          margin: 0 0 20px 0 !important;
        }
      }
    }
  }
}
