.icon-uploader {
  display: block;

  .images-uploader__preview {
    max-width: 180px;
    padding: 20px 20px 0 0;
  }
}

.images-uploader.is-invalid {
  .images-uploader__dropzone {
    border-color: var(--red);
  }
}

.images-uploader {
  &.single {
    .images-uploader__preview {
      padding: 0;
    }
  }
}

.images-uploader {
  &__dropzone {
    position: relative;
    height: 249px;
    background-color: var(--input-bg);
    border-radius: 10px;
    border: 2px dashed var(--blue);
    cursor: pointer;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }

    &.focus {
      background-color: var(--input-disabled-bg);
    }

    span {
      color: var(--text-medium);
    }
  }

  &__preview {
    position: relative;
    height: 0;
    padding-bottom: 75%;
    background-color: var(--input-bg);
    border-radius: 10px;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      object-fit: contain;
    }
  }

  &__thumb {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    background-color: var(--input-bg);
    border-radius: 10px;
    overflow: hidden;
  }

  &__thumbs {
    margin-left: -10px;
    margin-right: -10px;
  }

  &__thumb-wrapper {
    width: 33.333333%;
    padding: 14px 10px 0 10px;
  }

  .action-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    z-index: 10;

    i {
      font-size: 14px;
      line-height: 1;
      color: var(--white);
    }
  }

  .is-main {
    left: 5px;
    background-color: rgba(#4BA36D, .8);
  }

  .remove-image {
    right: 5px;
    background-color: rgba(#262626, .8);
  }
}

.images-uploader__add-new {
  margin-top: 14px;

  .images-uploader__thumb {
    padding-bottom: 33.333333%;
    background: var(--input-bg) url("~/assets/images/icons/add-image-placeholder.svg") no-repeat 50% 52%;
    background-size: auto 40%;
  }
}
