.menu-tree {
  display: block;

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 10px 12px 0;
    color: var(--color);

    &:hover {
      color: var(--color);
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 3px;
      background-color: transparent;
    }

    &.nuxt-link-exact-active {
      font-family: "Inter Bold", sans-serif;

      &:after {
        background-color: var(--color);
      }
    }

    &.nuxt-link-active {
      ~ .menu-tree {
        display: block;
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    min-width: 24px;
    font-size: 20px;
    margin-right: 30px;
  }

  .menu-tree {
    display: none;
    padding: 0 0 0 25px;

    .menu-tree__icon {
      margin-right: 20px;
    }
  }
}

@media (min-width: 1200px) {
  .menu-tree {
    &__node {
      margin-bottom: 20px;
    }

    .menu-tree {
      padding: 10px 0 0 25px;

      &__node {
        margin-bottom: 10px;
      }
    }
  }
}
