.modal-header {
  padding: 0 0 20px 0;
  border: none;
  border-radius: 10px;
}

.modal-content {
  padding: 20px;
  border: none;
  border-radius: 10px;
}

.modal-body {
  padding: 0;
}

.modal-footer {
  padding: 20px 0 0 0;
  border: none;
}

@media (min-width: 576px) {
  .modal-sm {
    max-width: 375px;
  }

  .modal-content {
    padding: 30px;
  }
}

