.notifications-dropdown {
  position: relative;
  width: 50px;
  min-width: 50px;
  height: 50px;
  margin-left: 15px;
  border-radius: 10px;
  background-color: var(--white);

  &__icon {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    padding: 9px;
    color: var(--red);

    &:hover {
      color: var(--red);
    }
  }

  &__count {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 12px;
    width: 18px;
    height: 18px;
    color: var(--white);
    background-color: var(--red);
    border-radius: 50%;
  }
}

.notifications-list {
  position: absolute;
  top: 92%;
  right: 0;
  width: 240px;
  max-height: 240px;
  padding: 12px 15px;
  margin: 10px 0 0 0;
  background-color: var(--white);
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 10px rgb(0 0 0 / 4%);
  z-index: 10;
  overflow-y: auto;

  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid #EFF0F8;
    }

    &:first-child {
      a {
        padding-top: 0;
      }
    }

    &:last-child {
      a {
        padding-bottom: 0;
      }
    }

    a {
      display: flex;
      padding: 10px 0;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
