.options-list {
  display: block;
  padding: 10px 0;
  background-color: var(--input-bg);
  border-radius: 10px;
  max-height: 515px;
  overflow-y: auto;

  &__item {
    padding: 5px 15px;
    cursor: pointer;

    &:hover,
    &.active {
      color: var(--white);
      background-color: var(--blue);
    }
  }
}
