.pagination {
  margin-top: 30px;

  .page-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: var(--text-main);
    border-radius: 8px !important;
    user-select: none;
    text-decoration: none;
    border: none;
    box-shadow: none;

    &:hover {
      background-color: var(--white);
    }
  }

  li {
    margin: 0 1px;

    &:first-child,
    &:last-child {
      .page-link {
        width: auto;
        font-size: 20px;
        padding: 5px 15px;
        background-color: var(--white);
        box-shadow: 0 2px 8px rgba($black, .15);
      }
    }

    &:first-child {
      margin-right: auto;
    }

    &:last-child {
      margin-left: auto;
    }

    &.active {
      .page-link {
        color: var(--white);
        background-color: var(--green2);

        &:hover {
          color: var(--white);
        }
      }
    }
  }
}
