.page-header {
  margin-bottom: 15px;

  .page-title {
    margin-bottom: 10px;
  }

  .notification-bell {
    margin-left: 15px;
  }
}

@media (min-width: 768px) {
  .page-header {
    margin-bottom: 30px;

    .page-title {
      margin-bottom: 0;
    }
  }
}
