.search-form {
  position: relative;

  .form-group {
    margin: 0;
  }

  .form-control {
    background-color: var(--white);
  }

  &__submit {
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: 18px;
    color: var(--green);
    transform: translateY(-50%);
  }
}
