// -- table default
.table th {
  white-space: nowrap;
}

.table th,
.table td {
  vertical-align: middle;
  padding: 10px 15px;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

// -- order table
.order-table {
  margin-bottom: 30px;

  td:first-child {
    font-family: "Inter SemiBold", sans-serif;
    white-space: nowrap;
    padding-right: 30px;
  }

  td:last-child {
    color: var(--text-medium);

    p {
      max-width: 600px;
      min-width: 400px;
    }
  }
}

// -- product thumb
.product-thumb {
  width: 80px;
  height: 80px;
  background: var(--main-bg);
  border-radius: 10px;
  overflow: hidden;

  &.empty {
    background: var(--main-bg) url("~/assets/images/icons/placeholder.svg") no-repeat center;
    background-size: 50%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// -- product thumb
.banner-thumb {
  display: inline-block;
  max-width: 320px;
  min-width: 150px;

  img {
    width: auto;
    max-height: 150px;
  }
}

// -- data record
.data-record {
  white-space: nowrap;

  &__key {
    font-family: "Inter Bold", sans-serif;
    color: var(--color);
  }

  &__value {
    color: var(--text-medium);
  }
}

.table-status {
  display: inline-block;
  min-width: 110px;
  text-align: center;
  color: var(--white);
  padding: 6px 12px;
  background-color: var(--color);
  border-radius: 10px;
}

// -- table actions
.table-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  > * {
    margin-left: 15px;

    &:first-child {
      margin-left: 20px;
    }
  }

  button,
  a {
    display: inline-block;
    padding: 0 5px;
    font-size: 22px;
  }

  .icon-trash {
    transform: translateY(-1px);
  }
}

.icon-edit {
  color: var(--orange);
}

.icon-eye,
.icon-trash {
  color: var(--red2);
}

.table-actions {
  .icon-chat {
    color: var(--green);
  }
}
