ul[role="tablist"] {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .nav-item {
    a[role="tab"] {
      border-radius: 0;
      white-space: nowrap;
    }

    &:first-child {
      a[role="tab"] {
        border-radius: .25rem 0 0 .25rem;
      }
    }

    &:last-child {
      a[role="tab"] {
        border-radius: 0 .25rem .25rem 0;
      }
    }
  }
}
