.user-dropdown {
  padding: 5px 12px;
  background-color: var(--white);
  border-radius: 10px;

  .dropdown-toggle {
    text-align: left;
  }

  &__role {
    font-family: "Inter Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
  }

  &__name {
    font-size: 13px;
    line-height: 16px;
  }

  .dropdown-menu {
    li:last-child {
      .dropdown-item {
        color: var(--red);
      }
    }
  }
}
