.user-info {
  position: relative;
  white-space: nowrap;

  &__thumb {
    height: 50px;
    width: 50px;
    min-width: 50px;
    background-color: #E5E3E8;
    border-radius: 10px;
    overflow: hidden;

    span {
      font-family: "Inter Bold", sans-serif;
      font-size: 22px;
      color: var(--white);
    }
  }

  &__info {
    padding-left: 15px;
  }

  &__name {
    font-family: "Inter Bold", sans-serif;
  }

  &__email {
    color: var(--text-medium);
    opacity: .7;
  }
}
