.white-panel {
  position: relative;
  padding: 30px;
  background: var(--white);
  border-radius: 10px;

  &__header {
    margin-bottom: 10px;
  }

  .b-overlay {
    z-index: 50 !important;
  }
}

.date-range {
  .form-group {
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .white-panel {
    padding: 20px;

    &__actions {
      width: 100%;
    }
  }

  .date-range {
    .form-group {
      width: 100%;
      margin-right: 0 !important;
    }
  }
}
