.statistic-blocks {
  .col-sm-6 {
    margin-bottom: 15px;
  }
}

.statistic-block {
  height: 100%;
  color: var(--white);
  padding: 20px;
  background-color: #ccc;
  border-radius: 10px;

  &__label {
    margin-bottom: 5px;
  }

  &__bottom {
    margin-top: auto;
  }

  &__num {
    font-family: "Inter Bold", sans-serif;
    font-size: 20px;
    line-height: 30px;
  }

  &__icon {
    font-size: 18px;
  }
}

@media (min-width: 576px) {
  .statistic-blocks {
    .col-sm-6 {
      margin-bottom: 30px;
    }
  }
}
