<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.users')" />

    <white-panel
      :loading="loading"
      :title="$t('menu.users')"
      :subtitle="$t('users_count', { count: pagination.total_count })"
    >
      <template #actions>
        <div class="date-range-wrapper">
          <p class="mb-1">{{ $t("date_range") }}</p>
          <div class="date-range d-flex flex-wrap">
            <b-form-group class="mr-3">
              <b-form-datepicker
                class="sm"
                dropleft
                hide-header
                v-model="filters.date_from"
                :max="filters.date_to"
                :placeholder="$t('choose_date')"
                :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                @input="handleChange"
              />
            </b-form-group>
            <b-form-group>
              <b-form-datepicker
                class="sm"
                dropleft
                hide-header
                v-model="filters.date_to"
                :min="filters.date_from"
                :placeholder="$t('choose_date')"
                :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                @input="handleChange"
              />
            </b-form-group>
          </div>
        </div>
      </template>
      <!-- actions -->

      <template #default>
        <data-table>
          <tbody>
          <tr v-for="user in users.items" :key="user.id">
            <td>
              <data-user :firstname="user.firstname" :lastname="user.lastname" :email="user.email" />
            </td>
            <td>
              <div class="data-record">
                <p class="data-record__key">{{ $t("contact_number") }}</p>
                <p class="data-record__value">
                  <template v-if="user.phones.length">{{ user.phones[0].value }}</template>
                </p>
              </div>
            </td>
            <td>
              <div class="data-record">
                <p class="data-record__key">{{ $t("last_order_date") }}</p>
                <p class="data-record__value">{{ user.last_order.date }} {{ user.last_order.time }}</p>
              </div>
            </td>
            <td :style="{ width: '130px' }">
              <nuxt-link class="btn btn-primary btn-sm" :to="$localePath('users-id-orders', { id: user.id })">
                {{ $t('menu.orders') }}
              </nuxt-link>
            </td>
            <td>
              <div class="table-actions justify-content-center">
                <nuxt-link
                  :to="$localePath('users-id', { id: user.id })"
                  :style="{ margin: '0 15px 0 0' }"
                >
                  <i class="icon-edit"></i>
                </nuxt-link>
              </div>
            </td>
          </tr>
          </tbody>
        </data-table>
      </template>
      <!-- default -->

      <template #footer>
        <b-pagination
          v-if="users.items.length"
          first-number
          last-number
          align="center"
          v-model="current_page"
          :total-rows="pagination.total_count"
          :per-page="pagination.per_page"
          @change="handleChange"
        />
      </template>
      <!-- footer -->
    </white-panel>
    <!-- white panel -->
  </b-container>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import DataUser from "@/components/tables/DataUser";

export default {
  name: "UsersIndex",
  components: {
    DataUser
  },
  data() {
    return {
      filters: {
        search_query: "",
        date_from: null,
        date_to: null
      }
    }
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading,
      pagination: ({ users }) => users.pagination
    }),
    ...mapGetters({
      users: "users/getUsers"
    }),
    current_page: {
      get() {
        return this.pagination.current_page;
      },
      set(value) {
        this.$store.commit("SET_PAGINATION_PAGE", { module: "users", page: value });
      }
    }
  },
  watch: {
    "$route.query"(query) {
      this.$store
        .dispatch("users/fetchAll", query)
        .then(() => this.$root.$emit("filters-applied"));
    },
  },
  methods: {
    handleSearch(query) {
      this.filters.search_query = query;
      this.handleChange();
    },

    handleChange() {
      this.$nextTick(() => {
        this.$router.push({
          query: {
            page: this.current_page,
            ...this.$mapObjectToQuery(this.filters)
          }
        });
      });
    },
  },
  created() {
    this.$root.$on("search", this.handleSearch);
  },
  beforeDestroy() {
    this.$root.$off("search", this.handleSearch);
  },
  async asyncData({ query, store }) {
    await store.dispatch("users/fetchAll", query);
  }
}
</script>
