<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.reviews')" />

    <white-panel :loading="loading" :title="$t('menu.reviews')" :subtitle="$t('manage_reviews')">
      <template #default>
        <data-table :fields="reviews.fields">
          <tbody>
          <tr v-for="review in reviews.items">
            <td>{{ review.id }}</td>
            <td class="text-nowrap">{{ review.date }}</td>
            <td class="min-w-200">{{ review.name }}</td>
            <td>{{ review.email ? review.email : "-" }}</td>
            <td class="min-w-200">{{ review.comment }}</td>
            <td>{{ review.rating }}</td>
            <td>{{ review.product_id }}</td>
            <td>
              <div class="table-actions">
                <b-form-checkbox
                  switch
                  :checked="review.active === 1"
                  @change="(e) => handleTogggleActive(e, review.id)"
                >
                  &nbsp;
                </b-form-checkbox>
                <button @click="selectReview(review)">
                  <i class="icon-chat"></i>
                </button>
                <a :href="review.url" target="_blank">
                  <i class="icon-eye"></i>
                </a>
              </div>
            </td>
          </tr>
          </tbody>
        </data-table>
      </template>
      <!-- default -->

      <template #footer>
        <b-pagination
          v-if="reviews.items.length"
          first-number
          last-number
          align="center"
          v-model="current_page"
          :total-rows="pagination.total_count"
          :per-page="pagination.per_page"
          @change="handleChange"
        />
      </template>
    </white-panel>
    <!-- white panel -->

    <b-modal centered hide-footer id="answer-review" @hidden="resetForm">
      <template #modal-header>
        <h2 class="block-title">{{ $t('answer_to_review') }}</h2>
      </template>

      <template #default>
        <b-form @keydown.enter="handleAnswerReview" @submit.prevent="handleAnswerReview">
          <b-form-group :label="selected_review.name">
            <b-form-textarea :value="selected_review.comment" :rows="4" disabled />
          </b-form-group>

          <b-form-group :label="$auth.user.name">
            <b-form-textarea v-model="review_answer" :rows="4" />
          </b-form-group>

          <div class="d-flex justify-content-end">
            <b-button variant="primary" type="submit">
              {{ $t("send") }}
            </b-button>
            <b-button class="ml-3" variant="danger" type="button" @click="$bvModal.hide('answer-review')">
              {{ $t("close") }}
            </b-button>
          </div>
        </b-form>
      </template>
    </b-modal>
    <!-- modal -->
  </b-container>
</template>

<script>
import { mapState, mapGetters } from "vuex";

export default {
  name: "Reviews",
  data() {
    return {
      filters: {
        search_query: ""
      },
      selected_review: null,
      review_answer: ""
    }
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading,
      pagination: ({ reviews }) => reviews.pagination
    }),
    ...mapGetters({
      reviews: "reviews/getReviews"
    }),
    current_page: {
      get() {
        return this.pagination.current_page;
      },
      set(value) {
        this.$store.commit("SET_PAGINATION_PAGE", { module: "reviews", page: value });
      }
    }
  },
  watch: {
    "$route.query"(query) {
      this.$store
        .dispatch("reviews/fetchAll", query)
        .then(() => this.$root.$emit("filters-applied"));
    },
  },
  methods: {
    handleSearch(query) {
      this.filters.search_query = query;
      this.handleChange();
    },

    handleChange() {
      this.$nextTick(() => {
        this.$router.push({
          query: {
            page: this.current_page,
            ...this.$mapObjectToQuery(this.filters)
          }
        });
      });
    },

    selectReview(review) {
      this.selected_review = review;
      this.$bvModal.show('answer-review');
    },

    async handleTogggleActive(e, review_id) {
      try {
        await this.$store.dispatch("reviews/toggle", { id: review_id, active: e });
        this.$toast.success(this.$t("successfull_operation"));
      } catch(error) {
        this.$toast.error(this.$t("error_occurred"));
      }
    },

    handleAnswerReview() {
      this.$store
        .dispatch("reviews/answer", {
          id: this.selected_review.id,
          comment: this.review_answer
        })
        .then(() => {
          this.$bvModal.hide('answer-review');
          this.$toast.success(this.$t("successfull_operation"));
        })
    },

    resetForm() {
      this.selected_review = null;
      this.review_answer = "";
    }
  },
  created() {
    this.$root.$on("search", this.handleSearch);
  },
  beforeDestroy() {
    this.$root.$off("search", this.handleSearch);
  },
  async asyncData({ query, store }) {
    await store.dispatch("reviews/fetchAll", query);
  }
}
</script>
