<template>
  <b-form @submit.prevent="handleSubmit">
    <b-row>
      <b-col lg="4" sm="6">
        <form-field
          :label="`${$t('name')} (AZ)`"
          v-model="form.name.az"
          :is-invalid="$v.form.name.az.$error"
        >
          <b-form-invalid-feedback v-if="$v.form.name.az.$error">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>

        <form-field
          :label="`${$t('name')} (RU)`"
          v-model="form.name.ru"
          :is-invalid="$v.form.name.ru.$error"
        >
          <b-form-invalid-feedback v-if="$v.form.name.ru.$error">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>

        <form-field
          :label="`${$t('name')} (EN)`"
          v-model="form.name.en"
          :is-invalid="$v.form.name.en.$error"
        >
          <b-form-invalid-feedback v-if="$v.form.name.en.$error">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>
      </b-col>

      <b-col lg="4" sm="6">
        <form-field
          :label="`${$t('address')} (AZ)`"
          v-model="form.address.az"
          :is-invalid="$v.form.address.az.$error"
        >
          <b-form-invalid-feedback v-if="$v.form.address.az.$error">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>

        <form-field
          :label="`${$t('address')} (RU)`"
          v-model="form.address.ru"
          :is-invalid="$v.form.address.ru.$error"
        >
          <b-form-invalid-feedback v-if="$v.form.address.ru.$error">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>

        <form-field
          :label="`${$t('address')} (EN)`"
          v-model="form.address.en"
          :is-invalid="$v.form.address.en.$error"
        >
          <b-form-invalid-feedback v-if="$v.form.address.en.$error">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>
      </b-col>

      <b-col lg="4" sm="6">
        <form-field
          :label="$t('map_link')"
          v-model="form.map_link"
          :is-invalid="$v.form.map_link.$error"
        >
          <b-form-invalid-feedback v-if="$v.form.map_link.$error">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>

        <b-form-group :label="$t('contact_number')">
          <multiple-text-field
            :key="123"
            hide-count
            :fields="form.phones"
            @add-field="handleAddField"
            @remove-field="handleRemoveField"
            @field-update="handleFieldUpdate"
          />
        </b-form-group>
      </b-col>

      <b-col cols="12">
        <div class="d-flex">
          <b-button class="mr-3" variant="primary" type="submit">
            <i class="icon-check"></i>
            {{ $t('submit') }}
          </b-button>
          <b-button variant="danger" type="button" @click="$router.go(-1)">
            <i class="icon-cancel"></i>
            {{ $t('reject') }}
          </b-button>
        </div>
      </b-col>
    </b-row>
  </b-form>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import MultipleTextField from "@/components/form/MultipleTextField";

export default {
  name: "CreateBranchForm",
  components: {
    MultipleTextField
  },
  props: {
    pending: {
      type: Boolean,
      default: false
    },
    initialData: {
      type: Object,
      default: () => ({
        id: 0,
        name: {
          az: "",
          ru: "",
          en: ""
        },
        address: {
          az: "",
          ru: "",
          en: ""
        },
        map_link: "",
        phones: [],
        display: true
      })
    }
  },
  data() {
    return {
      form: {
        ...this.initialData,
        name: { ...this.initialData.name },
        address: { ...this.initialData.address },
        phones: this.initialData.phones.length ? [ ...this.initialData.phones ] : [{ value: "" }]
      }
    }
  },
  validations: {
    form: {
      name: {
        az: { required },
        ru: { required },
        en: { required }
      },
      address: {
        az: { required },
        ru: { required },
        en: { required }
      },
      map_link: { required }
    }
  },
  methods: {
    handleAddField() {
      this.form.phones = [...this.form.phones, { value: "" }]
    },

    handleRemoveField(index) {
      this.form.phones.splice(index, 1);
    },

    handleFieldUpdate({ value, index }) {
      this.form.phones[index] = {
        ...this.form.phones[index],
        value: value
      };
      this.form.phones = [...this.form.phones];
    },

    handleSubmit() {
      this.$v.form.$touch();

      if (this.$v.$invalid) {
        this.$toast.error(this.$t("invalid_credentials"));
        return;
      }

      !this.pending && this.$emit("form-submit", this.form);
    },
  }
}
</script>
