<template>
  <b-form class="create-banner" @submit.prevent="handleSubmit">
    <b-row>
      <b-col md="6">
        <form-field disabled label="ID" v-model="form.id" />
        <form-field disabled :label="$t('order')" v-model="form.order" />

        <b-form-group :label="$t('position')">
          <v-select
            :clearable="false"
            v-model="form.position"
            :options="banners_position"
            :reduce="data => data.value"
          >
            <template #selected-option="{ label }">{{ $t(label) }}</template>
            <template #option="{ label }">{{ $t(label) }}</template>
          </v-select>
        </b-form-group>

        <form-field :label="$t('link')" v-model="form.url" :is-invalid="$v.form.url.$error">
          <b-form-invalid-feedback v-if="!$v.form.url.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>

        <b-row>
          <b-col sm="6">
            <b-form-group :label="$t('start_date')">
              <b-form-datepicker
                hide-header
                v-model="form.start_date"
                :max="form.end_date"
                :placeholder="$t('choose_date')"
                :class="{ 'is-invalid': $v.form.start_date.$error }"
                :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
              />
              <b-form-invalid-feedback v-if="!$v.form.start_date.required">
                {{ $t("required") }}
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>

          <b-col sm="6">
            <b-form-group :label="$t('end_date')">
              <b-form-datepicker
                hide-header
                v-model="form.end_date"
                :min="form.start_date"
                :placeholder="$t('choose_date')"
                :class="{ 'is-invalid': $v.form.end_date.$error }"
                :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
              />
              <b-form-invalid-feedback v-if="!$v.form.end_date.required">
                {{ $t("required") }}
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>
        </b-row>

        <b-form-group>
          <b-form-checkbox v-model="form.always" :value="1" :unchecked-value="0">
            {{ $t("always") }}
          </b-form-checkbox>
        </b-form-group>
      </b-col>
      <!-- col -->

      <b-col md="6">
        <b-form-group :label="$t('add_file')">
          <image-uploader
            ref="file"
            :height="249"
            :uploaded_image="form.image"
            @image-updated="imageUpdated"
            @delete-image="deleteImage"
            :class="{ 'is-invalid': $v.form.image.file.$error }"
          />
          <b-form-invalid-feedback v-if="$v.form.image.file.$error">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </b-form-group>

        <b-form-group>
          <b-form-checkbox class="mr-3" v-model="form.display" :value="1" :unchecked-value="0">
            {{ $t("display") }}
          </b-form-checkbox>
        </b-form-group>

        <div class="d-flex">
          <b-button class="mr-3" variant="primary" type="submit">
            <i class="icon-check"></i>
            {{ $t('submit') }}
          </b-button>
          <b-button variant="danger" type="button" @click="$router.go(-1)">
            <i class="icon-cancel"></i>
            {{ $t('reject') }}
          </b-button>
        </div>
      </b-col>
      <!-- -->
    </b-row>
  </b-form>
</template>

<script>
import { required, requiredIf } from "vuelidate/lib/validators";
import ImageUploader from "@/components/elements/ImageUploader";

export default {
  name: "CreateBannerForm",
  props: {
    pending: {
      type: Boolean,
      default: false
    },
    initialData: {
      type: Object,
      default: () => ({
        id: "",
        url: "",
        order: "",
        position: "main",
        image: { id: "", file: "" },
        start_date: "",
        end_date: "",
        always: 0,
        display: 0
      })
    }
  },
  components: {
    ImageUploader
  },
  data() {
    return {
      deleted_images: [],
      form: { ...this.initialData },
      banners_position: [
        { label: "main_banner", value: "main" },
        { label: "right_banner", value: "right" },
        { label: "page_banner", value: "page" },
        { label: "category", value: "category" }
      ]
    }
  },
  validations: {
    form: {
      url: { required },
      start_date: {
        required: requiredIf(function (model) {
          return model.always !== 1;
        })
      },
      end_date: {
        required: requiredIf(function (model) {
          return model.always !== 1;
        })
      },
      image: {
        file: { required }
      }
    }
  },
  methods: {
    handleSubmit() {
      this.$v.form.$touch();

      if (this.$v.$invalid) {
        this.$toast.error(this.$t("invalid_credentials"));
        return;
      }

      const form_data = this.prepareFormData();
      !this.pending && this.$emit("form-submit", { id: this.form.id, form_data });
    },

    prepareFormData() {
      const form_data = new FormData();
      const file = this.$refs.file.image.file;

      this.deleted_images.map((key) => {
        form_data.append("deleted_images[]", key);
      });

      Object.keys(this.form).map((key) => {
        if (this.form[key] !== "") {
          form_data.append(key, this.form[key]);
        }
      });

      if (file) {
        form_data.set("image", file);
      } else {
        form_data.delete("image");
      }

      return form_data;
    },

    imageUpdated(image) {
      this.form.image = image;
    },

    deleteImage(id) {
      this.form.image = { id: "", file: "" };
      this.deleted_images.push(id);
    }
  }
}
</script>
