.auth-page {
  background: url("~/assets/images/auth-bg.jpg") no-repeat center;
  background-size: cover;
}

.auth-form-container {
  min-height: 100vh;
  padding: 30px 0;
}

.auth-form-wrapper {
  width: 100%;
  max-width: 370px;

  form {
    padding: 30px;
    background-color: var(--white);
    border-radius: 10px;
  }

  .block-title {
    margin-bottom: 5px;
  }

  .subtitle {
    font-size: 12px;
    color: var(--text-medium);
    line-height: 16px;
    margin: 0 0 30px 0;
  }

  .forgot-password {
    font-size: 14px;
  }
}

.auth-logo {
  width: 163px;
  margin: 0 auto 30px auto;
}
