.umico-export {
  font-family: "Inter SemiBold", sans-serif;
  color: var(--green2);
}

.option-filters {
  margin-left: -6px;
  margin-right: -6px;

  &__item {
    flex: 1 1 25%;
    padding: 0 6px 12px 6px;
  }
}

.excel-table {
  padding: 0 0 8px 0;
  border: 1px solid #EFF1F9;
  border-radius: 6px;
  max-height: calc(100vh - 370px);
  min-height: 380px;

  .highlight {
    background-color: #FFCECE;
  }

  .table {
    th,
    td {
      padding: 5px 15px;
    }
  }
  thead {
    position: sticky;
    top: 0;
    z-index: 2;
    background: #eee;
  }
}
