.faq-list {
  overflow-x: auto;

  &__item {
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15px;

    &:last-child {
      margin: 0;
    }
  }

  &__content {
    width: 100%;
    min-width: 480px;
    max-width: 900px;
    background-color: var(--input-bg);
    border-radius: 10px;
  }

  &__toggler {
    font-family: "Inter SemiBold", sans-serif;
    padding: 15px;
    user-select: none;
  }

  &__text {
    padding: 0 15px 15px;
  }

  &__actions {
    align-items: center;
    justify-content: flex-end;
    padding-top: 17px;

    > * {
      margin-left: 15px;
    }

    button,
    a {
      display: inline-block;
      padding: 0 5px;
      font-size: 22px;
    }
  }
}

@media (min-width: 992px) {
  .faq-list {
    &__content {
      width: calc(100% - 250px);
    }
  }
}
