.faq-categories {
  max-width: 900px;

  &__item {
    margin-bottom: 15px;
  }

  &__title {
    flex: 1;
    padding: 14px 15px;
    background-color: var(--input-bg);
    border-radius: 10px;
  }
}
