@import "../print";

.user-order-status {
  margin-bottom: 15px;

  .user-info {
    padding-right: 10px;
    margin-right: 10px;

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 1px;
      height: 25px;
      background-color: var(--text-main);
      transform: translateY(-50%);
    }
  }

  .user-info__name {
    font-family: "Inter Regular", sans-serif;
  }

  .status {
    font-family: "Inter Bold", sans-serif;
  }
}
