<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.faq')" hide-search />

    <white-panel :title="$t('menu.faq')" :subtitle="$t('faq_update')">
      <create-faq-form :pending="pending" :initial-data="faq" @form-submit="handleSubmit" />
    </white-panel>
  </b-container>
</template>

<script>
import { mapGetters } from "vuex";
import CreateFaqForm from "@/components/faq/CreateFaqForm";

export default {
  name: "UpdateFaq",
  components: {
    CreateFaqForm
  },
  data() {
    return {
      pending: false
    }
  },
  computed: {
    ...mapGetters({
      faq: "faq/getFaq"
    })
  },
  methods: {
    async handleSubmit(form_data) {
      try {
        this.pending = true;
        await this.$store.dispatch("faq/update", form_data);
        await this.$router.push(this.localeRoute("pages-faq"));
        this.$toast.success(this.$t("successfull_operation"));
      } catch (e) {
        this.pending = false;
        this.$toast.error(this.$t("invalid_credentials"));
      }
    }
  },
  async asyncData({ params, store }) {
    await Promise.all([
      store.dispatch("faq/fetchOne", params.id),
      store.dispatch("faqCategories/fetchAll")
    ]);
  }
}
</script>
