<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.faq')" hide-search />

    <white-panel :title="$t('menu.faq')" :subtitle="$t('faq_creation')">
      <create-faq-form :pending="pending" @form-submit="handleSubmit" />
    </white-panel>
  </b-container>
</template>

<script>
import CreateFaqForm from "@/components/faq/CreateFaqForm";

export default {
  name: "CreateFaq",
  components: {
    CreateFaqForm
  },
  data() {
    return {
      pending: false
    }
  },
  methods: {
    async handleSubmit(form_data) {
      try {
        this.pending = true;
        await this.$store.dispatch("faq/create", form_data);
        await this.$router.push(this.localeRoute("pages-faq"));
        this.$toast.success(this.$t("successfull_operation"));
      } catch (e) {
        this.pending = false;
        this.$toast.error(this.$t("invalid_credentials"));
      }
    }
  },
  async asyncData({ store }) {
    await store.dispatch("faqCategories/fetchAll");
  }
}
</script>
