<template>
  <b-container fluid="fluid">
    <page-header title="FAQ" hide-search />

    <white-panel :loading="loading" title="FAQ" :subtitle="$t('menu.faq')">
      <template #actions>
        <div class="d-flex flex-wrap align-items-start">
          <div class="w-xs-100 mr-3 mb-3">
            <v-select
              class="sm"
              :clearable="false"
              v-model="filters.category"
              :options="faq_categories"
              :reduce="data => data.value"
              :placeholder="$t('category')"
              @input="handleChange"
            />
          </div>

          <nuxt-link class="btn btn-secondary mr-3 mb-3" :to="$localePath('pages-faq-categories')">
            {{ $t("faq_categories") }}
          </nuxt-link>

          <nuxt-link class="btn btn-primary mb-1" :to="$localePath('pages-faq-create')">
            <i class="icon-plus"></i>
            {{ $t("add") }}
          </nuxt-link>
        </div>
      </template>
      <!-- tempalte actions -->

      <div class="faq-list">
        <div class="faq-list__item d-flex" v-for="faq in faqs.items" :key="faq.id">
          <div class="faq-list__content">
            <p class="faq-list__toggler" v-b-toggle="`faq-answer-${faq.id}`">{{ faq.title }}</p>
            <b-collapse :id="`faq-answer-${faq.id}`" role="tabpanel" accordion="faq-accordion">
              <div class="faq-list__text">{{ faq.content }}</div>
            </b-collapse>
          </div>

          <div class="faq-list__actions d-flex">
            <b-form-checkbox
              switch
              :checked="faq.active"
              @change="(e) => handleTogggleActive(e, faq.id)"
            >
              &nbsp;
            </b-form-checkbox>
            <nuxt-link :to="$localePath('pages-faq-id', { id: faq.id })">
              <i class="icon-edit"></i>
            </nuxt-link>
            <button @click="confirmDetele(faq.id)">
              <i class="icon-trash"></i>
            </button>
          </div>
        </div>
        <!-- faq item -->
      </div>
      <!-- faq list -->
    </white-panel>
  </b-container>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import deletable from "@/mixins/deletable";

export default {
  name: "FaqIndex",
  mixins: [deletable],
  data() {
    return {
      filters: {
        category: ""
      }
    }
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading
    }),
    ...mapGetters({
      faqs: "faq/getFaqs",
      faq_categories: "faqCategories/getAsOptions"
    })
  },
  watch: {
    "$route.query"(query) {
      this.$store.dispatch("faq/fetchAll", query);
    },
  },
  methods: {
    handleChange() {
      this.$router.push({ query: this.$mapObjectToQuery(this.filters) });
    },

    async handleTogggleActive(e, faq_id) {
      try {
        await this.$store.dispatch("faq/toggle", { id: faq_id, active: e });
        this.$toast.success(this.$t("successfull_operation"));
      } catch(error) {
        this.$toast.error(this.$t("error_occurred"));
      }
    },

    confirmDetele(faq_id) {
      this.deletable(() => {
        this.$store.dispatch("faq/delete", faq_id);
      })
    },
  },
  async asyncData({ query, store }) {
    await Promise.all([
      store.dispatch("faq/fetchAll", query),
      store.dispatch("faqCategories/fetchAll")
    ]);
  }
}
</script>
