.custom-checkbox {
  display: flex;
  align-items: center;

  .custom-control-input {
    &:checked {
      ~ .custom-control-label:before {
        border-color: var(--text-main);
        background-color: var(--text-main);
      }
    }
  }

  .custom-control-label {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    user-select: none;
    cursor: pointer;

    &:before {
      background-color: transparent;
      border-color: var(--text-main);
      transition: none;
    }

    &:before,
    &:after {
      width: 17px;
      height: 17px;
      top: 0;
      box-shadow: none !important;
    }
  }
}
