// -- datepicker
.b-form-datepicker {
  min-width: 160px;
  padding: 0 !important;

  &.dropup {
    .dropdown-menu {
      top: auto !important;
      bottom: calc(100% + 10px) !important;
    }
  }

  &.sm {
    label.form-control {
      padding: 9px 40px 9px 15px !important;
    }
  }

  &[aria-disabled="true"] {
    label.form-control {
      background-color: var(--input-disabled-bg);
    }
  }

  > .btn {
    visibility: hidden;
    position: absolute;
  }

  label.form-control {
    position: relative;
    padding: 14px 40px 14px 15px !important;
    min-height: auto !important;

    &:after {
      content: "\e811";
      font-family: "fontello", sans-serif;
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
    }
  }

  .dropdown-menu {
    min-width: auto;
    top: calc(100% + 10px) !important;
    right: 0 !important;
    left: auto !important;
    transform: none !important;
  }

  .b-calendar-grid-help {
    display: none;
  }
}
