.quillWrapper {
  background-color: var(--input-bg);
  border-radius: 10px;

  &.is-invalid {
    border: 1px solid var(--red);
  }

  .ql-toolbar.ql-snow {
    border: none;
    border-bottom: 1px solid rgba($black, .1);
  }

  .ql-container.ql-snow {
    border: none;
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
  }
}
