.file-input-preview {
  background-color: var(--input-bg);
  border-radius: 10px;
  overflow: hidden;

  &__label {
    flex: 1;
    padding: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__btn {
    min-width: 80px;
    padding: 15px;
    color: var(--white);
    background-color: var(--red2);
  }
}
