.form-group {
  &.search-field {
    &:after {
      content: "\e810";
      font-family: "fontello", sans-serif;
    }
  }

  &.price-field {
    &:after {
      content: "\e828";
      font-family: "fontello", sans-serif;
      font-size: 16px;
    }
  }
}

.form-group {
  position: relative;
  margin-bottom: 20px;

  &:after {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 18px;
    color: var(--green);
  }

  .form-group {
    margin: 0;
  }

  label {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 5px;
  }

  .form-control {
    height: auto;
    font-size: 14px;
    line-height: 21px;
    padding: 14px 15px;
    background-color: var(--input-bg);
    border: 1px solid transparent;
    border-radius: 10px;
    background-image: none;
    box-shadow: none !important;

    .form-control {
      padding: 0;
    }

    &:disabled {
      background-color: var(--input-disabled-bg);
    }

    &.is-invalid {
      border: 1px solid var(--red);
    }

    &.has-success {
      background-color: rgba($green, .3);
    }

    &.has-error {
      background-color: rgba($red, .3);
    }
  }

  &::-webkit-input-placeholder {
    color: var(--text-medium);
  }

  &::-moz-placeholder {
    color: var(--text-medium);
  }

  &:-ms-input-placeholder {
    color: var(--text-medium);
  }

  &:-moz-placeholder {
    color: var(--text-medium);
  }
}

a.form-control {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// -- file input
.custom-file {
  height: auto;

  &-input {
    display: none;
  }

  &-label {
    position: relative;
    height: auto;
    width: 100%;
    font-size: 14px !important;
    line-height: 21px !important;
    padding: 14px 15px;
    margin: 0 !important;
    background-color: var(--input-bg);
    border: 1px solid transparent;
    border-radius: 10px;
    background-image: none;
    box-shadow: none !important;

    &:after {
      height: auto;
      display: inline-flex;
      align-items: center;
      color: var(--white);
      background-color: var(--blue);
      cursor: pointer;
    }
  }
}

.custom-file-input:lang(az) ~ .custom-file-label::after {
  content: 'Fayl seç';
}

.custom-file-input:lang(ru) ~ .custom-file-label::after {
  content: 'Выбрать файл';
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: 'Browse';
}
