.multiple-text-field-wrapper {
  margin-bottom: 20px;
}

.multiple-text-field {
  + .multiple-text-field {
    margin: 10px 0;
  }

  .field-index {
    font-size: 16px;
    margin-right: 12px;
  }

  .form-group {
    flex: 1;
    margin: 0;
  }

  .add-field {
    position: absolute;
    top: 50%;
    right: 5px;
    font-size: 22px;
    padding: 0 10px;
    transform: translateY(-50%);
  }

  .remove-field {
    font-size: 22px;
    margin-left: 12px;
  }
}
