.v-select {
  position: relative;

  &.vs--searching {
    .vs__selected {
      opacity: 0;
    }
  }

  &.vs--single {
    .vs__selected-options {
      .vs__selected {
        border: none;
        margin: 0;
        padding: 0;
      }
    }
  }

  &.vs--open {
    &:after {
      transform: rotate(180deg);
    }
  }

  &:after {
    content: "\f107";
    font-family: "fontello", sans-serif;
    font-size: 18px;
    position: absolute;
    top: 16px;
    right: 15px;
    pointer-events: none;
  }

  &.sm {
    &:after {
      top: 10px;
    }

    .vs__dropdown-toggle {
      padding: 8px 35px 9px 15px;
    }
  }

  .vs__dropdown-toggle {
    padding: 14px 50px 14px 15px;
    background-color: var(--input-bg);
    border: 1px solid transparent;
    border-radius: 10px;
  }

  .vs__dropdown-menu {
    display: block;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    max-height: 265px;
    padding: 10px 0;
    background-color: var(--input-bg);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba($black, .15);
    overflow-y: auto;
    z-index: 30;

    li {
      padding: 5px 15px;
      cursor: pointer;

      &:hover {
        color: var(--white);
        background-color: var(--blue);
      }
    }
  }

  .vs__searchable {
    background-image: none;
  }

  .vs__selected-options {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 21px;
    min-width: 160px;

    .vs__selected {
      position: relative;
      display: inline-flex;
      align-items: center;
      width: auto;
      overflow: hidden;
      margin: 2px 10px 2px 0;
      z-index: 5;

      button {
        margin-left: 5px;
      }
    }

    .vs__selected {
      padding: 0 5px;
      border: 1px solid var(--text-main);
      border-radius: 4px;
    }
  }

  .vs__selected,
  .vs__search,
  .vs__search:focus {
    width: 100%;
    font-size: 14px;
    line-height: 21px;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    outline: none;
  }

  .vs__search {
    position: absolute;
    top: 0;
    left: 0;
  }

  .vs__actions {
    position: absolute;
    right: 35px;
    top: 19px;
  }

  .vs__clear {
    display: flex;
    width: 16px;
    height: 16px;
    background: url("~/assets/images/icons/close.svg") no-repeat center;
    background-size: 70% 70%;

    > * {
      display: none;
    }
  }

  .vs__open-indicator {
    display: none;
  }
}

.vs__search::-webkit-search-cancel-button {
  display: none !important;
}

.v-select.is-invalid {
  .vs__dropdown-toggle {
    border-color: var(--red);
  }
}
