.custom-switch {
  min-height: auto;

  .custom-control-input:checked {
    ~ .custom-control-label {
      &:before {
        background-color: var(--green2);
        border-color: var(--green2);
      }

      &:after {
        transform: translateX(15px);
      }
    }
  }

  .custom-control-label {
    user-select: none;
    cursor: pointer;

    &:before {
      top: 0;
      width: 34px;
      height: 20px;
      border: 2px solid var(--green2) !important;
      border-radius: 10px;
      box-shadow: none !important;
    }

    &:after {
      top: 4px;
      left: -32px;
      width: 12px;
      height: 12px;
      background-color: var(--green2);
      box-shadow: none !important;
    }
  }
}
