<template>
  <b-container fluid="fluid">
    <page-header :title="$t('personal_info')" hide-search />

    <white-panel :title="$t('personal_info')" :subtitle="$t('about_admin')">
      <update-moderator-form :initial-data="moderator" :pending="pending" @form-submit="handleSubmit" />
    </white-panel>
  </b-container>
</template>

<script>
import { mapGetters } from "vuex";
import UpdateModeratorForm from "@/components/moderators/UpdateModeratorForm";

export default {
  name: "Profile",
  components: {
    UpdateModeratorForm
  },
  data() {
    return {
      pending: false,
    }
  },
  computed: {
    ...mapGetters({
      moderator: "moderators/getModerator"
    })
  },
  methods: {
    async handleSubmit(form_data) {
      if (!this.pending) {
        try {
          this.pending = true;
          await this.$store.dispatch("moderators/update", form_data);
          await this.$router.push(this.localeRoute("index"));
          this.$toast.success(this.$t("successfull_operation"));
        } catch (e) {
          this.pending = false;
          this.$toast.error(this.$t("invalid_credentials"));
        }
      }
    },
  },
  async asyncData({ params, store }) {
    await store.dispatch("moderators/fetchOne", params.id);
  }
}
</script>
