<template>
  <b-form @submit.prevent="handleSubmit">
    <b-row>
      <b-col md="6">
        <b-form-group :label="$t('start_date')">
          <b-form-datepicker
            hide-header
            v-model="form.start_date"
            :max="form.end_date"
            :placeholder="$t('choose_date')"
            :class="{ 'is-invalid': $v.form.start_date.$error }"
            :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
          />
          <b-form-invalid-feedback v-if="!$v.form.start_date.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </b-form-group>

        <b-form-group :label="$t('end_date')">
          <b-form-datepicker
            hide-header
            v-model="form.end_date"
            :min="form.start_date"
            :placeholder="$t('choose_date')"
            :class="{ 'is-invalid': $v.form.end_date.$error }"
            :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
          />
          <b-form-invalid-feedback v-if="!$v.form.end_date.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </b-form-group>

        <form-field
          :label="$t('campaign_days')"
          :value="differenceInDays(form.start_date, form.end_date)"
          disabled
        />
      </b-col>

      <b-col md="6">
        <!-- <form-field
          :label="$t('campaign_name')"
          v-model="form.name"
          :is-invalid="$v.form.name.$error"
        >
          <b-form-invalid-feedback v-if="!$v.form.name.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field> -->

        <!---->
         <form-field
          :label="$t('lang_az')"
          v-model="form.name.az"
          :is-invalid="$v.form.name.az.$error"
        >
          <b-form-invalid-feedback v-if="!$v.form.name.az.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>

        <form-field
          :label="$t('lang_ru')"
          v-model="form.name.ru"
          :is-invalid="$v.form.name.ru.$error"
        >
          <b-form-invalid-feedback v-if="!$v.form.name.ru.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>

        <form-field
          :label="$t('lang_en')"
          :is-invalid="$v.form.name.en.$error"
          v-model="form.name.en"
        >
          <b-form-invalid-feedback v-if="!$v.form.name.en.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>
        

        <b-form-group :label="$t('icon')">
          <image-uploader
            ref="file"
            :height="150"
            class="icon-uploader"
            :uploaded_image="form.icon"
            @delete-image="deleteImage"
            @image-updated="imageUpdated"
            :class="{ 'is-invalid': $v.form.icon.file.$error }"
          />
          <b-form-invalid-feedback v-if="!$v.form.icon.file.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </b-form-group>
      </b-col>

      <b-col cols="12">
        <div class="d-flex">
          <b-button class="mr-3" variant="primary" type="submit">
            <i class="icon-check"></i>
            {{ $t('submit') }}
          </b-button>
          <b-button variant="danger" type="button" @click="$router.go(-1)">
            <i class="icon-cancel"></i>
            {{ $t('reject') }}
          </b-button>
        </div>
      </b-col>
    </b-row>
  </b-form>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import ImageUploader from "@/components/elements/ImageUploader";

export default {
  name: "CreateCampaignForm",
  props: {
    pending: {
      type: Boolean,
      default: false
    },
    initialData: {
      type: Object,
      default: () => ({
         name: {
          az: "",
          ru: "",
          en: ""
        },
        start_date: "",
        end_date: "",
        icon: { id: "", file: "" }
      })
    }
  },
  components: {
    ImageUploader
  },
  data() {
    return {
      deleted_images: [],
      form: { ...this.initialData },
    }
  },
  validations: {
    form: {
       name: {
        az: { required },
        ru: { required },
        en: { required }
      },
      start_date: { required },
      end_date: { required },
      icon: {
        file: { required }
      }
    }
  },
  methods: {
    handleSubmit() {
      this.$v.form.$touch();

      if (this.$v.$invalid) {
        this.$toast.error(this.$t("invalid_credentials"));
        return;
      }

      const form_data = this.prepareFormData();
      !this.pending && this.$emit("form-submit", { id: this.form.id, form_data });
    },

    prepareFormData() {
      const form_data = new FormData();
      const file = this.$refs.file.image.file;

      this.deleted_images.map((key) => {
        form_data.append("deleted_images[]", key);
      });
      Object.keys(this.form).map((key) => {
        if(key !== 'name')
        form_data.append(key, this.form[key]);
      });
      Object.keys(this.form.name).map((key) => {
        form_data.append(`name[${key}]`, this.form.name[key]);
      });

      

      if (file) {
        form_data.set("icon", file);
      } else {
        form_data.delete("icon");
      }

      return form_data;
    },

    imageUpdated(icon) {
      this.form.icon = icon;
    },

    deleteImage(id) {
      this.form.icon = { id: "", file: "" };
      this.deleted_images.push(id);
    },

    differenceInDays(left_date, right_date) {
      if (!left_date || !right_date) return 0;
      return (new Date(right_date) - new Date(left_date)) / (1000 * 60 * 60 * 24);
    }
  }
}
</script>
