<template>
  <div class="root">
    <app-header />
    <app-sidebar />
    <main class="content">
      <section class="page">
        <nuxt />
      </section>
    </main>
  </div>
</template>

<script>
import AppHeader from '@/components/layout/AppHeader';
import AppSidebar from '@/components/layout/AppSidebar';

export default {
  name: "Layout",
  components: { AppHeader, AppSidebar },
  middleware: ["auth"],
  mounted() {
    setInterval(() => {
      this.$store.dispatch("notifications/fetchAll");
    }, 25000)
  }
}
</script>
