<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.attributes')" hide-search />

    <white-panel :title="$t('attribute_update')" :subtitle="$t('fill_information')">
      <template #default>
        <create-attribute-form :initial-data="attribute" :pending="pending" @form-submit="handleSubmit" />
      </template>
    </white-panel>
  </b-container>
</template>

<script>
import { mapGetters } from "vuex";
import CreateAttributeForm from "@/components/attributes/CreateAttributeForm";

export default {
  name: "AttributeUpdate",
  components: {
    CreateAttributeForm
  },
  data() {
    return {
      pending: false
    }
  },
  computed: {
    ...mapGetters({
      attribute: "attributes/getAttribute"
    })
  },
  methods: {
    async handleSubmit(form_data) {
      try {
        this.pending = true;
        await this.$store.dispatch("attributes/update", form_data);
        await this.$router.go(-1);
        this.$toast.success(this.$t("successfull_operation"));
      } catch (e) {
        this.pending = false;
        this.$toast.error(this.$t("invalid_credentials"));
      }
    }
  },
  async asyncData({ params, store }) {
    await Promise.all([
      store.dispatch("attributes/fetchOne", params.id),
      store.dispatch("categories/fetchAll")
    ])
  }
}
</script>
