<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.attributes')" hide-search />

    <white-panel :title="$t('attribute_creation')" :subtitle="$t('fill_information')">
      <template #default>
        <create-attribute-form :pending="pending" @form-submit="handleSubmit" />
      </template>
    </white-panel>
  </b-container>
</template>

<script>
import CreateAttributeForm from "@/components/attributes/CreateAttributeForm";

export default {
  name: "AttributeCreate",
  components: {
    CreateAttributeForm
  },
  data() {
    return {
      pending: false
    }
  },
  methods: {
    async handleSubmit(form_data) {
      try {
        this.pending = true;
        await this.$store.dispatch("attributes/create", form_data);
        await this.$router.push(this.localeRoute("products-attributes"));
        this.$toast.success(this.$t("successfull_operation"));
      } catch (e) {
        this.pending = false;
        this.$toast.error(this.$t("invalid_credentials"));
      }
    }
  },
  async asyncData({ store }) {
    await store.dispatch("categories/fetchAll");
  }
}
</script>
