<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.attributes')" />

    <white-panel :loading="loading" :title="$t('menu.attributes')" :subtitle="$t('manage_attributes')">
      <template #actions>
        <div class="d-flex flex-wrap align-items-center">
          <div class="d-flex">
            <b-form-group class="mb-0">
               <b-form-checkbox @change="checkChanged('orderById',$event)" class="mr-3"  v-model="orderById">
              Order by Id
            </b-form-checkbox>
            </b-form-group>
            <b-form-group class="mb-0">
            <b-form-checkbox class="mr-3"  @change="checkChanged('orderByName',$event)" v-model="orderByName">
              Order by Name
            </b-form-checkbox>
          </b-form-group>
          </div>
          <div class="w-xs-100 mr-3">
            <v-select
              class="sm"
              :clearable="false"
              v-model="filters.active"
              :options="filter_options"
              :reduce="data => data.value"
              :placeholder="'Order by'"
              @input="handleChange"
            >
              <template #selected-option="{ label }">{{ $t(label) }}</template>
              <template #option="{ label }">{{ $t(label) }}</template>
            </v-select>
          </div>
          <nuxt-link class="btn btn-primary" :to="$localePath('products-attributes-create')">
            <i class="icon-plus"></i>
            {{ $t('add') }}
          </nuxt-link>
        </div>
      </template>

      <template #default>
        <data-table>
          <thead>
            <tr>
                <th v-for="field in attributes.fields" :key="field">{{field}}</th>
            </tr>
          </thead>
          
          <tbody>
            <tr v-for="(attribute,index) in attributes.items" :key="'attribute-'+index">
              <td>{{ attribute.id }}</td>
              <td>{{ attribute.name.az }}</td>
              <td>{{ attribute.name.ru }}</td>
              <td>{{ attribute.name.en }}</td>
              <td>{{ attribute.type }}</td>
              <td>
                <div class="table-actions">
                  <b-form-checkbox
                    switch
                    :checked="attribute.active"
                    @change="(e) => handleTogggleActive(e, attribute.id)"
                  >
                    &nbsp;
                  </b-form-checkbox>
                  <nuxt-link :to="$localePath('products-attributes-id', { id: attribute.id })">
                    <i class="icon-edit"></i>
                  </nuxt-link>
                  <button @click="confirmDetele(attribute.id)">
                    <i class="icon-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
          </data-table>
      </template>

      <template #footer>
        <b-pagination
          v-if="attributes.items.length"
          first-number
          last-number
          align="center"
          v-model="current_page"
          :total-rows="pagination.total_count"
          :per-page="pagination.per_page"
          @change="handleChange"
        />
      </template>
    </white-panel>
    <!-- white panel -->
  </b-container>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import deletable from "@/mixins/deletable";

export default {
  name: "AttributesIndex",
  mixins: [deletable],
  data() {
    return {
      filters: {
        active: "all",
        search_query: "",
        locale: this.$i18n.locale
      },
      filter_options: [
        { label: "all", value: "all" },
        { label: "active", value: "true" },
        { label: "inactive", value: "false" }
      ],
      orderById: true,
      orderByName: false
    }
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading,
      pagination: ({ attributes }) => attributes.pagination
    }),
    ...mapGetters({
      attributes: "attributes/getAttributes"
    }),
    current_page: {
      get() {
        return this.pagination.current_page;
      },
      set(value) {
        this.$store.commit("SET_PAGINATION_PAGE", { module: "attributes", page: value });
      }
    }
  },
  watch: {
   
    "$route.query"(query) {
      this.$store
        .dispatch("attributes/fetchAll", query)
        .then(() => this.$root.$emit("filters-applied"));
    }
  },
  methods: {
    checkChanged(model,toggle) {
      this.orderById = false;
      this.orderByName = false;
      this[model] = toggle;

      let filter_name = model == 'orderByName' ? 'order_name' : 'order_id';
      let filter_delete_name = model == 'orderByName' ? 'order_id' : 'order_name'
      this.$delete(this.filters,filter_delete_name)
      this.$set(this.filters,filter_name, toggle ? 'asc' : 'desc')
     
      this.handleChange();
    },
    async handleTogggleActive(e, attr_id) {
      try {
        await this.$store.dispatch("attributes/toggle", { id: attr_id, active: e });
        this.$toast.success(this.$t("successfull_operation"));
      } catch(error) {
        this.$toast.error(this.$t("error_occurred"));
      }
    },

    handleSearch(query) {
      this.filters.search_query = query;
      this.handleChange();
    },

    confirmDetele(attribute_id) {
      this.deletable(() => {
        this.$store.dispatch("attributes/delete", attribute_id);
      })
    },

    handleChange() {
      this.$nextTick(() => {
        this.$router.push({
          query: {
            page: this.current_page,
            ...this.$mapObjectToQuery(this.filters)
          }
        });
      });
    },
  },
  created() {
    this.$root.$on("search", this.handleSearch);
  },
  beforeDestroy() {
    this.$root.$off("search", this.handleSearch);
  },
  async asyncData({ query, store }) {
    await store.dispatch("attributes/fetchAll", query);
  }
}
</script>
