<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.home')" />

    <statistic-blocks :statistics="statistics" />

    <white-panel
      :loading="loading"
      :title="$t('latest_orders')"
      :subtitle="$t('orders_count', { count: pagination.total_count })"
    >
      <template #actions>
        <div class="date-range-wrapper">
          <p class="mb-1">{{ $t("date_range") }}</p>
          <div class="date-range d-flex flex-wrap">
            <b-form-group class="mr-3">
              <b-form-datepicker
                class="sm"
                hide-header
                v-model="filters.date_from"
                :max="filters.date_to"
                :placeholder="$t('choose_date')"
                :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                @input="handleChange"
              />
            </b-form-group>

            <b-form-group>
              <b-form-datepicker
                class="sm"
                hide-header
                v-model="filters.date_to"
                :min="filters.date_from"
                :placeholder="$t('choose_date')"
                :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                @input="handleChange"
              />
            </b-form-group>
          </div>
        </div>
      </template>
      <!-- actions -->

      <template #default>
        <data-table>
          <tbody>
          <tr v-for="order in orders.items" :key="order.id" :style="{ '--color': order.delivery.color }">
            <td>
              <data-user :firstname="order.user.fullname" :email="order.user.email"/>
            </td>
            <td>
              <div class="data-record">
                <p class="data-record__key">{{ order.payment.total }} AZN</p>
                <p class="data-record__value">
                  {{ order.payment.status ? $t("paid") : $t("not_paid") }}
                  ({{ order.payment.method }})
                </p>
              </div>
            </td>
            <td>
              <div class="data-record">
                <p class="data-record__key">{{ order.date_time.date }}</p>
                <p class="data-record__value">{{ order.date_time.time }}</p>
              </div>
            </td>
            <td>
              <div class="text-nowrap">{{ order.delivery.status }}</div>
            </td>
            <td>
              <div class="table-actions">
                <nuxt-link :to="$localePath('users-orders-id', { id: order.id })">
                  <i class="icon-eye"></i>
                </nuxt-link>
              </div>
            </td>
          </tr>
          </tbody>
        </data-table>
      </template>
      <!-- default -->
    </white-panel>
    <!-- white panel -->
  </b-container>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import StatisticBlocks from "@/components/home/StatisticBlocks";
import DataUser from "@/components/tables/DataUser";

export default {
  name: "Home",
  components: {
    StatisticBlocks,
    DataUser
  },
  data() {
    return {
      filters: {
        search_query: "",
        date_from: null,
        date_to: null
      }
    }
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading,
      pagination: ({ orders }) => orders.pagination
    }),
    ...mapGetters({
      statistics: "getStatistics",
      orders: "orders/getOrders"
    })
  },
  watch: {
    "$route.query"(query) {
      this.$store
        .dispatch("orders/fetchAll", query)
        .then(() => this.$root.$emit("filters-applied"));
    },
  },
  methods: {
    handleSearch(query) {
      this.filters.search_query = query;
      this.handleChange();
    },

    handleChange() {
      this.$router.push({ query: this.$mapObjectToQuery(this.filters) });
    }
  },
  created() {
    this.$root.$on("search", this.handleSearch);
  },
  beforeDestroy() {
    this.$root.$off("search", this.handleSearch);
  },
  async asyncData({ query, store }) {
    await Promise.all([
      store.dispatch("fetchStatistics"),
      store.dispatch("orders/fetchAll", query)
    ])
  }
}
</script>
