<template>
  <b-form class="create-note border">
    <div class="row">
      <b-col md="4">
        <b-form-group :label="$t('moderator_name')">
          <v-select
            :clearable="false"
            v-model="form.moderator_name"
            :options="moderators"
            :reduce="data => data.value"
            :class="{ 'is-invalid': $v.form.moderator_name.$error }"
          />
          <b-form-invalid-feedback v-if="!$v.form.moderator_name.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </b-form-group>

        <form-field
          :label="$t('title')"
          v-model="form.title"
          :is-invalid="$v.form.title.$error"
        >
          <b-form-invalid-feedback v-if="!$v.form.title.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>
      </b-col>
      <!-- col -->

      <b-col md="8">
        <b-form-group :label="$t('note')">
          <b-form-textarea
            no-resize
            style="height: 550px"
            v-model="form.description"
            :class="{ 'is-invalid': $v.form.description.$error }"
          />
          <b-form-invalid-feedback v-if="!$v.form.description.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </b-form-group>
      </b-col>
      <!-- col -->

      <b-col cols="12" class="d-flex justify-content-end">
        <b-button class="mr-3" variant="primary" type="submit" @click.prevent="handleSubmit">
          <i class="icon-check"></i>
          {{ $t('save') }}
        </b-button>
        <b-button class="mr-3" variant="success" type="submit" @click.prevent="handleSubmitExit">
                  <i class="icon-check"></i>
                  {{ $t('save_and_exit') }}
          </b-button>
        <b-button variant="danger" type="button" @click="$router.go(-1)">
          <i class="icon-cancel"></i>
          {{ $t('reject') }}
        </b-button>
      </b-col>
      <!-- col -->
    </div>
  </b-form>
</template>

<script>
import { mapGetters } from "vuex";
import { required } from "vuelidate/lib/validators";

export default {
  name: "CreateNoteForm",
  props: {
    pending: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
    },
    initialData: {
      type: Object,
      default: () => ({
        moderator_name: "",
        title: "",
        created_at: "",
        description: "",
      })
    }
  },
  data() {
    return {
      form: { ...this.initialData }
    }
  },
  validations: {
    form: {
      moderator_name: { required },
      title: { required },
      description: { required }
    }
  },
  computed: {
    ...mapGetters({
      moderators: "moderators/getAsOptions"
    })
  },
  methods: {
    async handleSubmit() {
      this.$v.form.$touch();

      if (this.$v.$invalid) {
        this.$toast.error(this.$t("invalid_credentials"));
        return;
      }

      !this.pending && this.$emit("form-submit", this.form);

      await this.$store.dispatch("notes/create", this.form);
      await this.$router.push(this.localeRoute({ name: "notes-id", params: { id: this.$store.state.notes.lastId } }));
    },
     async handleSubmitExit() {
      this.$v.form.$touch();

      if (this.$v.$invalid) {
        this.$toast.error(this.$t("invalid_credentials"));
        return;
      }

      !this.pending && this.$emit("form-submit", this.form);

      await this.$router.push('/notes');
    }
    
  }
}
</script>
