<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.translations')" hide-search />

    <white-panel>
      <update-translation-form :initial-data="translation" :pending="pending" @form-submit="handleSubmit" />
    </white-panel>
  </b-container>
</template>

<script>
import { mapGetters } from "vuex";
import UpdateTranslationForm from "@/components/translations/UpdateTranslationForm";

export default {
  name: "TranslationsUpdate",
  components: {
    UpdateTranslationForm
  },
  data() {
    return {
      pending: false,
    }
  },
  computed: {
    ...mapGetters({
      translation: "translations/getTranslation"
    })
  },
  methods: {
    async handleSubmit(form_data) {
      try {
        this.pending = true;
        await this.$store.dispatch("translations/update", form_data);
        await this.$router.push(this.localeRoute("translations"));
        this.$toast.success(this.$t("successfull_operation"));
      } catch (e) {
        this.pending = false;
        this.$toast.error(this.$t("invalid_credentials"));
      }
    },
  },
  async asyncData({ params, store }) {
    await store.dispatch("translations/fetchOne", params.id);
  }
}
</script>
