<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.translations')" />

    <white-panel :loading="loading" :title="$t('menu.translations')" :subtitle="$t('manage_translations')">
      <template #default>
        <data-table :fields="translations.fields">
          <tbody>
          <tr v-for="translation in translations.items" :key="translation.id">
            <td class="text-nowrap">{{ translation.key | truncate(30) }}</td>
            <td>
              <p class="min-w-200">{{ translation.values.az | truncate(50) }}</p>
            </td>
            <td>
              <p class="min-w-200">{{ translation.values.en | truncate(50) }}</p>
            </td>
            <td>
              <p class="min-w-200">{{ translation.values.ru | truncate(50) }}</p>
            </td>
            <td>
              <div class="table-actions">
                <nuxt-link :to="$localePath('translations-id', { id: translation.id })">
                  <i class="icon-edit"></i>
                </nuxt-link>
              </div>
            </td>
          </tr>
          </tbody>
        </data-table>
      </template>
    </white-panel>
  </b-container>
</template>

<script>
import { mapState, mapGetters } from "vuex";

export default {
  name: "TranslationsIndex",
  data() {
    return {
      data_filters: {
        search_query: ""
      }
    }
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading
    }),
    ...mapGetters({
      translations: "translations/getTranslations"
    })
  },
  watch: {
    "$route.query"(query) {
      this.$store
        .dispatch("translations/fetchAll", query)
        .then(() => this.$root.$emit("filters-applied"));
    },
  },
  methods: {
    handleSearch(query) {
      this.data_filters.search_query = query;
      this.$router.push({ query: this.$mapObjectToQuery(this.data_filters) });
    },
  },
  created() {
    this.$root.$on("search", this.handleSearch);
  },
  beforeDestroy() {
    this.$root.$off("search", this.handleSearch);
  },
  async asyncData({ query, store }) {
    await store.dispatch("translations/fetchAll", query);
  }
}
</script>
