<template>
  <div class="page-header">
    <b-row align-v="center">
      <b-col xl="3" md="6">
        <h1 class="page-title">{{ title }}</h1>
      </b-col>

      <b-col xl="6" md="6">
        <search-block v-if="!hideSearch" />
      </b-col>

      <b-col xl="3" class="d-none d-xl-block">
        <div class="d-flex justify-content-end">
          <user-dropdown v-if="$auth.user" />
          <notifications-dropdown />
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import UserDropdown from "~/components/elements/UserDropdown";
import NotificationsDropdown from "@/components/elements/NotificationsDropdown";

export default {
  name: "PageHeader",
  props: {
    title: {
      type: String
    },
    hideSearch: {
      type: Boolean,
      default: false
    }
  },
  components: {
    UserDropdown,
    NotificationsDropdown
  },
  computed: {
    ...mapGetters({
      orders_count: "orders/getNewOrdersCount"
    })
  }
}
</script>
