<template>
  <div class="white-panel">
    <b-overlay :show="loading" no-wrap />

    <div class="white-panel__header d-flex flex-wrap justify-content-between">
      <div class="block-header">
        <h2 class="block-title">{{ title }}</h2>
        <p class="block-subtitle">{{ subtitle }}</p>
      </div>
      <div class="white-panel__actions">
        <slot name="actions"></slot>
      </div>
    </div>

    <div class="white-panel__body">
      <slot name="default"></slot>
    </div>

    <div class="white-panel__footer">
      <slot name="footer"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "WhitePanel",
  props: {
    loading: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
    },
    subtitle: {
      type: String
    }
  }
}
</script>
