<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.notes')" hide-search />

    <white-panel :title="$t('added_note')" :subtitle="$t('fill_information')" >
      <create-note-form :initial-data="note" :pending="pending" @form-submit="handleSubmit" />
    </white-panel>
  </b-container>
</template>

<script>
import { mapGetters } from "vuex";
import CreateNoteForm from "@/components/notes/CreateNoteForm";

export default {
  name: "NotesUpdate",
  components: {
    CreateNoteForm
  },
  data() {
    return {
      pending: false,
    }
  },
  computed: {
    ...mapGetters({
      note: "notes/getNote"
    })
  },
  methods: {
    async handleSubmit(form_data) {
      try {
        this.pending = true;
        await this.$store.dispatch("notes/update", form_data);
        await this.$router.push(this.localeRoute("notes"));
        this.$toast.success(this.$t("successfull_operation"));
      } catch (e) {
        this.pending = false;
        this.$toast.error(this.$t("invalid_credentials"));
      }
    },
  },
  async asyncData({ params, store }) {
    await Promise.all([
      store.dispatch("notes/fetchOne", params.id),
      store.dispatch("moderators/fetchAll")
    ])
  }
}
</script>
