<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.notes')" hide-search />

    <white-panel :title="$t('new_note')" :subtitle="$t('fill_information')" >
      <create-note-form :pending="pending" @form-submit="handleSubmit" />
    </white-panel>
  </b-container>
</template>

<script>
import CreateNoteForm from "@/components/notes/CreateNoteForm";

export default {
  name: "NotesCreate",
  components: {
    CreateNoteForm
  },
  data() {
    return {
      pending: false,
    }
  },
  methods: {
    async handleSubmit(form_data) {
      try {
        this.pending = true;
        await this.$store.dispatch("notes/create", form_data);
        await this.$router.push(this.localeRoute("notes"));
        this.$toast.success(this.$t("successfull_operation"));
      } catch (e) {
        this.pending = false;
        this.$toast.error(this.$t("invalid_credentials"));
      }
    },
  },
  async asyncData({ store }) {
    await store.dispatch("moderators/fetchAll")
  }
}
</script>
