<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.notes')" />

    <white-panel :loading="loading" :title="$t('menu.notes')" :subtitle="$t('check_out_notes')">
      <template #actions>
        <div class="date-range-wrapper">
          <p class="mb-1">{{ $t("date_range") }}</p>
          <div class="date-range d-flex flex-wrap">
            <b-form-group class="mr-3">
              <b-form-datepicker
                class="sm"
                dropleft
                hide-header
                v-model="filters.date_from"
                :max="filters.date_to"
                :placeholder="$t('choose_date')"
                :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                @input="handleChange"
              />
            </b-form-group>
            <b-form-group>
              <b-form-datepicker
                class="sm"
                dropleft
                hide-header
                v-model="filters.date_to"
                :min="filters.date_from"
                :placeholder="$t('choose_date')"
                :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }"
                @input="handleChange"
              />
            </b-form-group>
          </div>
        </div>
      </template>

      <template #default>
        <div class="add-note mb-2">
          <nuxt-link class="btn btn-primary btn-box" :to="$localePath('notes-create')">
            <i class="icon-plus"></i>
          </nuxt-link>
        </div>

        <data-table :fields="notes.fields">
          <tbody>
          <tr v-for="note in notes.items" :key="note.id">
            <td class="text-nowrap">{{ note.created_at }}</td>
            <td class="text-nowrap">{{ note.moderator_name }}</td>
            <td class="text-nowrap">{{ note.title }}</td>
            <td class="text-nowrap">{{ note.description | truncate(50) }}</td>
            <td>
              <div class="table-actions">
                <nuxt-link :to="$localePath('notes-id', { id: note.id })">
                  <i class="icon-eye"></i>
                </nuxt-link>
                <button @click="confirmDetele(note.id)">
                  <i class="icon-trash"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </data-table>
      </template>

      <template #footer>
        <b-pagination
          v-if="notes.items.length"
          first-number
          last-number
          align="center"
          v-model="current_page"
          :total-rows="pagination.total_count"
          :per-page="pagination.per_page"
          @change="handleChange"
        />
      </template>
    </white-panel>
    <!-- white panel -->
  </b-container>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import deletable from "@/mixins/deletable";

export default {
  name: "NotesIndex",
  mixins: [deletable],
  data() {
    return {
      filters: {
        search_query: "",
        date_from: "",
        date_to: ""
      }
    }
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading,
      pagination: ({ notes }) => notes.pagination
    }),
    ...mapGetters({
      notes: "notes/getNotes"
    }),
    current_page: {
      get() {
        return this.pagination.current_page;
      },
      set(value) {
        this.$store.commit("SET_PAGINATION_PAGE", { module: "notes", page: value });
      }
    }
  },
  watch: {
    "$route.query"(query) {
      this.$store
        .dispatch("notes/fetchAll", query)
        .then(() => this.$root.$emit("filters-applied"));
    },
  },
  methods: {
    handleSearch(query) {
      this.filters.search_query = query;
      this.handleChange();
    },

    confirmDetele(note_id) {
      this.deletable(() => {
        this.$store.dispatch("notes/delete", note_id);
      })
    },

    handleChange() {
      this.$nextTick(() => {
        this.$router.push({
          query: {
            page: this.current_page,
            ...this.$mapObjectToQuery(this.filters)
          }
        });
      });
    },
  },
  created() {
    this.$root.$on("search", this.handleSearch);
  },
  beforeDestroy() {
    this.$store.commit("SET_PAGINATION_PAGE", { module: "notes", page: 1 });
    this.$root.$off("search", this.handleSearch);
  },
  async asyncData({ query, store }) {
    await store.dispatch("notes/fetchAll", query);
  }
}
</script>
