<template>
  <b-form @submit.prevent="handleSubmit">
    <b-row>
      <b-col lg="4" sm="6">
        <form-field :label="$t('fullname')" v-model="form.name" :is-invalid="$v.form.name.$error">
          <b-form-invalid-feedback v-if="!$v.form.name.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </form-field>
      </b-col>

      <b-col lg="4" sm="6">
        <form-field :label="$t('email')" v-model="form.email" :is-invalid="$v.form.email.$error">
          <b-form-invalid-feedback v-if="!$v.form.email.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
          <b-form-invalid-feedback v-if="!$v.form.email.isEmail">
            {{ $t("not_email") }}
          </b-form-invalid-feedback>
        </form-field>
      </b-col>

      <b-col lg="4" sm="12">
        <number-field
          :label="$t('contact_number')"
          v-model="form.phone"
          :is-invalid="$v.form.phone.$error"
          placeholder="+994 (XX) XXX XX XX"
        >
          <b-form-invalid-feedback v-if="!$v.form.phone.required">
            {{ $t("required") }}
          </b-form-invalid-feedback>
        </number-field>
      </b-col>

      <b-col cols="12" class="d-flex">
        <b-button class="mr-3" variant="primary" type="submit">
          <i class="icon-check"></i>
          {{ $t('submit') }}
        </b-button>
        <b-button variant="danger" type="button" @click="$router.go(-1)">
          <i class="icon-cancel"></i>
          {{ $t('reject') }}
        </b-button>
      </b-col>
    </b-row>
  </b-form>
</template>

<script>
import { required, email } from "vuelidate/lib/validators";

export default {
  name: "UpdateModeratorForm",
  props: {
    initialData: {
      type: Object,
      default: () => ({
        name: "",
        email: "",
        phone: ""
      })
    }
  },
  data() {
    return {
      form: { ...this.initialData }
    }
  },
  validations: {
    form: {
      name: { required },
      email: { required, isEmail: email },
      phone: { required }
    }
  },
  methods: {
    handleSubmit() {
      this.$v.form.$touch();

      if (this.$v.$invalid) {
        this.$toast.error(this.$t("invalid_credentials"));
        return;
      }

      !this.pending && this.$emit("form-submit", this.form);
    }
  }
}
</script>

<style scoped>

</style>
