<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.users')" hide-search />

    <white-panel :title="$t('update_information')" :subtitle="$t('fill_information')">
      <template #default>
        <b-form @submit.prevent="handleUpdateUser">
          <b-row>
            <b-col md="6">
              <form-field :label="$t('firstname')" v-model="form.firstname" :is-invalid="$v.form.firstname.$error">
                <b-form-invalid-feedback v-if="!$v.form.firstname.required">
                  {{ $t("required") }}
                </b-form-invalid-feedback>
              </form-field>

              <form-field :label="$t('lastname')" v-model="form.lastname" :is-invalid="$v.form.lastname.$error">
                <b-form-invalid-feedback v-if="!$v.form.lastname.required">
                  {{ $t("required") }}
                </b-form-invalid-feedback>
              </form-field>

              <form-field :label="$t('email')" v-model="form.email" :is-invalid="$v.form.email.$error">
                <b-form-invalid-feedback v-if="!$v.form.email.required">
                  {{ $t("required") }}
                </b-form-invalid-feedback>
                <b-form-invalid-feedback v-if="!$v.form.email.isEmail">
                  {{ $t("not_email") }}
                </b-form-invalid-feedback>
              </form-field>

              <b-form-group :label="$t('contact_number')">
                <multiple-text-field
                  hide-count
                  phone-number
                  :fields="form.phones"
                  @add-field="handleAddField"
                  @remove-field="handleRemoveField"
                  @field-update="handleFieldUpdate"
                />
              </b-form-group>
            </b-col>

            <b-col md="6">
              <form-field disabled :label="$t('registration_date')" v-model="form.created_at" />
              <form-field disabled :label="$t('address')" v-model="form.address" />
              <form-field disabled :label="$t('postcode')" v-model="form.postal_code" />

              <b-form-group>
                <b-form-checkbox v-model="form.blocked">
                  {{ $t("block") }}
                </b-form-checkbox>
              </b-form-group>

              <div class="d-flex">
                <b-button class="mr-3" variant="primary" type="submit">
                  <i class="icon-check"></i>
                  {{ $t('submit') }}
                </b-button>
                <b-button variant="danger" type="button" @click="$router.go(-1)">
                  <i class="icon-cancel"></i>
                  {{ $t('reject') }}
                </b-button>
              </div>
            </b-col>
          </b-row>
        </b-form>
      </template>
    </white-panel>
    <!-- white panel -->
  </b-container>
</template>

<script>
import Vue from "vue";
import { mapGetters } from "vuex";
import { required, email } from "vuelidate/lib/validators";

import MultipleTextField from "@/components/form/MultipleTextField";

export default {
  name: "UsersUpdate",
  components: {
    MultipleTextField
  },
  data() {
    return {
      form: {
        firstname: "",
        lastname: "",
        email: "",
        address: "",
        postal_code: "",
        phones: [{ value: "" }],
        created_at: "",
        blocked: false
      }
    }
  },
  validations: {
    form: {
      firstname: { required },
      lastname: { required },
      email: { required, isEmail: email }
    }
  },
  computed: {
    ...mapGetters({
      user: "users/getUser"
    })
  },
  methods: {
    handleAddField() {
      this.form.phones = [...this.form.phones, { value: "" }];
    },

    handleRemoveField(index) {
      this.form.phones.splice(index, 1);
    },

    handleFieldUpdate({ value, index }) {
      this.form.phones[index] = {
        ...this.form.phones[index],
        value: value
      };
      this.form.phones = [...this.form.phones];
    },

    async handleUpdateUser() {
      this.$v.form.$touch();

      if (this.$v.$invalid) {
        this.$toast.error(this.$t("invalid_credentials"));
        return;
      }

      if (!this.pending) {
        try {
          this.pending = true;
          await this.$store.dispatch("users/update", this.form);
          await this.$router.push(this.localeRoute("users"));
          this.$toast.success(this.$t("successfull_operation"));
        } catch (e) {
          this.pending = false;
          this.$toast.error(this.$t("invalid_credentials"));
        }
      }
    },
  },
  mounted() {
    this.form = {
      ...this.user,
      phones: this.user.phones.length ? [...this.user.phones] : [{ value: "" }]
    };
  },
  async asyncData({ params, store }) {
    await store.dispatch("users/fetchOne", params.id);
  }
}
</script>
