<template>
  <b-container fluid="fluid">
    <page-header :title="$t('menu.orders')" />

    <white-panel
      :loading="loading"
      :title="$t('menu.orders')"
      :subtitle="$t('orders_count', { count: pagination.total_count })"
    >
      <template #actions>
        <div class="d-flex flex-wrap align-items-start">
          <div class="mr-3 mb-3 w-xs-100">
            <v-select
              class="sm"
              :clearable="false"
              v-model="data_filters.payment_status"
              :options="filters.payment_statuses"
              :reduce="data => data.value"
              :placeholder="$t('payment_status')"
              @input="handleChange"
            >
              <template #selected-option="{ label }">{{ $t(label) }}</template>
              <template #option="{ label }">{{ $t(label) }}</template>
            </v-select>
          </div>

          <div class="mr-3 mb-3 w-xs-100">
            <v-select
              class="sm"
              :clearable="false"
              v-model="data_filters.payment_type"
              :options="filters.payment_types"
              :reduce="data => data.value"
              :placeholder="$t('payment_type')"
              @input="handleChange"
            />
          </div>

          <div class="bm-3 w-xs-100">
            <v-select
              class="sm"
              :clearable="false"
              v-model="data_filters.delivery_status"
              :options="filters.delivery_statuses"
              :reduce="data => data.value"
              :placeholder="$t('delivery_status')"
              @input="handleChange"
            />
          </div>
        </div>
      </template>
      <!-- actions -->

      <template #default>
        <data-table :fields="orders.fields">
          <tbody>
          <tr v-for="order in orders.items">
            <td>{{ order.id }}</td>
            <td class="text-nowrap">{{ order.date_time.date }}</td>
            <td class="text-nowrap">{{ order.user.firstname }} {{ order.user.lastname }}</td>
            <td class="text-nowrap">{{ order.payment.total }} AZN</td>
            <td class="text-nowrap">{{ order.payment.method }}</td>
            <td class="text-nowrap">{{ order.payment.status ? $t("paid") : $t("not_paid") }}</td>
            <td class="text-nowrap">{{ order.delivery.status }}</td>
            <td>
              <div class="text-right">
                <nuxt-link class="btn btn-primary btn-sm" :to="$localePath('users-orders-id', { id: order.id })">
                  {{ $t('details') }}
                </nuxt-link>
              </div>
            </td>
          </tr>
          </tbody>
        </data-table>
      </template>
      <!-- default -->

      <template #footer>
        <b-pagination
          v-if="orders.items.length"
          first-number
          last-number
          align="center"
          v-model="current_page"
          :total-rows="pagination.total_count"
          :per-page="pagination.per_page"
          @change="handleChange"
        />
      </template>
      <!-- footer -->
    </white-panel>
    <!-- white panel -->
  </b-container>
</template>

<script>
import { mapState, mapGetters } from "vuex";

export default {
  name: "UserOrders",
  data() {
    return {
      data_filters: {
        search_query: "",
        payment_status: "",
        payment_type: "",
        delivery_status: ""
      }
    }
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading,
      pagination: ({ userOrders }) => userOrders.pagination
    }),
    ...mapGetters({
      filters: "userOrders/getFilters",
      orders: "userOrders/getOrders"
    }),
    current_page: {
      get() {
        return this.pagination.current_page;
      },
      set(value) {
        this.$store.commit("SET_PAGINATION_PAGE", { module: "userOrders", page: value });
      }
    }
  },
  watch: {
    "$route.query"(query) {
      const { id } = this.$route.params;
      this.$store.dispatch("userOrders/fetchAll", { id, query });
    },
  },
  methods: {
    handleSearch(query) {
      this.data_filters.search_query = query;
      this.handleChange();
    },

    handleChange() {
      this.$nextTick(() => {
        this.$router.push({
          query: {
            page: this.current_page,
            ...this.$mapObjectToQuery(this.data_filters)
          }
        });
      });
    },
  },
  created() {
    this.$root.$on("search", this.handleSearch);
  },
  beforeDestroy() {
    this.$root.$off("search", this.handleSearch);
  },
  async asyncData({ params, query, store }) {
    await store.dispatch("userOrders/fetchAll", { id: params.id, query });
  }
}
</script>
